<div class=button-group>
<a href=/admin/user class=button-selected>Users</a>
<a href=/admin/role>Roles</a>
</div>

<h1>New User</h1>
{{#unsuccessful}}
<div class=error>
<b>Sorry</b><br/>
{{#invalidUser}}
User name was not valid, please fill it in, without space, with length between 3 - 20 characters.
{{/invalidUser}}
{{#passwordUnconfirmed}}
Password must be confirmed
{{/passwordUnconfirmed}}
{{#errors}}
{{#errors.username}}
<li> {{errors.username}}
{{/errors.username}}
{{#errors.password}}
<li> {{errors.password}}
{{/errors.password}}
{{/errors}}


</div>
{{/unsuccessful}}
{{#successful}}
<div class=message>
<b>Thank you</b><br/>
Your new user is saved.
</div>
{{/successful}}
{{#form}}
<form action=/admin/new-user method=post>
<div class="box form padding-box">
  <div class="field">
  <span>User name</span>
  <input type=text name="username" value="{{username}}" />
  </div>

  <div class="field">
  <span>First name</span>
  <input type=text name="profile[firstName]" value="{{profile.firstName}}" />
  </div>

  <div class="field">
  <span>Last name</span>
  <input type=text name="profile[lastName]" value="{{profile.lastName}}" />
  </div>

  <div class="field">
  <span>Password</span>
  <input type=password name="password" value="" />
  </div>

  <div class="field">
  <span>Confirm password</span>
  <input type=password name="password2" value="" />
  </div>


  <div class="field">
  <input type=submit name=saveAndClose class="button" value="Save and close"/>
  <input type=submit name=saveAndMore class="button" value="Save and add more"/>
  </div>
</div>
</form>

{{/form}}
