<div class=button-group>
<a href=/admin/user class=button-selected>Users</a>
<a href=/admin/role>Roles</a>
</div>

<h1>Change password of {{username}}</h1>
{{#unsuccessful}}
<div class=error>
<b>Sorry</b><br/>
{{#noSuchUser}}
Username <b>{{username}}</b> is not found.
{{/noSuchUser}}
{{#passwordUnconfirmed}}
Your passwords are not confirmed 
{{/passwordUnconfirmed}}

{{#invalidPassword}}
Your password is too weak. 
{{/invalidPassword}}


{{#errors.username}}
{{errors.username}}
{{/errors.username}}

{{#errors.password}}
{{errors.password}}
{{/errors.password}}
</div>
{{/unsuccessful}}
{{#successful}}
<div class=message>
<b>Thank you</b><br/>
User {{username}} is saved.
</div>
{{/successful}}
{{#form}}
<form action=/admin/change-password method=post>
<input type=hidden name="username" value="{{username}}" />
<div class="box form">

  <div class=button-group>
  <a href="/admin/edit-user/{{username}}">Profile</a>
  <a href="/admin/email-list/{{username}}">E-mail addresses</a>
  <a href="/admin/associate-role/{{username}}">Roles</a>
  </div>
  <div class="padding-box">
  You can change the password of {{username}} by entering the new password, followed by the same password to confirm in the form below.

  <div class="field">
  <span>Password</span>
  <input type=password name="password" />
  </div>

  <div class="field">
  <span>Confirm password</span>
  <input type=password  name="password2" />
  </div>

  <div class="field">
  <input type=submit name=saveAndClose class="button" value="Save and close"/>
  </div>

  </div>
</div>
</form>

{{/form}}
