<!-- Page heading -->
      <div class="page-head">
        <!-- Page heading -->
        <h2 class="pull-left">Daftar e-mail dari {{username}}</h2>

        <div class="clearfix"></div>

      </div>
      <!-- Page heading ends -->

      <!-- Matter -->

      <div class="matter">
        <div class="container-fluid">

        {{#unsuccessful}}
        <div class="alert alert-error">
        <b>Maaf</b><br/>

        {{#noSuchUser}}
        Nama pengguna <b>{{username}}</b> tidak ditemukan.
        {{/noSuchUser}}

        {{#invalidEmail}}
        Alamat surel yang Anda masukkan salah
        {{/invalidEmail}}

        {{#notAdding}}
        Surel {{email}} tidak berhasil terasosiasi dengan {{username}}. 
        {{#usedByUsername}}
        Alamat surel {{email}} sudah digunakan oleh {{usedByUsername}}.
        {{/usedByUsername}}
        {{/notAdding}}

        </div>
        {{/unsuccessful}}
        {{#successful}}
        <div class="alert alert-success">
        <b>Terima kasih</b><br/>
        Surel untuk {{username}} tersimpan.
        </div>
        {{/successful}}
        {{#form}}
        <form class="userform well form-horizontal" action=/{{#localAdmin}}local{{/localAdmin}}admin/email-list method=post>
        <input type=hidden name="username" value="{{username}}" />

          <div class="usetab btn-group">
        	 <a class="btn" href="/{{#localAdmin}}local{{/localAdmin}}admin/edit-user/{{username}}">Profil</a>
        	 <a class="btn" href="/{{#localAdmin}}local{{/localAdmin}}admin/change-password/{{username}}">Kata sandi</a>
        	 <a class="btn active" href="/{{#localAdmin}}local{{/localAdmin}}admin/email-list/{{username}}">Surel</a>
           <a class="btn" href="/{{#localAdmin}}local{{/localAdmin}}admin/phones/{{username}}">Telepon</a>
        	 <a class="btn" href="/{{#localAdmin}}local{{/localAdmin}}admin/associate-role/{{username}}">Kewenangan</a>
          </div>
          <br>

        {{#hasEmailList}}
        <div class="alert alert-info">
        Di bawah ini daftar alamat surel yang terasosiasi dengan {{username}}
        </div>
        <table class="table table-striped table-bordered table-condensed">
        {{/hasEmailList}}
        {{#emailList}}
        <tr class="table-entry">
        <td>
            <input type="checkbox" name="marked" value="{{email}}">
        </td>
        <td>{{email}}</td>
        <td>{{#isValidated}}
        (validated)
        {{/isValidated}}</td>
        </tr>
        {{/emailList}}
        {{#hasEmailList}}
        </table>

        <div class="alert alert-info">
          Anda dapat menghapus salah satu alamat surel di atas dengan cara memilihnya dan klik
        <input type=submit name=remove value=Hapus class="btn btn-warning" />
        </div>
        {{/hasEmailList}}

        {{^emailList}}
        <div class="alert alert-info">
        <i>Pengguna dengan {{username}} tidak memiliki alamat surel.</i>
        </div>
        {{/emailList}}

          Anda dapat memasukkan alamat surel yang baru untuk diasosiasikan dengan {{username}}.  
          
          <fieldset>
          <div class="control-group">
              <label class="control-label" for="email">Alamat surel</label>
              <div class="controls">
                 <input class="span3" type="email" name="email" value="{{email}}" />
              </div>
          </div>
          
          <input type=submit name=saveAndClose class="btn btn-primary" value="Simpan"/>
          </fieldset>
        </form>

        {{/form}}

      </div>
    </div> <!-- Matter -->
<script type="text/javascript" src="/js/user-admin.js"></script>
