<link rel="stylesheet" href="/upload/css/jquery.fileupload.css">
<link rel="stylesheet" href="/upload/css/jquery.fileupload-ui.css">

<div class="row-fluid">
  <div class="span12">
    <div class="pull-left">
      <h2>Daftar Sambungan</h2>
    </div>
  </div>
</div>
<div class="matter">
  {{^nodes}}
  Belum ada sambungan
  {{/nodes}}

  <div class="container-fluid">

    {{ message }}

    <ol id="groups">
    </ol>

    <input id="groupedBase64" type="hidden" value="{{ groupedBase64 }}"/>

  </div>
</div>

</script>

<script type="text/javascript">
$(function() {
  // todo cross browser base64
  var encoded = $("#groupedBase64").val();
  var decoded = atob(encoded);

  var grouped = {};
  try {
    grouped = JSON.parse(decoded);
  } catch(e){

  }

  function bind(){

    $(".remove").click(function(){
      $.ajax({
        url: "/admin/nodes/" + $(this).attr("id") + "?col=node",
        type: "DELETE",
        success: function(res) {
           location.reload();
        }
      });
    });

    $(".link").click(function(){

      $.post("/admin/nodes/" + $(this).attr("id"), {
        action : $(this).data("action")
      }, function(res){
        location.reload();
      })
    });

    $(".fingerprint").click(function(){
      $(this).siblings(".cert").toggle();
    });
  }

  for (var k in grouped){
    var group = grouped[k];
    var org = $("<span>").html("<b>" +  group.info.profile.organization + "</b>");
    var br = $("<br>");
    var name = $("<span>").text("Penanggung jawab: " + group.info.profile.fullName);
    var user = $("<span>").html("&nbsp;(<a href='/admin/edit-user/" + group.info.username + "'>" + group.info.username + "</a>)");

    var ul = $("<ol>");

    for (var i = 0; i < group.data.length; i++){
      var fp = $("<span class='fingerprint'>").html(group.data[i].fingerprint + "<br />"); 
      var cert = $("<textarea readonly class='cert' style='display : none;'>").text(group.data[i].publicCert + "<br />"); 
      var date = $("<span>").html(group.data[i].date);
      var del = $("<br/><button class='btn btn-mini btn-danger remove' id=" + group.data[i]._id + ">").text("Hapus"); 
      var down = $("<a class='btn btn-mini btn-primary download' href='/admin/cert/" + group.data[i]._id + "' id=" + group.data[i]._id + ">").text("Unduh"); 

      var active = group.data[i].state == "connected";
      var link = $("<button class='btn btn-mini btn-" + (active ? "warning" : "success") + " link' id=" + group.data[i]._id + " data-action='" + (active ? "disable" : "connect") + "'>").text(active ? "Putus" : "Sambung"); 

      var dli = $("<li>").append(fp).append(cert).append($("<br class='cert' style='display : none;' />")).append(date).append(del).append(down).append(link);

      ul.append(dli);
    }

    var li = $("<li>").append(org).append(br).append(name).append(user).append(ul);
    var ol = $("#groups").append(li);
  }

  bind();

  $("input").css("color", "#393939");
  $("textarea").css("color", "#393939");
  $(".fingerprint").css("cursor", "pointer");

});
</script>

