<!-- Page heading -->
      <div class="page-head">
        <!-- Page heading -->
        <h2 class="pull-left">Kewenangan {{username}}</h2>

        <div class="clearfix"></div>

      </div>
      <!-- Page heading ends -->

      <!-- Matter -->

      <div class="matter">
        <div class="container-fluid">

          {{#unsuccessful}}
          <div class="alert alert-error">
          <b>Maaf</b><br/>

          {{#noSuchUser}}
          Nama pengguna <b>{{username}}</b> tidak ditemukan.
          {{/noSuchUser}}

          </div>
          {{/unsuccessful}}
          {{#successful}}
          <div class="alert alert-success">
          <b>Terima kasih</b><br/>
          Kewenangan {{username}} tersimpan.
          </div>
          {{/successful}}

          <form class="userform well form-horizontal" action=/{{#localAdmin}}local{{/localAdmin}}admin/associate-role method=post>
          <input type=hidden name="username" value="{{username}}" />
          <div class="box form">
            
            <div class="usertab btn-group">
          	 <a class="btn" href="/{{#localAdmin}}local{{/localAdmin}}admin/edit-user/{{username}}">Profil</a>
          	 <a class="btn" href="/{{#localAdmin}}local{{/localAdmin}}admin/change-password/{{username}}">Kata sandi</a>
          	 <a class="btn" href="/{{#localAdmin}}local{{/localAdmin}}admin/email-list/{{username}}">Surel</a>
             <a class="btn" href="/{{#localAdmin}}local{{/localAdmin}}admin/phones/{{username}}">Telepon</a>
          	 <a class="btn active" href="/{{#localAdmin}}local{{/localAdmin}}admin/associate-role/{{username}}">Kewenangan</a>
            </div>
            <br>

          <p>Anda dapat menambahkan kewenangan ke {{username}} dengan cara memilihnya di bawah ini.</p>

          <table class="table table-striped table-bordered table-condensed" id="role-list">
          <thead>
            <tr>
              <th class="top-left inactive"></th>
              <th class="inactive">Kewenangan</th>
              <th class="top-right inactive">Deskripsi</th>
            </tr>
          </thead>
          <tbody>
          {{#roles}}
            <tr>
              <td><input type=checkbox name=marked value="{{roleName}}" {{checked}} style="opacity:1"/></td>
              <td>{{roleName}}</td>
              <td>{{roleDescription}}</td>
            </tr>
          {{/roles}}
          {{^roles}}
            <tr>
              <td colspan=2 class="center"><i>No data</i></td>
            </tr>
          {{/roles}}
          </table>


            <input type=submit name=saveAndClose class="btn btn-primary" value="Simpan"/>
          </div>
          </form>

        </div>
      </div> <!-- Matter -->

<script type="text/javascript" src="/js/user-admin.js"></script>
