<!-- Page heading -->
      <div class="page-head">
        <!-- Page heading -->
        <h2 class="pull-left">Ubah Kata Sandi <a href="/{{#localAdmin}}local{{/localAdmin}}admin/edit-user/{{username}}">{{username}}</a></h2>

        <div class="clearfix"></div>

      </div>
      <!-- Page heading ends -->

      <!-- Matter -->

      <div class="matter">
        <div class="container-fluid">

          {{#unsuccessful}}
          <div class="alert alert-error">
          <b>Maaf</b><br/>
          {{#noSuchUser}}
          Nama pengguna <b>{{username}}</b> tidak ditemukan.
          {{/noSuchUser}}
          {{#passwordUnconfirmed}}
          Kata sandi Anda tidak dapat dikonfirmasi 
          {{/passwordUnconfirmed}}

          {{#invalidPassword}}
          Kata sandi Anda terlalu mudah. 
          {{/invalidPassword}}


          {{#errors.username}}
          {{errors.username}}
          {{/errors.username}}

          {{#errors.password}}
          {{errors.password}}
          {{/errors.password}}
          </div>
          {{/unsuccessful}}
          {{#successful}}
          <div class="alert alert-success">
          <b>Terima kasih</b><br/>
          Data <a href="/{{#localAdmin}}local{{/localAdmin}}admin/edit-user/{{username}}">{{username}}</a> tersimpan.
          </div>
          {{/successful}}
          {{#form}}
          <form class="userform well form-horizontal" action=/{{#localAdmin}}local{{/localAdmin}}admin/change-password method=post>
          <input type=hidden name="username" value="{{username}}" />

            <div class="usertab btn-group">
          	 <a class="btn" href="/{{#localAdmin}}local{{/localAdmin}}admin/edit-user/{{username}}">Profil</a>
          	 <a class="btn active" href="/{{#localAdmin}}local{{/localAdmin}}admin/change-password/{{username}}">Kata Sandi</a>
          	 <a class="btn" href="/{{#localAdmin}}local{{/localAdmin}}admin/email-list/{{username}}">Surel</a>
             <a class="btn" href="/{{#localAdmin}}local{{/localAdmin}}admin/phones/{{username}}">Telepon</a>
          	 <a class="btn" href="/{{#localAdmin}}local{{/localAdmin}}admin/associate-role/{{username}}">Kewenangan</a>
            </div>
            <br>
            <p>Anda dapat mengubah kata sandi {{username}} dengan cara mengetikkan kata sandi baru, diikuti dengan kata sandi yang sama untuk konfirmasi pada form di bawah.</p>
            <h5 class="lighter block red">Kata sandi minimal 6 karakter serta mengandung kombinasi huruf dan angka</h5>
            
            <fieldset>
              <div class="control-group">
                <label class="control-label" for="password">Kata Sandi</label>
                <div class="controls">
                  <input type="password" class="span3" name="password">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="password2">Konfirmasi Kata Sandi</label>
                <div class="controls">
                  <input type="password" class="span3" name="password2">
                </div>
              </div>
              <input type=submit name=saveAndClose class="btn btn-primary" value="Simpan dan tutup"/>
            </fieldset>

          </form>

          {{/form}}

        </div>
      </div> <!-- Matter -->

<script type="text/javascript" src="/js/user-admin.js"></script>
