<link rel="stylesheet" href="/css/fullcalendar.css" />
<link rel="stylesheet" href="/css/calendar-picker.css" />
<div class="row-fluid">
  <div class="span12">
    <div class="pull-left">
      <h2>Agenda Surat Keluar</h2>
    </div>
    <div class="pull-right">
      <form class="form-search" action="/agenda/outgoing" method="get">
        <div class="search-date inline hidden">
          <span class="label label-grey">Dari </span>
          <input type="text" name="search[startDate]">
          <span class="add-on"><i data-max-date="today" class="icon-calendar calendar-picker" data-field="search[startDate]"></i></span>i
          <span class="label label-grey"> sampai </span>
          <input type="text" name="search[endDate]">
          <span class="add-on"><i data-max-date="today" class="icon-calendar calendar-picker" data-field="search[endDate]"></i></span>
        </div>
        <input id="search-string" type="text" class="search-query" name="search[string]" value="{{searchString}}">
        <select id="search-type" name="search[letterType]">
          <option value="" >Semua Jenis</option>
          <option value="0" {{searchLetterType0}}>Peraturan</option>
          <option value="1" {{searchLetterType1}}>Pedoman</option>
          <option value="2" {{searchLetterType2}}>Petunjuk Pelaksanaan</option>
          <option value="3" {{searchLetterType3}}>Instruksi</option>
          <option value="4" {{searchLetterType4}}>Prosedur Tetap (SOP)</option>
          <option value="5" {{searchLetterType5}}>Surat Edaran</option>
          <option value="6" {{searchLetterType6}}>Keputusan</option>
          <option value="7" {{searchLetterType7}}>Surat Perintah/Surat Tugas</option>
          <option value="8" {{searchLetterType8}}>Nota Dinas</option>
          <option value="9" {{searchLetterType9}}>Memorandum</option>
          <option value="10" {{searchLetterType10}}>Surat Dinas</option>
          <option value="11" {{searchLetterType11}}>Surat Undangan</option>
          <option value="12" {{searchLetterType12}}>Surat Perjanjian</option>
          <option value="13" {{searchLetterType13}}>Surat Kuasa</option>
          <option value="14" {{searchLetterType14}}>Berita Acara</option>
          <option value="15" {{searchLetterType15}}>Surat Keterangan</option>
          <option value="16" {{searchLetterType16}}>Surat Pengantar</option>
          <option value="17" {{searchLetterType17}}>Pengumuman</option>
          <option value="18" {{searchLetterType18}}>Laporan</option>
          <option value="19" {{searchLetterType19}}>Lain-lain</option>
          <option disabled>-------------------</option>
          <option value="search-by-date" data-type="date" >Tanggal</option>
        </select>
        <button type="submit" class="btn"><i class="icon-search"></i></button>
      </form>
    </div>
  </div>
</div>

    {{^letters.length}}
      <div class="alert alert-info">
        Tidak ada data.
      </div>
    {{/letters.length}}
 
    {{#letters.length}}
    <table class="table table-bordered table-striped">
      <thead>
       <tr>
        <th class="letter-sorting" data-field="date">Tanggal</th>
        <th class="letter-sorting" data-field="mailId">Nomor Surat</th>
        <th class="letter-sorting" data-field="outgoingAgenda">Agenda Keluar</th>
        <th class="letter-sorting" data-field="sender">Atas Nama</th>
        <th class="letter-sorting" data-field="title">Perihal</th>
      </tr>
      </thead>
 
      <tbody class="clickable">
    {{#letters}}
      <tr class="table-entry" onclick="document.location='/letter/read/{{_id}}'">
          <td><span class="moment" data-value="{{date}}" data-format="dddd, DD MMMM YYYY"></td>
        <td>{{mailId}}</td>
        <td>{{outgoingAgenda}}</td>
        <td class="resolve-name">{{sender}}</td>
        <td>

        {{#readStates.recipients}}<span class="badge badge-success">Sudah dibaca</span>{{/readStates.recipients}}
        {{^readStates.recipients}}<span class="badge">Belum dibaca</span>{{/readStates.recipients}}
        {{#secret}}[SECRET]{{/secret}}{{#highPriority}}<span style="color:red;font-weight:bold">!</span> {{/highPriority}}{{title}}</td>
      </tr>
    {{/letters}}
      </tbody>
    </table>
    {{/letters.length}}
</div>
<div class="pull-center">
      <div class="pagination" data-total="{{total}}" data-label-total="%TOTAL% surat" data-page="{{page}}"></div>
</div>

<script src='/js/resolve-name.js'></script>
<script src='/js/letter-sorting.js'></script>
<script type="text/javascript" src="/lib/moment.min.js"></script>
<script type="text/javascript" src="/js/moment.js"></script>
<script type="text/javascript" src="/js/letter-data.js"></script>
<script src="/js/pagination.js"></script>
<script type="text/javascript" src='/lib/fullcalendar.min.js'></script>
<script type="text/javascript" src='/js/calendar-picker.js'></script>
<script>
  $(document).ready(function() {
    $(".pagination").pagination();
    $(".calendar-picker").calendarPicker();
  });
</script>

