<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>

    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--basic styles-->

    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/font_awesome/css/font-awesome.min.css" />

    <!--[if IE 7]>
      <link rel="stylesheet" href="/css/font-awesome-ie7.min.css" />
    <![endif]-->

    <!--page specific plugin styles-->

    <!--fonts-->

    <link rel="stylesheet" href="/css/fonts.css" />

    <!--ace styles-->

    <link rel="stylesheet" href="/css/ace.min.css" />
    <link rel="stylesheet" href="/css/simaya.css" />
    <link rel="stylesheet" href="/css/ace-responsive.min.css" />
    <link rel="stylesheet" href="/css/ace-skins.min.css" />

    <!--[if lte IE 8]>
      <link rel="stylesheet" href="/css/ace-ie.min.css" />
    <![endif]-->

    {{#cssAdditions}}
    <link rel="stylesheet" type="text/css" href="{{ src }}">
    {{/cssAdditions}}

    <!--inline styles if any-->
    <script type="text/javascript">
      window.jQuery || document.write("<script src='/lib/jquery.min.js'>"+"<"+"/script>");
    </script>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <script src='/js/resolve-name.js'></script>
  </head>

  <body>
    <div class="navbar navbar-default" id="navbar">
      <script type="text/javascript">
        try{ace.settings.check('navbar' , 'fixed')}catch(e){}
      </script>
      
      <div class="navbar-inner">
        <div class="container-fluid">
          <a href="/" class="brand">
            <small>
              <img src="/images/logo-simaya.png">
              {{sys.appName}} v.{{sys.version}}
            </small>
          </a><!--/.brand-->

          <ul class="nav ace-nav pull-right">
            {{#localAdmin}}
            <li class="red">
              <a href="/localadmin" target=_admin><i class="icon-cogs"></i> Konsol Admin</a>
            </li>
            {{/localAdmin}}
            {{#globalAdmin}}
            <li class="red">
              <a href="/admin" target=_admin><i class="icon-cogs"></i> Konsol Admin</a>
            </li>
            {{/globalAdmin}}
            <li class="green">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                &nbsp;
                <i class="icon-envelope-alt icon-only icon-animated-vertical"></i>
                <span class="badge badge-success" id="unRead">0</span>
              </a>

              <ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-closer" id="topNotify">
                <li class="nav-header">
                  <i class="icon-envelope"></i>
                  Notifikasi
                </li>

                <li>
                  <a href="/notification">
                    Lihat semua notifikasi
                    <i class="icon-arrow-right"></i>
                  </a>
                </li>
              </ul>
            </li>

            <li class="light-blue user-profile">
              <a data-toggle="dropdown" href="#" class="user-menu dropdown-toggle">
                <img class="user-info nav-user-photo" src="/profile/get-avatar?username={{username}}" data-username="{{username}}" alt="{{username}}" />
                <span id="user_info">
                  <small>Halo,</small>
                  {{fullName}}
                </span>

                <i class="icon-caret-down"></i>
              </a>

              <ul class="pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer" id="user_menu">
                <li>
                  <a href="/profile">
                    <i class="icon-user"></i>
                    Profil
                  </a>
                </li>

                <li>
                  <a href="/profile/change-password">
                    <i class="icon-key"></i>
                    Ubah Kata Sandi
                  </a>
                </li>

                <li>
                  <a href="/help">
                    <i class="icon-info"></i>
                    Panduan
                  </a>
                </li>

                <li>
                  <a href="http://helpdesk.layanan.go.id" target="_blank">
                    <i class="icon-question"></i>
                    <em>Help Desk</em>
                  </a>
                </li>

                <li class="divider"></li>

                <li>
                  <a href="/signout">
                    <i class="icon-off"></i>
                    Keluar
                  </a>
                </li>
              </ul>
            </li>
          </ul><!--/.ace-nav-->
        </div><!--/.container-fluid-->
      </div><!--/.navbar-inner-->
    </div>

    <div class="main-container" id="main-container">
      <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
      </script>

      <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
          <span class="menu-text"></span>
        </a>

        <div class="sidebar" id="sidebar">
          <script type="text/javascript">
            try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
          </script>

          <ul class="nav nav-list">
            
            <li>
              <a href="/timeline" class="">
                <i class="icon-comments"></i>
                <span>Lini Masa</span>
              </a>
            </li>


            {{#side_bar}}
            <li>
              <a href="#" class="dropdown-toggle">
                <i class="{{icon}}"></i>
                <span>{{text}}</span>

                <b class="arrow icon-angle-down"></b>
              </a>

              <ul class="submenu">
                {{#submenu}}
                <li>
                  <a href="{{route}}">
                    <i class="icon-double-angle-right"></i>
                    {{text}}
                  </a>
                </li>
                {{/submenu}}
              </ul>
            </li>
            {{/side_bar}}

            <li>
              <a href="#" class="dropdown-toggle">
                <i class="icon-calendar"></i>
                <span>Kalendar</span>

                <b class="arrow icon-angle-down"></b>
              </a>

              <ul class="submenu">
                <li>
                  <a href="/calendar/day">
                    <i class="icon-double-angle-right"></i>
                    Kalendar
                  </a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#" class="dropdown-toggle">
                <i class="icon-group"></i>
                <span>Buku Alamat</span>

                <b class="arrow icon-angle-down"></b>
              </a>

              <ul class="submenu">
                <li>
                  <a href="/contacts">
                    <i class="icon-double-angle-right"></i>
                    Daftar Kontak
                  </a>
                </li>
                <li>
                  <a href="/contacts/waiting">
                    <i class="icon-double-angle-right"></i>
                    Daftar Tunggu
                  </a>
                </li>
                <li>
                  <a href="/contacts/to-be-approved">
                    <i class="icon-double-angle-right"></i>
                    Daftar Periksa
                  </a>
                </li>
              </ul>
            </li>
            
            <li id="menu-pnsmail">
              <a target="pnsmail" href="https://www.pnsmail.go.id/">
                <i class="icon-envelope-alt"></i>
                <span>PNS Mail</span>
              </a>
            </li>
            
            <li id="menu-box">
              <a href="/box/dir/{{ username }}">
                <i class="icon-folder-open"></i>
                <span>Berkas</span>
              </a>
            </li>
          </ul><!--/.nav-list-->

          <div id="sidebar-collapse">
            <i class="icon-double-angle-left"></i>
          </div>

          <script type="text/javascript">
            try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
          </script>
        </div>

      </div>

      <div id="main-content" class="clearfix">
        <div id="breadcrumbs">
          <ul class="breadcrumb">
            <li>
              <i class="icon-home"></i>

              <span class="divider">
                <i class="icon-angle-right"></i>
              </span>
            </li>

            {{#breadcrumb}}
              <li {{#isActive}}class="active"{{/isActive}}>
                {{^isActive}}
                  <a href="{{^link}}#{{/link}}{{#link}}{{link}}{{/link}}">{{text}}</a>
                  <span class="divider">
                    <i class="icon-angle-right"></i>
                  </span>
                {{/isActive}}
                {{#isActive}}
                  {{text}}
                {{/isActive}}
              </li>
            {{/breadcrumb}}
          </ul><!--.breadcrumb-->
        </div>

        <div id="page-content" class="clearfix" style="overflow-x:scroll">
          {{#content}}
          {{/content}}
        </div>
      </div><!--/#main-content-->

    </div><!--/.fluid-container#main-container-->

    <a href="#" id="btn-scroll-up" class="btn btn-small btn-inverse">
      <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
    
    <!--basic scripts-->
    <script type="text/javascript" src="/js/notification-message.js"></script>
    <script type="text/javascript" src="/js/notifications.js"></script>
    <script src="/lib/bootstrap.min.js"></script>

    <!--page specific plugin scripts-->

    <!--ace scripts-->
    <script src="/lib/ace-elements.min.js"></script>
    <script src="/lib/ace.min.js"></script>

    <!-- Notification -->
    <script src='/lib/jquery.cookie.js'></script>
    <script src='/js/announcement.js'></script>
    <div id="announcement-modal" class="modal fade" data-title="Pengumuman" data-dismiss-text="Tutup"></div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/io.js"></script>

    {{#jsAdditions}}
    <script type="text/javascript" src="{{ src }}"></script>
    {{/jsAdditions}}

  </body>
</html>
