<link rel="stylesheet" href="/css/fullcalendar.css" />
<link rel="stylesheet" href="/css/calendar-picker.css" />
<div class="row-fluid">
  <div class="span12">
    <div class="pull-left">
      <h2>Disposisi Tembusan</h2>
    </div>
    <div class="pull-right">
      <form class="form-search" action="/dispositions/outgoing" method="get">
        <div class="search-date inline hidden">
          <span class="label label-grey">Dari </span>
          <input type="text" name="search[startDate]">
          <span class="add-on"><i data-max-date="today" class="icon-calendar calendar-picker" data-field="search[startDate]"></i></span>i
          <span class="label label-grey"> sampai </span>
          <input type="text" name="search[endDate]">
          <span class="add-on"><i data-max-date="today" class="icon-calendar calendar-picker" data-field="search[endDate]"></i></span>
        </div>
        <input id="search-string" type="text" class="search-query" name="search[string]" value="{{searchString}}">
        <select id="search-type" name="search[letterType]">
          <option value="" >Semua Jenis</option>
          <option value="0" {{searchLetterType0}}>Peraturan</option>
          <option value="1" {{searchLetterType1}}>Pedoman</option>
          <option value="2" {{searchLetterType2}}>Petunjuk Pelaksanaan</option>
          <option value="3" {{searchLetterType3}}>Instruksi</option>
          <option value="4" {{searchLetterType4}}>Prosedur Tetap (SOP)</option>
          <option value="5" {{searchLetterType5}}>Surat Edaran</option>
          <option value="6" {{searchLetterType6}}>Keputusan</option>
          <option value="7" {{searchLetterType7}}>Surat Perintah/Surat Tugas</option>
          <option value="8" {{searchLetterType8}}>Nota Dinas</option>
          <option value="9" {{searchLetterType9}}>Memorandum</option>
          <option value="10" {{searchLetterType10}}>Surat Dinas</option>
          <option value="11" {{searchLetterType11}}>Surat Undangan</option>
          <option value="12" {{searchLetterType12}}>Surat Perjanjian</option>
          <option value="13" {{searchLetterType13}}>Surat Kuasa</option>
          <option value="14" {{searchLetterType14}}>Berita Acara</option>
          <option value="15" {{searchLetterType15}}>Surat Keterangan</option>
          <option value="16" {{searchLetterType16}}>Surat Pengantar</option>
          <option value="17" {{searchLetterType17}}>Pengumuman</option>
          <option value="18" {{searchLetterType18}}>Laporan</option>
          <option value="19" {{searchLetterType19}}>Lain-lain</option>
          <option disabled>-------------------</option>
          <option value="search-by-date" data-type="date" >Tanggal</option>
        </select>
        <button type="submit" class="btn"><i class="icon-search"></i></button>
      </form>
    </div>
  </div>
</div>

    {{^dispositions.length}}
      <div class="alert alert-info">
        Tidak ada data.
      </div>
    {{/dispositions.length}}
 <br />
 
    {{#dispositions.length}}
    <table class="table table-bordered table-striped">
		<thead>
			<tr>
			<th>Tanggal</th>
			<th>Penerima</th>
			<th>Nomor Surat</th>
			<th>Perihal</th>
			</tr>
		</thead>
		<tbody class="clickable">
      {{#dispositions}}
      <tr class="table-entry" onclick="document.location='/disposition/read/{{_id}}'">
        <td><span class="moment" data-format="dddd, DD MMMM YYYY" data-value="{{date}}"></span></td>
        <td>{{#recipients}}
            <li> 
                <span class="resolve-name">{{recipient}}</span>
      {{#declinedDate}}<span class="label label-important">Ditolak</span>{{/declinedDate}}
      {{^declinedDate}}
      {{#readDate}}<span class="label label-success">Terbaca</span>{{/readDate}}
      {{^readDate}}<span class="label label-important">Belum dibaca</span>{{/readDate}}
      {{/declinedDate}}

      {{#followedUpDate}}<span class="label label-success">Ditanggapi</span>{{/followedUpDate}}
      {{#priority0}}<span class="label label-success">Biasa</span>{{/priority0}}
      {{#priority1}}<span class="label label-warning">Segera</span>{{/priority1}}
      {{#priority2}}<span class="label label-important">Amat Segera</span>{{/priority2}}

      {{#security0}}<span class="label label-success">Biasa</span>{{/security0}}
      {{#security1}}<span class="label label-warning">Rahasia</span>{{/security1}}
      {{#security2}}<span class="label label-important">Amat Rahasia &nbsp;<i class="icon-warning-sign icon-white"></i></span>{{/security2}}
            </li>
            {{/recipients}}
            </td>
        <td>{{letterMailId}}</td>
        <td>{{letterTitle}}</td>
      </tr>
      {{/dispositions}}
      </tbody>
    </table>
    {{/dispositions.length}}
<script src='/js/resolve-name.js'></script>
<div class="pull-center">
  <div class="pagination">
    <ul>
      {{#dispPages.prev}}
        <li class="pagination {{^active}}disabled{{/active}}"><a href="/dispositions/outgoing?page={{page}}&search[string]={{searchKey}}">Prev</a></li>
      {{/dispPages.prev}}

      {{#dispPages.numbers}}
        <li class="pagination {{#active}}active{{/active}}">
          <a href="/dispositions/outgoing?page={{page}}&search[string]={{searchKey}}">{{page}}</a>
        </li>
      {{/dispPages.numbers}}

      {{#dispPages.next}}
        <li class="pagination {{^active}}disabled{{/active}}"><a href="/dispositions/outgoing?page={{page}}&search[string]={{searchKey}}">Next</a></li>
      {{/dispPages.next}}
    </ul>
  </div>
</div>
<script type="text/javascript" src="/lib/moment.min.js"></script>
<script type="text/javascript" src="/js/moment.js"></script>
<script type="text/javascript" src='/lib/fullcalendar.min.js'></script>
<script type="text/javascript" src='/js/calendar-picker.js'></script>
<script type="text/javascript" src='/js/letter-data.js'></script>
<script>
  $(document).ready(function() {
    $(".calendar-picker").calendarPicker();
  });
</script>
