
<link rel="stylesheet" href="/upload/css/jquery.fileupload.css">
<link rel="stylesheet" href="/upload/css/jquery.fileupload-ui.css">
<p align="right">
	<a href="#" class="btn btn-success" id="btn-print">Cetak</a>
  {{#isRecipient}}
	<a href="#" class="btn btn-primary" id="btn-share-trigger">Bagikan</a>
  {{/isRecipient}}
	{{#allowDisposition}}
	{{#allowNewDisposition}}
	<a href="/disposition/new?letterId={{letterId}}&reference={{_id}}" class="btn btn-primary">Buat disposisi</a>
	{{/allowNewDisposition}}
	
  {{#canViewLetter}}
	<a href="#" onclick="Popup=window.open('/letter/single/{{letterId}}','Popup','toolbar=no,location=no,status=no,menubar=no,scrollbars=no,resizable=yes,width=800,height=600'); return false;" class="btn btn-primary">Lihat Surat</a>
  {{/canViewLetter}}
	{{#allowCreateLetter}}
	<a href="/outgoing/new?original={{letterId}}&disposition={{_id}}" class="btn btn-primary">Tanggapi</a>
	{{/allowCreateLetter}}

	{{#allowDecline}}
	<a href="#" id="decline-disposition" class="btn btn-warning">Tolak</a>
  <div id="decline-dialog" class="modal hide fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Tolak disposisi ini?</h3>
    </div>
    <div class="modal-body">
      Silakan isi pesan penolakan disposisi:<br/>
      <textarea id="decline-message"></textarea>
    </div>
    <div class="modal-footer">
      <a href="#" data-dismiss="modal" class="btn">Tutup</a>
      <a id="btn-decline-disposition" href="#" class="btn btn-primary" disabled>Tolak</a>
    </div>
  </div>

  <script>
    $("#decline-disposition").click(function(e) {
      e.preventDefault();
      $("#decline-dialog").modal("show");
    })

    $("#decline-message").bind("change keyup", function(e) {
      if ($(this).val() && $(this).val().length > 0) {
        $("#btn-decline-disposition").attr("disabled", false);
      } else {
        $("#btn-decline-disposition").attr("disabled", true);
      }
    });
    $("#btn-decline-disposition").click(function(e) {
      e.preventDefault();
      if ($(this).prop("disabled")) {
        
        return;
      }
      var data =  { 
          dispositionId: "{{_id}}", 
          message: $("#decline-message").val(),
        }
      $.post("/disposition/decline", data,
      function(data) {
        location.reload();
      }, "json")
  })




  </script>

	{{/allowDecline}}
	{{/allowDisposition}}
</p>

<div>
{{#letter}}
<h2>Informasi surat</h2>

<table class="table">
	<tbody>
		<tr>
			<td class="span3" style="background-color:#f9f9f9;"><strong>Nomor Agenda Surat Masuk</strong></td>
			<td class="span3">
				{{incomingAgendaNumber}}
			</td>
			<td class="span3" style="background-color:#f9f9f9;"><strong>Tanggal Penerimaan Surat</strong></td>
			<td class="span3">
				{{#readDate}}
        <span class="moment" data-format="dddd, DD MMMM YYYY" data-value="{{readDate}}"></span>
				{{/readDate}}
			</td>
		</tr>
		<tr>
			<td class="span3" style="background-color:#f9f9f9;"><strong>Nomor Surat</strong></td>
			<td class="span3">
				{{mailId}}
			</td>
			<td class="span3" style="background-color:#f9f9f9;"><strong>Tanggal Surat</strong></td>
			<td class="span3">
				{{formattedDate}}
			</td>
		</tr>
		<tr>
			<td class="span3" style="background-color:#f9f9f9;"><strong>Tujuan</strong></td>
			<td class="span3">
				<ol style="list-style:none;margin:0">
					{{#recipients}}
          <li><span class="resolve-name">{{.}}</span>
					{{/recipients}}
          
					{{#recipientsResolved}}
					<li>
						{{name}}<br/> {{title}} {{organization}} <br>(Golongan {{class}})
					</li>
					{{/recipientsResolved}}
				</ol>
			</td>

			<td class="span3" style="background-color:#f9f9f9;"><strong>Pengirim</strong></td>
			<td class="span3">
				{{#senderManual.name}}
		        {{senderManual.name}}<br/>
		        {{senderManual.organization}}
		        {{/senderManual.name}}
		        {{^senderManual.name}}
				{{/senderManual.name}}
		 
            <span class="add-as-contact" data-username="{{senderResolved.username}}"><span class="resolve-name">{{sender}}</span></span>
			</td>
		</tr>
	</tbody>
</table>

{{#fileAttachments.length}}
<h4><i class="icon-file-alt"></i>&nbsp;&nbsp;Pindaian</h4>
<ol>
	{{#fileAttachments}}
	<li>
		<a data-href="/letter/attachment/{{path}}" data-attachment-id="{{path}}" data-disposition-id="{{dispositionId}}" data-letter-id="{{_id}}" class="attachment-preview" 
          {{#allowDisposition}}
          {{#allowNewDisposition}}
            data-allow-disposition=true
          {{/allowNewDisposition}}
          {{/allowDisposition}}
          >{{name}}</a>
	</li>
	{{/fileAttachments}}
</ol>

{{/fileAttachments.length}}
<br>
	
{{#ccListResolved.length}}
<table class="table table-bordered">
	<thead>
		<tr>
		<th>Tembusan</th>
		</tr>
	</thead>
	<tbody>
		<tr>
		<td width="50%">
			<ol>
			{{#ccListResolved}}
      <li> {{name}}, {{title}} {{organization}} (Golongan {{class}}) {{#readDate}}(<span class="label label-success">dibaca</span>: {{readDate}}){{/readDate}}
			{{/ccListResolved}}
			</ol>
		</td>
		</tr>
	</tbody>
</table>
{{/ccListResolved.length}}
<br>

<table class="table table-bordered">
	<tbody>
		<tr>
			<td class="span4" style="background-color:#f9f9f9;">Jenis Nota Dinas</td>
			<td class="span8">
          <span class="resolve-letter-data" data-type="type" data-value="{{type}}"></span>
			</td>
		</tr>
		<tr>
			<td class="span4" style="background-color:#f9f9f9;">Kecepatan Penyampaian</td>
			<td class="span8">
				{{#priorities.p0}}
				<span class="label label-success">Biasa</span>
				{{/priorities.p0}}

				{{#priorities.p1}}
				<span class="label label-warning">Segera</span>
				{{/priorities.p1}}

				{{#priorities.p2}}
				<span class="label label-danger">Amat Segera</span>
				{{/priorities.p2}}
			</td>
		</tr>
		<tr>
			<td class="span4" style="background-color:#f9f9f9;">Tingkat Keamanan</td>
			<td class="span8">
				{{#classifications.c0}}
				<span class="label label-success">Biasa</span>
				{{/classifications.c0}}

				{{#classifications.c1}}
				<span class="label label-warning">Rahasia</span>
				{{/classifications.c1}}

				{{#classifications.c2}}
				<span class="label label-danger">Amat Rahasia</span>
				{{/classifications.c2}}
			</td>
		</tr>
		<tr>
			<td class="span4" style="background-color:#f9f9f9;">Isi Ringkas</td>
			<td class="span8">
				{{comments}}
			</td>
		</tr>
	</tbody>
</table>
	  
{{#reviewersResolved.length}}
<br />
	<div class=field>
		<h4><i class="icon-user"></i>&nbsp;&nbsp;Pemeriksa</h4>
		
		<ol>
		{{#reviewersResolved}}
			<li> <span class="add-as-contact contact-avatar" data-username="{{username}}">{{name}}</span>, {{title}} {{organization}} <br>(Golongan {{class}})
		  {{#approved}}<span class="badge badge-success">Disetujui</span> {{/approved}}
		  {{#nextReviewerInLine}}(<i>pemeriksa saat ini</i>){{/nextReviewerInLine}}
		  {{#declined}}<span class="badge badge-warning">Ditolak</span>{{/declined}}
		  {{#demoted}}<span class="badge badge-important">Batal</span>{{/demoted}}
		{{#message}}
		(Pesan: <i>{{message}}</i>)
		{{/message}}
		{{/reviewersResolved}}
		</ol>
		
	</div>
	<br />
{{/reviewersResolved.length}}

  <H3>Surat Terkait</H3>

    <script>
var letterLinks = [];
{{#links}}
letterLinks.push({
  _id: "{{_id}}",
  title: "{{title}}"
});
{{/links}}
    </script>

    <div class="link-letter" 
         data-initial-data=""
         data-letter-id="{{_id}}"
         data-button-class="btn btn-info btn-small"
         data-title="Kaitkan surat"
         data-loading-label="Memuat data..."
         data-dismiss-label="Batal"
         data-accept-label="Pilih"
         data-can-update="false"
         data-button-update-label="Update"
         data-button-search-label="Cari"
         data-button-outgoing-agenda-label="Agenda Keluar"
         data-button-incoming-agenda-label="Agenda Masuk"
         data-button-dismiss-letter-label="[hapus]"
         data-empty-label="Belum ada surat yang dikaitkan"
         data-table-date-label="Tanggal"
         data-table-letter-number-label="Nomor Surat"
         data-table-agenda-label="Nomor Agenda"
         data-table-sender-label="Atas Nama"
         data-table-title-label="Perihal"
         data-button-label="Cari surat untuk dikaitkan..."></div>



{{/letter}}

<br />

<h4><i class="icon-level-down"></i>&nbsp;&nbsp;Detil disposisi</h4>
Daftar semua disposisi yang dikeluarkan untuk surat ini dapat dilihat di <a href="/letter/read/{{letterId}}">halaman surat</a><br/>
<br/>
{{#dispositions}}
{{#recipientList}}

<table class="table table-bordered">
	<tbody>
		<tr>
			<td class="span3" style="background-color: #f9f9f9;">Tanggal Disposisi</td>
			<td class="span3">
        <span class="moment" data-format="dddd, DD MMMM YYYY" data-value="{{createdDate}}"></span>
			</td>
			<td class="span3" style="background-color: #f9f9f9;">Tanggal Selesai</td>
			<td class="span3">
				{{formattedDate}}
			</td>
		</tr>
		<tr>
			<td class="span3" style="background-color: #f9f9f9;">Pengirim</td>
			<td class="span3">
				<!--<span class="add-as-contact contact-avatar" data-username="{{senderResolved.username}}">{{senderResolved.name}}</span>-->
				{{senderResolved.name}}
			</td>
			<td class="span3" style="background-color: #f9f9f9;">Penerima</td>
			<td class="span3">
				<a name="recipient-{{recipient}}"></a><span class="resolve-name add-as-contact contact-avatar" data-username="{{recipient}}">{{recipient}}</span>
				  <br/>
				  {{#declinedDate}}
				  (<span class="label label-important">ditolak</span>: {{formattedDeclinedDate}})<br>
				  <strong>Pesan penolakan:</strong> {{declineMessage}}
				  <br/>
				  {{/declinedDate}}
				  {{^declinedDate}}
				  {{#readDate}}(<span class="label label-success">dibaca</span>: {{formattedReadDate}})<br>{{/readDate}}
				  {{#followedUpDate}}(<span class="label label-success">ditanggapi</span>: {{formattedFollowedUpDate}})<br/>{{/followedUpDate}}
				  {{#followedUpLetter}}Tanggapan: <a class="btn" href="/letter/read/{{followedUpLetter}}">Baca</a>{{/followedUpLetter}}
				  {{/declinedDate}}
			</td>
		</tr>
		<tr>
			<td class="span3" style="background-color: #f9f9f9;">Tingkat Keamanan</td>
			<td class="span3">
				{{#security0}}<span class="label label-success">Biasa</span>{{/security0}}
		        {{#security1}}<span class="label label-warning">Rahasia</span>{{/security1}}
		        {{#security2}}<span class="label label-important">Sangat Rahasia &nbsp;<i class="icon-warning-sign icon-white"></i></span>{{/security2}} &nbsp;
			</td>
			<td class="span3" style="background-color: #f9f9f9;">Kecepatan Penyampaian</td>
			<td class="span3">
				{{#priority0}}<span class="label label-success">Biasa</span>{{/priority0}}
		        {{#priority1}}<span class="label label-warning">Segera</span>{{/priority1}}
		        {{#priority2}}<span class="label label-important">Amat Segera</span>{{/priority2}} &nbsp;
			</td>
		</tr>
		<tr>
			<td class="span3" style="background-color: #f9f9f9;">Instruksi</td>
			<td class="span3">
				{{#instruction0}}Jawaban{{/instruction0}}
		        {{#instruction1}}Ditindak lanjuti{{/instruction1}}
		        {{#instruction2}}Ditanggapi tertulis{{/instruction2}}
		        {{#instruction3}}Disiapkan makalah/sambutan/presentasi sesuai tema{{/instruction3}}
		        {{#instruction4}}Koordinasikan dengan{{/instruction4}}
		        {{#instruction5}}Diwakili &amp; laporkan hasilnya{{/instruction5}}
		        {{#instruction6}}Dihadiri &amp; dilaporkan hasilnya{{/instruction6}}
		        {{#instruction7}}Disiapkan surat/memo dinas (internal){{/instruction7}}
		        {{#instruction8}}Arsip{{/instruction8}}
		        {{#instruction9}}Lain-lain{{/instruction9}}
			</td>
			<td class="span3" style="background-color: #f9f9f9;">Pesan</td>
			<td class="span3">
				{{message}}
			</td>
		</tr>
	</tbody>
</table>


{{/recipientList}}

{{#sharedRecipients}}
<strong>Disposisi ini telah dibagikan oleh</strong>
<table class="table table-bordered">
	<tbody>
		<tr>
			<td class="span4" style="background-color:#f9f9f9;">Dari</td>
			<td class="span8">
        <span class="resolve-name" data-username="{{sender}}">{{sender}}</span>
			</td>
		</tr>
		<tr>
			<td class="span4" style="background-color:#f9f9f9;">Kepada</td>
			<td class="span8">
        <span class="resolve-name" data-username="{{recipient}}">{{recipient}}</span>
			</td>
		</tr>
		<tr>
			<td class="span4" style="background-color:#f9f9f9;">Tanggal</td>
			<td class="span8">
        <span class="moment" data-format="dddd, DD MMMM YYYY HH:MM" data-value="{{date}}"></span>
			</td>
		</tr>
		<tr>
			<td class="span4" style="background-color:#f9f9f9;">Pesan</td>
			<td class="span8">
				{{message}}
			</td>
		</tr>
	</tbody>
</table>
	
{{/sharedRecipients}}
{{/dispositions}}

<br>
<br>
<div class="add-as-contact-dialog hidden">
  Tambahkan <strong><span id="contact-name"></span></strong> ke daftar kontak:
  <br/>
  <textarea id="add-new-contact-text" placeholder="Tambahkan pesan di sini..."></textarea>
  <br/>
  <button class="btn btn-primary" id="add-as-contact-submit">Ya</button>
  <button class="btn btn-primary" id="add-as-contact-cancel">Tidak</button>
</div>


<h4><i class="icon-comments"></i>&nbsp;&nbsp;Komentar</h4>

<table class="table table-bordered">
	{{#comments}}
	<tr>
		<td class="span2">
			<a name="comments-{{_id}}"></a>
			<span class="contact-avatar" data-username="{{commenter}}"></span>
			<span class="resolve-name">{{commenter}}</span>
		</td>
		<div>
		<td class="span8">
			{{comments}}<br/>
			<i>{{formattedDate}}</i>
            {{#attachments.length}}
            <div>
              Daftar lampiran:
            <ol>
            {{#attachments}}
            <li> <a href="/disposition/attachment/{{_id}}">{{title}}</a>
            {{/attachments}}
            </ol>
            </div>
            {{/attachments.length}}
		</td>
	</tr>
	{{/comments}}

	<tr>
		<td class="span1">
			<span class="contact-avatar" data-username="{{username}}"></span>
			<span class="resolve-name">{{username}}</span>
		</td>
		<div>
		<td class="span7">
			<textarea rows="5" id="comment-textarea" class="comment-textarea presence-status span8 presence-status-static" placeholder="Klik di sini untuk membuat komentar"></textarea>
			<br>
          <div class="span6" id="fileAttachments-list">
            <div id="letter-fileAttachments-placeholder" class="files"></div>
            <span id="fileupload" style="display: none;" class="btn btn-mini btn-info fileinput-button">
              <i class="icon-plus"></i>
              <span>Berkas</span>
              <input type="file" name="files[]" multiple>
            </span>
            <em>&nbsp; Maksimal berukuran 10 mb</em>
          </div>

			<button class="btn btn-success" id="btn-comment" hidden>Kirim komentar</button>
		</td>
	</tr>
</table>

<div id="share-dialog" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Bagikan disposisi</h3>
  </div>
  <div class="modal-body">
    <div class="alert alert-warning" id="share-argument-alert" class="hidden">
      Anda harus memilih nama pengguna siMAYA dan mengisi pesan di bawah ini untuk dapat membagikan disposisi.
    </div>
    <div class="alert alert-warning" id="share-failed-alert" class=" hidden">
      Ada kesalahan saat membagikan disposisi ini. Silakan coba lagi kembali nanti.
    </div>
    <div class="alert alert-success" id="share-success-alert" class="hidden">
      Disposisi telah dibagikan.
    </div>
    <div class="selection">
    Silakan pilih orang yang hendak Anda bagikan disposisi ini:
    <br/>

    <input type="hidden" class="monitor-change" id="disposition-recipient" name="disposition[recipient]" value="{{replyTo}}" data-clone="0">
    <div id="disposition-recipient-placeholder"><span class="label label-important data-empty">Belum ada data</span><span class="data-value"></span></div>
    <div href="#" data-placeholder="disposition-recipient-placeholder" data-control="disposition-recipient" data-subtype="share" data-type="disposition" data-letter-id="{{letterId}}" class="name-chooser" data-label-choose="Pilih" data-label-cancel="Batal" data-label="Tambah penerima" data-class="btn btn-mini" data-label-loading="Memuat data..." data-enable-multiple-in-a-selection="true"></div>


    <br>
    <strong>Pesan</strong>:<br/>
    <textarea id="shareMessage" cols=40 rows=4></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" data-dismiss="modal" class="btn btn-dismiss">Tutup</a>
    <a id="btn-share" href="#" class="btn btn-primary">Bagikan</a>
  </div>
</div>

<div id="print-dialog" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Cetak disposisi</h3>
  </div>
  <div class="modal-body print">
{{#letter}}
<table class="table">
	<tbody>
		<tr>
			<td class="span3" style="background-color:#f9f9f9;"><strong>Nomor Agenda Surat Masuk</strong></td>
			<td class="span3">
				{{incomingAgendaNumber}}
			</td>
			<td class="span3" style="background-color:#f9f9f9;"><strong>Tanggal Penerimaan Surat</strong></td>
			<td class="span3">
				{{#readDate}}
        <span class="moment" data-format="dddd, DD MMMM YYYY" data-value="{{readDate}}"></span>
				{{/readDate}}
			</td>
		</tr>
		<tr>
			<td class="span3" style="background-color:#f9f9f9;"><strong>Nomor Surat</strong></td>
			<td class="span3">
				{{mailId}}
			</td>
			<td class="span3" style="background-color:#f9f9f9;"><strong>Tanggal Surat</strong></td>
			<td class="span3">
				{{formattedDate}}
			</td>
		</tr>
		<tr>
			<td class="span3" style="background-color:#f9f9f9;"><strong>Tujuan</strong></td>
			<td class="span3">
				<ol style="list-style:none;margin:0">
					{{#recipients}}
          <li><span class="resolve-name">{{.}}</span>
					{{/recipients}}
          
					{{#recipientsResolved}}
					<li>
						{{name}}<br/> {{title}} {{organization}} <br>(Golongan {{class}})
					</li>
					{{/recipientsResolved}}
				</ol>
			</td>

			<td class="span3" style="background-color:#f9f9f9;"><strong>Pengirim</strong></td>
			<td class="span3">
				{{#senderManual.name}}
		        {{senderManual.name}}<br/>
		        {{senderManual.organization}}
		        {{/senderManual.name}}
		        {{^senderManual.name}}
				{{/senderManual.name}}
		 
            <span class="add-as-contact" data-username="{{senderResolved.username}}"><span class="resolve-name">{{sender}}</span></span>
			</td>
		</tr>
	</tbody>
</table>


{{#ccListResolved.length}}
<table class="table table-bordered">
	<thead>
		<tr>
		<th>Tembusan</th>
		</tr>
	</thead>
	<tbody>
		<tr>
		<td width="50%">
			<ol>
			{{#ccListResolved}}
      <li> {{name}}, {{title}} {{organization}} (Golongan {{class}}) {{#readDate}}(<span class="label label-success">dibaca</span>: {{readDate}}){{/readDate}}
			{{/ccListResolved}}
			</ol>
		</td>
		</tr>
	</tbody>
</table>
{{/ccListResolved.length}}
<br>

<table class="table table-bordered">
	<tbody>
		<tr>
			<td class="span4" style="background-color:#f9f9f9;">Jenis Nota Dinas</td>
			<td class="span8">
          <span class="resolve-letter-data" data-type="type" data-value="{{type}}"></span>
			</td>
		</tr>
		<tr>
			<td class="span4" style="background-color:#f9f9f9;">Kecepatan Penyampaian</td>
			<td class="span8">
				{{#priorities.p0}}
				<span class="label label-success">Biasa</span>
				{{/priorities.p0}}

				{{#priorities.p1}}
				<span class="label label-warning">Segera</span>
				{{/priorities.p1}}

				{{#priorities.p2}}
				<span class="label label-danger">Amat Segera</span>
				{{/priorities.p2}}
			</td>
		</tr>
		<tr>
			<td class="span4" style="background-color:#f9f9f9;">Tingkat Keamanan</td>
			<td class="span8">
				{{#classifications.c0}}
				<span class="label label-success">Biasa</span>
				{{/classifications.c0}}

				{{#classifications.c1}}
				<span class="label label-warning">Rahasia</span>
				{{/classifications.c1}}

				{{#classifications.c2}}
				<span class="label label-danger">Amat Rahasia</span>
				{{/classifications.c2}}
			</td>
		</tr>
		<tr>
			<td class="span4" style="background-color:#f9f9f9;">Isi Ringkas</td>
			<td class="span8">
				{{comments}}
			</td>
		</tr>
	</tbody>
</table>
{{/letter}}

{{#dispositions}}
{{#recipientList}}

<table class="table table-bordered">
	<tbody>
		<tr>
			<td class="span3" style="background-color: #f9f9f9;">Tanggal Disposisi</td>
			<td class="span3">
				{{formattedDate}}
			</td>
			<td class="span3" style="background-color: #f9f9f9;">Tanggal Selesai</td>
			<td class="span3">
				{{formattedDate}}
			</td>
		</tr>
		<tr>
			<td class="span3" style="background-color: #f9f9f9;">Pengirim</td>
			<td class="span3">
				<!--<span class="add-as-contact contact-avatar" data-username="{{senderResolved.username}}">{{senderResolved.name}}</span>-->
				{{senderResolved.name}}
			</td>
			<td class="span3" style="background-color: #f9f9f9;">Penerima</td>
			<td class="span3">
				<a name="recipient-{{recipient}}"></a><span class="resolve-name add-as-contact contact-avatar" data-username="{{recipient}}">{{recipient}}</span>
				  <br/>
				  {{#declinedDate}}
				  (<span class="label label-important">ditolak</span>: {{formattedDeclinedDate}})<br>
				  <strong>Pesan penolakan:</strong> {{declineMessage}}
				  <br/>
				  {{/declinedDate}}
				  {{^declinedDate}}
				  {{#readDate}}(<span class="label label-success">dibaca</span>: {{formattedReadDate}})<br>{{/readDate}}
				  {{#followedUpDate}}(<span class="label label-success">ditanggapi</span>: {{formattedFollowedUpDate}})<br/>{{/followedUpDate}}
				  {{#followedUpLetter}}Tanggapan: <a class="btn" href="/letter/read/{{followedUpLetter}}">Baca</a>{{/followedUpLetter}}
				  {{/declinedDate}}
			</td>
		</tr>
		<tr>
			<td class="span3" style="background-color: #f9f9f9;">Tingkat Keamanan</td>
			<td class="span3">
				{{#security0}}<span class="label label-success">Biasa</span>{{/security0}}
		        {{#security1}}<span class="label label-warning">Rahasia</span>{{/security1}}
		        {{#security2}}<span class="label label-important">Sangat Rahasia &nbsp;<i class="icon-warning-sign icon-white"></i></span>{{/security2}} &nbsp;
			</td>
			<td class="span3" style="background-color: #f9f9f9;">Kecepatan Penyampaian</td>
			<td class="span3">
				{{#priority0}}<span class="label label-success">Biasa</span>{{/priority0}}
		        {{#priority1}}<span class="label label-warning">Segera</span>{{/priority1}}
		        {{#priority2}}<span class="label label-important">Amat Segera</span>{{/priority2}} &nbsp;
			</td>
		</tr>
		<tr>
			<td class="span3" style="background-color: #f9f9f9;">Instruksi</td>
			<td class="span3">
				{{#instruction0}}Jawaban{{/instruction0}}
		        {{#instruction1}}Ditindak lanjuti{{/instruction1}}
		        {{#instruction2}}Ditanggapi tertulis{{/instruction2}}
		        {{#instruction3}}Disiapkan makalah/sambutan/presentasi sesuai tema{{/instruction3}}
		        {{#instruction4}}Koordinasikan dengan{{/instruction4}}
		        {{#instruction5}}Diwakili &amp; laporkan hasilnya{{/instruction5}}
		        {{#instruction6}}Dihadiri &amp; dilaporkan hasilnya{{/instruction6}}
		        {{#instruction7}}Disiapkan surat/memo dinas (internal){{/instruction7}}
		        {{#instruction8}}Arsip{{/instruction8}}
		        {{#instruction9}}Lain-lain{{/instruction9}}
			</td>
			<td class="span3" style="background-color: #f9f9f9;">Pesan</td>
			<td class="span3">
				{{message}}
			</td>
		</tr>
	</tbody>
</table>


{{/recipientList}}
{{/dispositions}}


  </div>
  <div class="modal-footer">
    <a href="#" data-dismiss="modal" class="btn">Tutup</a>
    <a id="btn-start-printing" href="#" class="btn btn-primary" disabled>Cetak</a>
  </div>
</div>

<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
  <div class="template-upload fade">
    <p>{%=file.name%} <a href="#" class="remove-button cancel">×</a> </p>
    {% if (!o.files.error) { %}
    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="bar" style="width:0%;"></div></div>
    {% } %}
  </div>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
  <div class="template-download fade">
    {% if (file.error) { %}
    <div><span class="label label-important">Error</span> {%=file.error%} <button class="btn-link delete">×</button> </div>
    {% } else { %}
    <p>
      <a href="/disposition/attachment/{%=file.path%}" data-attachment-id="{%=file.path%}" data-letter-id="{%=file.letterId%}" class="comments-attachments attachment-preview">{%=file.name%}</a> 
      <button class="btn-link delete" data-type="DELETE" data-url="/disposition/attachments/{%=file.letterId%}/{%=file.path%}">×</button>
    </p>
    {% } %}
  </div>
{% } %}
</script>

<script type="text/javascript" src="/upload/js/vendor/jquery.ui.widget.js"></script>
<script type="text/javascript" src="/upload/js/vendor/tmpl.min.js"></script>
<script type="text/javascript" src="/upload/js/jquery.fileupload.js"></script>
<script type="text/javascript" src="/upload/js/jquery.fileupload-ui.js"></script>
<script type="text/javascript" src="/upload/js/jquery.fileupload-process.js"></script>


<script>

// fileupload widget
$(function () {
  $('#fileupload').show();

  $('#fileupload').fileupload({
    url: '/disposition/attachments',
    autoUpload : true,
    filesContainer : '.files',
    prepend : true,
    formData : { _id: '{{letter._id}}'}
  });

  // get attachments
  $.ajax({
    url: $('#fileupload').fileupload('option', 'url') + '/{{letter._id}}',
    dataType: 'json',
    context: $('#fileupload')[0]
  }).always(function () {
    $(this).removeClass('fileupload-processing');
  }).done(function (result) {
    $(this).fileupload('option', 'done')
      .call(this, $.Event('done'), {result: result});
  });

  $('input').css('color', '#393939');
  $('textarea').css('color', '#393939');

});



var shareMode = "selection";
var shareThis = function() {
  var id = "{{dispositionId}}";
  var recipients = $("#disposition-recipient").val();
  var message = $("#shareMessage").val();
  if (!(id && recipients && message)) {
    $("#share-argument-alert").removeClass("hidden");
    return;
  }
  shareMode = "close";
  var data = {
    id: id,
    recipients: recipients,
    message: message,
  };
  $.ajax({
    url: "/disposition/share",
    type: "POST",
    dataType: "json",
    data: data
  }).success(function() {
    $("#share-argument-alert").addClass("hidden");
    $("#share-failed-alert").addClass("hidden");
    $("#share-success-alert").removeClass("hidden");
    $(".selection").addClass("hidden");
    $("#btn-share").addClass("hidden");
  }).error(function() {
    $("#share-failed-alert").removeClass("hidden");
  });

}

var closeThis = function() {
  window.location.reload();
}

$(document).ready(function() {
  $("#comment-textarea").bind("keyup", function() {
    if ($(this).val().length > 0) {
      $("#btn-comment").show();
    } else {
      $("#btn-comment").hide();
    }
  })
  $("#btn-comment").click(function(e) {
    e.preventDefault();
    $(this).attr("disabled", true);
    $(this).text("Sedang mengirim komentar...");
    var attachments = [];
    $(".comments-attachments").each(function(index, item) {
      var $item = $(item);
      attachments.push({
        _id: $item.attr("data-attachment-id"),
        title: $item.text()
      });
    });

    var data =  { 
        dispositionId: "{{_id}}", 
        message: $("#comment-textarea").val(),
        attachments: attachments 
      }
    $.post("/disposition/addComments", data,
    function(data) {
      location.reload();
    }, "json")
  })
  $("#btn-share-trigger").click(function(e) {
    e.preventDefault();
    $("#share-failed-alert").addClass("hidden");
    $("#share-argument-alert").addClass("hidden");
    $("#share-success-alert").addClass("hidden");
    $("#share-dialog").modal();
  });
  $(".btn-dismiss").click(function(e) {
    if (shareMode == "close") closeThis();
  });
  $("#btn-share").click(function(e) {
    e.preventDefault();
    shareThis();
  });
  $("#btn-print").click(function(e) {
    $("#print-dialog").modal("show");
  });
  $("#btn-start-printing").click(function(e) {
    html = "<link rel='stylesheet' href='" + window.location.origin + "/css/simaya.css' ></link>";
    html += $(".print").html();
    var w = window.open("", "width=1,height=1");
    w.document.write(html);
    setTimeout(function() {
    w.print();
    w.close();
    }, 1000);
  });
  
});
</script>
<script src='/js/recipient-editor.js'></script>
<script type="text/javascript" src="/js/resolve-name.js"></script>
<script type="text/javascript" src="/lib/moment.min.js"></script>
<script type="text/javascript" src="/js/moment.js"></script>
<script type="text/javascript" src="/js/attachment-preview.js"></script>
<script src='/js/contacts.js'></script>
<script type="text/javascript" src="/js/letter-data.js"></script>

<script type="text/javascript" src="/js/pagination.js"></script>
<script type="text/javascript" src="/js/link-letter.js"></script>

<script src='/js/name-chooser.js'></script>
<script src="/lib/tree.jquery.js"></script>
<script>
  $(document).ready(function() {
    $(".name-chooser").nameChooser();
    letterLinks = letterLinks || [];
    $(".link-letter").linkLetter(letterLinks);
  });
</script>
