<h2>Buat Disposisi</h2>
	
	{{#successful}}
	<div class="alert alert-success">
	Disposisi berhasil dikirim.
	</div>
	{{/successful}}

	{{#unsuccessful}}
	<div class="alert alert-error">
	Disposisi gagal dikirm
	<br>
	{{error}}
	</div>
	{{/unsuccessful}}
  
{{#letter}}

<link rel="stylesheet" href="/js/chosen/chosen.css" />
<link rel="stylesheet" href="/css/fullcalendar.css"/>
<link rel="stylesheet" href="/css/calendar-picker.css" />
<script src="/js/single-submit.js"></script>
<script type="text/javascript" src="/js/resolve-name.js"></script>
<script type="text/javascript" src="/js/attachment-preview.js"></script>
<script type="text/javascript" src="/js/chosen/chosen.jquery.js"></script>
<script src='/js/recipient-editor.js'></script>
<script src='/lib/fullcalendar.min.js'></script>
<script src='/js/calendar-picker.js'></script>
<link rel="stylesheet" href="/css/jqtree.css"/>

<div>
	<h3>Informasi surat</h3>
	<br />
	
	<table class="table">
	<tbody>
		<tr>
			<td class="span3" style="background-color:#f9f9f9;"><strong>Nomor Surat</strong></td>
			<td class="span3">{{mailId}}</td>
			<td class="span3" style="background-color:#f9f9f9;"><strong>Tanggal Surat</strong></td>
			<td class="span3"><span class="moment" data-format="DD MMMM YYYY" data-value="{{date}}">{{date}}</span></td>
		</tr>
		<tr>
			<td class="span3" style="background-color:#f9f9f9;"><strong>Tujuan</strong></td>
			<td class="span3">
				<ol>
					{{#recipientsResolved}}
					<li>
						{{name}}<br/> {{title}} {{organization}} <br>(Golongan {{class}})
					</li>
					{{/recipientsResolved}}
				</ol>
			</td>

			<td class="span3" style="background-color:#f9f9f9;"><strong>Pengirim</strong></td>
			<td class="span3">
				{{#senderManual.name}}
		        {{senderManual.name}}<br/>
		        {{senderManual.organization}}
		        {{/senderManual.name}}
		        {{^senderManual.name}}
		 
							<span class="add-as-contact contact-avatar" data-username="{{senderResolved.username}}">{{senderResolved.name}}</span>,
				{{senderResolved.title}}
				{{senderResolved.organization}}
				<br>
				(Golongan {{senderResolved.class}})
		        {{/senderManual.name}}
			</td>
		</tr>
	</tbody>
</table>



<br>
	
{{#fileAttachments.length}}

<h4><i class="icon-file-alt"></i>&nbsp;&nbsp;Pindaian</h4>
<ol>
	{{#fileAttachments}}
	<li>
		<a data-href="/letter/attachment/{{path}}" data-attachment-id="{{path}}" data-disposition-id="{{dispositionId}}" data-letter-id="{{_id}}" class="attachment-preview" 
          {{#allowDisposition}}
          {{#allowNewDisposition}}
            data-allow-disposition=true
          {{/allowNewDisposition}}
          {{/allowDisposition}}
          >{{name}}</a>
	</li>
	{{/fileAttachments}}
</ol>
<!--
<table class="table table-bordered">
	<thead>
		<th>Pindaian</th>
	</thead>
	<tbody>
		<tr>
		<td>
		   <ol>
			  {{#fileAttachments}}
        <li> <a data-href="/letter/attachment/{{id}}" data-attachment-id="{{path}}"  data-letter-id="{{_id}}" class="attachment-preview"
	{{#allowDisposition}}
    data-allow-disposition="true"
	{{/allowDisposition}}
          >{{name}}</a>
			  {{/fileAttachments}}
		   </ol>
		</td>
		</tr>
	</tbody>
</table>-->
{{/fileAttachments.length}}
<br>

	
{{#ccListResolved.length}}
<table class="table table-bordered">
	<thead>
		<tr>
		<th>Tembusan</th>
		</tr>
	</thead>
	<tbody>
		<tr>
		<td class="span6">
			<ol>
			{{#ccListResolved}}
			  <li> {{name}}, {{title}} {{organization}} (Golongan {{class}}) {{#readDate}}(membaca surat ini pada tanggal {{readDate}}){{/readDate}}
			{{/ccListResolved}}
			</ol>
		</td>
		</tr>
	</tbody>
</table>
{{/ccListResolved.length}}
<br>
<table class="table table-bordered">
	<tbody>
		<tr>
			<td class="span4" style="background-color:#f9f9f9;">Jenis Nota Dinas</td>
			<td class="span8">
				{{#type0}}Peraturan{{/type0}}
				{{#type1}}Pedoman{{/type1}}
				{{#type2}}Petunjuk Pelaksanaan{{/type2}}
				{{#type3}}Instruksi{{/type3}}
				{{#type4}}Prosedur Tetap (SOP){{/type4}}
				{{#type5}}Surat Edaran{{/type5}}
				{{#type6}}Keputusan{{/type6}}
				{{#type7}}Surat Perintah/Surat Tugas{{/type7}}
				{{#type8}}Nota Dinas{{/type8}}
				{{#type9}}Memorandum{{/type9}}
				{{#type10}}Surat Dinas{{/type10}}
				{{#type11}}Surat Undangan{{/type11}}
				{{#type12}}Surat Perjanjian{{/type12}}
				{{#type13}}Surat Kuasa{{/type13}}
				{{#type14}}Berita Acara{{/type14}}
				{{#type15}}Surat Keterangan{{/type15}}
				{{#type16}}Surat Pengantar{{/type16}}
				{{#type17}}Pengumuman{{/type17}}
				{{#type18}}Laporan{{/type18}}
				{{#type19}}Lain-lain{{/type19}}
			</td>
		</tr>
		<tr>
			<td class="span4" style="background-color:#f9f9f9;">Kecepatan Penyampaian</td>
			<td class="span8">
				{{#priorities.p0}}
				<span class="label label-success">Biasa</span>
				{{/priorities.p0}}

				{{#priorities.p1}}
				<span class="label label-warning">Segera</span>
				{{/priorities.p1}}

				{{#priorities.p2}}
				<span class="label label-danger">Amat Segera</span>
				{{/priorities.p2}}
			</td>
		</tr>
		<tr>
			<td class="span4" style="background-color:#f9f9f9;">Tingkat Keamanan</td>
			<td class="span8">
				{{#classifications.c0}}
				<span class="label label-success">Biasa</span>
				{{/classifications.c0}}

				{{#classifications.c1}}
				<span class="label label-warning">Rahasia</span>
				{{/classifications.c1}}

				{{#classifications.c2}}
				<span class="label label-danger">Amat Rahasia</span>
				{{/classifications.c2}}
			</td>
		</tr>
		<tr>
			<td class="span4" style="background-color:#f9f9f9;">Isi Ringkas</td>
			<td class="span8">
				{{comments}}
			</td>
		</tr>
	</tbody>
</table>

</div>

<form class="form-horizontal" action="/disposition/new/{{letterId}}" enctype="multipart/form-data" method="post">
<div>
<fieldset>
	<input type="hidden" name="disposition[dispositionId]" value="{{dispositionId}}">
	<input type="hidden" name="disposition[letterTitle]" value="{{letter.title}}">
	<input type="hidden" name="disposition[letterMailId]" value="{{letter.mailId}}">
	<input type="hidden" name="disposition[letterDate]" value="{{letter.date}}">

    <div id="recipient-block-list">
      <h4><i class="icon-pencil"></i>&nbsp;&nbsp;Formulir disposisi</h4>

      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="span3">Penerima Disposisi</td>
            <td class="span9">
              <input type="hidden" class="monitor-change" id="disposition-recipient" name="disposition[recipient]" value="{{replyTo}}" data-clone="0">
              {{^replyTo}}
              <div id="disposition-recipient-placeholder"><span class="label label-important data-empty">Belum ada data</span><span class="data-value"></span></div>
              <div href="#" data-placeholder="disposition-recipient-placeholder" data-control="disposition-recipient" data-type="disposition" data-letter-id="{{letterId}}" class="name-chooser" data-label-choose="Pilih" data-label-cancel="Batal" data-label="Tambah penerima" data-class="btn btn-mini" data-label-loading="Memuat data..." data-enable-multiple-in-a-selection="true"></div>
              {{/replyTo}}
              {{#replyTo}}
              <span class="resolve-name">{{replyTo}}</span>
              <div data-type="recipient" data-scope="disposition" data-recipient="recipient-list" class="recipient-editor"></div>
              {{/replyTo}}
    </div>
            </td>
          </tr>
          <tr class="hidden" id="cc-superiors-row">
            <td class="span3">Tembuskan ke atasan</td>
            <td class="span9">
              Tembuskan disposisi ke para atasan langsung penerima disposisi. Silakan hapus tanda centang bila tidak ingin ditembuskan kepada para atasan.
              <ul style="list-style:none;margin:0px;margin-top:10px" id="cc-superiors-list">
                <li class="hidden template">
                <div class="control-group">
                  <label class="control-label" for="active"><span class="cc-superiors-name"></span></label>
            	   <div class="controls">
                    <input class="ace ace-switch ace-switch-5 cc-superiors-username" type=checkbox name="cc-superiors" value=""  />
                    <span id="status" class="lbl"></span>
                  </div>
                </div>

                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="span3">Instruksi</td>
            <td class="span9">
              {{#replyTo}}
              <input type=hidden name=disposition[instruction] value=0>
              {{/replyTo}}
              {{^replyTo}}
              <select name="disposition[instruction]" class="span2">
                <option value=1>Ditindak lanjuti</option>
                <option value=2>Ditanggapi tertulis</option>
                <option value=3>Disiapkan makalah/sambutan/presentasi sesuai tema</option>
                <option value=4>Koordinasikan dengan</option>
                <option value=5>Diwakili &amp; laporkan hasilnya</option>
                <option value=6>Dihadiri &amp; dilaporkan hasilnya</option>
                <option value=7>Disiapkan surat/memo dinas (internal)</option>
                <option value=8>Arsip</option>
                <option value=9>Lain-lain</option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="span3">Tingkat Keamanan</td>
            <td class="span9">
              {{#reference}}
              <input type=hidden name="disposition[security]" value="{{security}}">
              {{#securities0}}
              Biasa
              {{/securities0}}
              {{#securities1}}
              Rahasia
              {{/securities1}}
              {{#securities2}}
              Sangat Rahasia
              {{/securities2}}

              {{/reference}}
              {{^reference}}
              <select name="disposition[security]" class="span2">
                <option value=0>Biasa</option>
                <option value=1>Rahasia</option>
                <option value=2>Sangat Rahasia</option>
              </select>
              {{/reference}}
            </td>
          </tr>
          <tr>
            <td class="span3">KecepatanPenyampaian</td>
            <td class="span9">
              {{#reference}}
              <input type=hidden name="disposition[priority]" value="{{priority}}">
              {{#priorities0}}
              Biasa
              {{/priorities0}}
              {{#priorities1}}
              Segera
              {{/priorities1}}
              {{#priorities2}}
              Amat Segera
              {{/priorities2}}
              {{/reference}}
              {{^reference}}
              <select name="disposition[priority]" class="span2">
                <option value=0>Biasa</option>
                <option value=1>Segera</option>
                <option value=2>Amat Segera</option>
              </select>
              {{/reference}}
            </td>
          </tr>
          <tr>
            <td class="span3">Tanggal Selesai</td>
            <td class="span9">
              {{#reference}}
              <input type=hidden name="disposition[date]" value="{{date}}">
              {{formattedDate}}
              {{/reference}}
              {{^reference}}
              <input class="span2 monitor-change" name="disposition[date]" id="dispositionDate" type="text" value="{{dateDijit}}" data-clone="0">
              <span class="add-on"><i class="icon-calendar calendar-picker" data-id="dispositionDate"></i></span>
              {{/reference}}
              {{/replyTo}}	
            </td>
          </tr>
          <tr>
            <td class="span3">Isi Disposisi</td>
            <td class="span9">
              <textarea class="span5" data-clone="0" name="disposition[message]"></textarea>
            </td>
          </tr>
        </tbody>
      </table>
</div>
</div>

	<input class="btn btn-primary single-submit" disabled id="sendButton" type="submit" value="Kirim disposisi">
</fieldset>
</div>
</form>


<br>
<br>


<script>
var formIsBlocked = false;
function checkForm() {
  var total = 0;
  var filled = 0;
  
  if (formIsBlocked) {
    $("#sendButton").attr("disabled", false) ;
    return;
  }
  $(".monitor-change").each(function(index, element) {
    total ++;

    var v = $(element).val().trim();

    if (typeof(v) !== "undefined" && v != "") {
      filled ++;
    }
    else {
      var v = $(element).find(":input[type=\"hidden\"]").val();
      if (typeof(v) !== "undefined" && v != "") {
        filled ++;
      }
    }
  });
  if (filled == total) {
    $("#sendButton").attr("disabled", false) ;
  } else {
    $("#sendButton").attr("disabled", true) ;
  }
}
var handleRecipientChange = function() {
  var prepareUi = function(data) {
    var show = false;
    if (data && data.length > 0) show = true;
    var list = $("#cc-superiors-list");
    list.find("li:not(.template)").remove();

    if (!show) {
      $("#cc-superiors-row").addClass("hidden");
      return;
    }
    $("#cc-superiors-row").removeClass("hidden");
    var template = list.find(".template");
    for (var i = 0; i < data.length; i ++) {
      var row = template.clone();
      row.removeClass("template hidden");
      var username = row.find(".cc-superiors-username");
      username.val(data[i].username);
      username.prop("checked", true);
      var name = row.find(".cc-superiors-name");
      name.text(data[i].profile.fullName);
      
      console.log(row);
      list.append(row);
    }
  }
  var recipients = $("#disposition-recipient").val();
  formIsBlocked = true;
  if (recipients) {
    $.ajax({
      url: "/disposition/findSuperiors?people=" + recipients
    }).success(function(data) {
      prepareUi(data);
    }).always(function() {
      formIsBlocked = false;
    });
  }
}
</script>

{{/letter}}
<script src='/lib/moment.min.js'></script>
<script src='/js/moment.js'></script>
<script src='/js/name-chooser.js'></script>
<script src="/lib/tree.jquery.js"></script>
<script>
  $(document).ready(function() {
    $(".name-chooser").nameChooser();

    if ($(".calendar-picker").calendarPicker)
      $(".calendar-picker").calendarPicker();

    $(".monitor-change").change(function() {
      checkForm();
    });
    $("#disposition-recipient").change(function() {
      handleRecipientChange();
    });

  });
</script>
