<h1>Lupa sandi</h1>
<div class=box>

{{#successful}}
<div class=message>
<b>Terima kasih</b><br/>
Kami akan mengirimkan tautan berisi alamat untuk melakukan reset ulang sandi Anda. 
Bila alamat surat elektronik yang Anda masukkan benar-benar terhubung dengan nama pengguna yang sudah Anda sebutkan, maka alamat tersebut akan kami kirimkan via surat elektronik.
<br/>
Silakan cek kotak surat Anda, bila dalam 30 menit belum menerima surat dari kami berarti alamat surat tersebut salah dan tidak terhubung ke nama pengguna tadi. Silakan kontak administrator.
</div>
{{/successful}}

{{#wrongCombination}}
Dalam pangkalan data tidak ditemukan kaitan antara <b>{{username}}</b> dengan alamat surat elektronik <b>{{email}}</b>. Silakan periksa lagi nama login dan alamat surat yang benar.  
{{/wrongCombination}}
{{#form}}
<form action=/forgot-password method=post>
Nama pengguna:<br/>
<input type=text name="user[user]"><br/>
Surat elektronik: 
<br/>
<input type=text name="user[email]"><br/>
<button>Kirim sandi baru</button>
</form>
{{/form}}
</div>
