<h1>Reset ulang sandi</h1>
<div class=box>
{{#step2}}
<div class=message>
<b>Terima kasih</b><br/>
</div>
{{/step2}}

{{#systemError}}
Ada kesalahan di sistem sehingga sandi Anda tidak dapat diubah. Mohon informasikan administrator instansi Anda.
{{/systemError}}

{{#successful}}
Sandi Anda sudah diubah. Silakan login dengan sandi Anda yang baru.
{{/successful}}
{{#unsuccessful}}
Kode token dan verifikasi tidak cocok. Ada kemungkinan sudah kadaluwarsa atau salah ketik. Jika Anda ingin meminta kode token dan verifikasi ulang, silakan klik <a href="/forgot-password">di sini</a>. 
{{/unsuccessful}}

{{#mismatch}}
Sandi perlu dikonfirmasi dengan cara mengetikan sandi yang sama di kotak kedua. 
{{/mismatch}}

{{#form}}
<form action=/forgot-password/activate method=post>
Token:<br/>
<input type=text name="token"><br/>
Kode verifikasi:
<br/>
<input type=password name="code"><br/>
<br/>
Silakan isi sandi baru Anda<br/>
Sandi baru:<br/>
<input type=password name="password1"><br/>
Verifikasi sandi baru:<br/>
<input type=password name="password2"><br/>
<input type=submit value="Kirimkan sandi baru">
</form>
{{/form}}

</div>
