<div class="well">
	<h2>Penggunaan Admin</h2>
	<br />
	<ol>
		<li>Login ke <b>http://simaya.layanan.go.id</b></li>
		<li>Masukkan nama pengguna dan kata sandi yang telah diberikan</li><br />
			<img src="/images/help/login_localadmin.jpg">
		<li>Siapkan Gambar Struktur Organisasi, Struktur jabatan, beserta daftar nama pejabat maupun staff yang ingin dibuat  dari Instansi yang bersangkutan</li>
		<li>Pilih Tab Instansi di halaman utama admin</li>
		<li>Pilih Tambah Instansi untuk menambahkan Instansi</li>
		<li>Pilih Tab Nama Jabatan di halaman utama</li>
		<li>Pilih Tambah Nama Jabatan untuk menambahkan Jabatan</li>
		<li>Pilih Tab Pengguna di halaman utama admin</li>
		<li>Pilih Tambah Pengguna untuk menambahkan pengguna baru</li>
	</ol>
</div>

<div class="well">
	<h3>Pembuatan Instansi</h3>
		<br />
		<ol>
			<li>Siapkan gambar struktur organisasi dari instansi yang ingin dibuat</li>
			<li>Pilih Tab Instansi di halaman utama Admin</li>
			<li>Pilih Tambah Instansi untuk menambahkan instansi baru</li>
			<li>Masukkan instansi induk sesuai dengan gambar dari struktur organisasi</li> <br />
				 Contoh: - Kementerian Komunikasi dan Informatika <br /><br />
				 <img src="/images/help/buat_instansi.jpg"> <br /><br />
			<li>Untuk membuat instansi dibawah Instansi induk, pilih instansi induk yang telah dibuat kemudian pilih tambah instansi</li>
				Contoh: - Pilih Kementerian Komunikasi dan Informatika, kemudian tambah instansi, 
				akan ada keterangan “Buat Instansi baru di bawah instansi <b>Kementerian Komunikasi dan	Informatika</b>" <br /><br />
				<img src="/images/help/buat_subinstansi.jpg"> <br /><br />
			<li>Untuk membuat instansi dibawah sub instansi induk, pilih sub intansi induk yang telah dibuat kemudian pilih tambah instansi</li>
			<li>Berikut adalah contoh tampilan Instansi yang sudah dibuat berdasarkan gambar struktur organisasi</li><br />
				<img src="/images/help/susunan_instansi.jpg"> <br /><br />
			<li>Untuk mengubah nama instansi pilih nama instansi yang ingin diubah, kemudian pilih Ubah Nama Instansi</li>
				 Contoh : Pilih nama Instansi , pilih ubah. Akan ada keterangan Ubah nama instansi “<b>instansi yang dipilih</b>” menjadi: <br /> <br />
				 <img src="/images/help/ubah_namainstansi.jpg"> <br /><br />
		</ol>
</div>

<div class="well">
	<h3>Pembuatan Nama Jabatan</h3>
		<br />
		<ol>
			<li>Siapkan Gambar Struktur Nama Jabatan dari instansi yang  ingin dibuat</li>
			<li>Pilih Tab Nama Jabatan di halaman utama Admin</li>
			<li>Pilih Tambah Nama Jabatan untuk menambahkan nama jabatan baru</li>
			<li>Masukkan Nama Jabatan yang tertinggi di Instansi sesuai dengan gambar struktur nama Jabatan</li>
				Contoh: - Direktur e-Government<br /><br />
				<img src="/images/help/buat_namajabatan.jpg"> <br /><br />
			<li>Untuk membuat Sub Jabatan dibawah nama jabatan induk , pilih nama jabatan induk yang ingin dibuatkan sub jabatan kemudian pilih tambah nama jabatan</li>
				Contoh : Membuat Jabatan dibawah Direktur e-Government, pilih Direktur e-Government kemudian pilih tambah nama jabatan, 
				akan ada keterangan buat nama jabatan baru dibawah nama jabatan <b>Direktur e-Government</b> <br /><br />
			<li>Untuk membuat jabatan dibawah sub jabatan , pilih nama sub jabatan  yang ingin dibuat sub jabatannya kemudian pilih Tambah nama jabatan</li>
			<li>Berikut adalah contoh tampilan nama jabatan yang dibuat sesuai struktur nama jabatan suatu instansi :</li> <br /><br />
				<img src="/images/help/susunan_jabatan.jpg"> <br /><br />
			<li>Untuk mengubah nama jabatan, pilih nama jabatan yang ingin diubah kemudian pilih Ubah nama jabatan</li>
				Contoh: Pilih nama jabatan Direktur  e-Government,  pilih ubah nama jabatan. 
				Akan ada keterangan “ubah nama jabatan <b>Direktur e-Government</b> menjadi:”<br /><br />
				<img src="/images/help/ubah_namajabatan.jpg"> <br /><br />
			<li>Untuk menghapus nama jabatan, pilih nama jabatan yang ingin dihapus kemudian pilih Hapus nama jabatan<br />
				Contoh: Pilih nama jabatan Direktur  e-Government,  pilih Hapus nama jabatan. Akan ada keterangan 
				“Benar ingin menghapus nama jabatan <b>Direktur e-Government</b> ?”<br /><br />
				<img src="/images/help/hapus_namajabatan.jpg"> <br /><br />
		</ol>
</div>

<div class="well">
	<h3>Penambahan Pengguna Baru</h3>
		<br />
		<ol>
			<li>Siapkan daftar nama untuk seluruh pengguna yang akan didaftarkan sebagai pengguna aplikasi siMAYA</li>
			<li>Pilih Tab Nama Pengguna di halaman utama admin</li>
			<li>Pilih Tambah Pengguna untuk menambahkan pengguna baru</li>
			<li>Isi kolom yang tersedia sesuai dengan data pengguna</li>
				Ket: Username digunakan untuk login ke aplikasi dengan format huruf kecil, dan format penamaan namadepan.namabelakang<br />
				Contoh: <br />
				<div class="row-fluid">
					<div class="span6">
						<table class="table table-small table-bordered">
							<tbody>
								<tr>
									<td>Nama Pengguna</td>
									<td>: Dirgantara Manurung, S.Kom.</td>
								</tr>
								<tr>
									<td>Username</td>
									<td>: dirgantara.manurung</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="span6"></div>
				</div>
				<br />
				<img src="/images/help/tambah_pengguna.jpg"> <br /><br />
				<li>Pilih Simpan dan Tutup atau Simpan dan tambah lagi untuk menyimpan data pengguna</li>
		</ol>
</div>

<div class="well">
	<h3>Kewenangan Pengguna</h3>
		<br />
		Pengguna siMAYA secara global dapat dikategorikan menjadi 4 golongan yaitu:
		<ol>
			<li>Admin Pusat</li>
			<li>Local Admin</li>
			<li>Pengguna yang mempunyai hak untuk mengirim surat dalam hal ini adalah pimpinan suatu instansi</li>
			<li>TataUsaha, yang bertugas untuk meng agendakan setiap surat masuk maupun keluar</li>
			<li>Pengguna biasa</li>
		</ol>
	
	<br />
	<h3>Pengaturan Kewenangan</h3>
	<br />
	<h4>Admin Pusat</h4>
	<ol>
		<li>Pilih Tab Pengguna di halaman utama Admin</li>
		<li>Pilih Pengguna yang akan diatur kewenangan sebagai admin pusat</li>
			Keterangan : Admin pusat hanya bisa dibuat oleh seorang yang memiliki hak akses sebagai Admin Pusat
		<li>Pilih Kewenangan ,kemudian centang pilihan Admin, pilih simpan</li><br />
			<img src="/images/help/kewenangan_admin.jpg"> <br /><br />
		<li>Pilih  Profil dan centang check box aktif untuk mengaktifkan user</li>
		<li>Pilih Simpan dan Tutup</li><br />
			<img src="/images/help/aktifkan.jpg"> <br /><br />
	</ol>
	<br />
	<h4>Admin Lokal</h4>
	<ol>
		<li>Pilih Tab Pengguna di halaman utama Admin</li>
		<li>Pilih Pengguna yang akan diatur kewenangannya sebagai Local Admin</li>
		<li>Pilih Kewenangan kemudian centang pilihan Local Admin</li><br />
			<img src="/images/help/kewenangan_localadmin.jpg"> <br /><br />
		<li>Pilih  Profil dan centang check box aktif untuk mengaktifkan user</li>
		<li>Pilih Simpan dan Tutup</li>
	</ol>
	<br />
	<h4>Pengguna (Pimpinan Instansi)</h4>
	<ol>
		<li>Pilih Tab Pengguna di halaman utama Admin</li>
		<li>Pilih Pengguna yang akan diatur kewenanganny sebagai Pimpinan Instansi</li>
		<li>Pilih Kewenangan kemudian centang pilihan, seperti gambar di bawah ini:</li><br />
			<img src="/images/help/kewenangan_direktur.jpg"> <br /><br />
		<li>Pilih  Profil dan centang check box aktif untuk mengaktifkan user</li>
		<li>Pilih Simpan dan Tutup</li>
	</ol>
	<br />
	<h4>Tata Usaha</h4>
	<ol>
		<li>Pilih Tab Pengguna di halaman utama Admin</li>
		<li>Pilih Pengguna yang akan diatur kewenanganny sebagai Tata Usaha</li>
		<li>Pilih Kewenangan dan centang pilihan, seperti gambar dibawah :</li><br />
			<img src="/images/help/kewenangan_tu.jpg"> <br /><br />
		<li>Pilih  Profil dan centang check box aktif untuk mengaktifkan user</li>
		<li>Pilih Simpan dan tutup</li>
	</ol>
	<br />
	<h4>Pengguna Biasa</h4>
	<ol>
		<li>Pilih Tab Pengguna di halaman utama Admin</li>
		<li>Pilih Pengguna yang akan diatur kewenanganny sebagai Tata Usaha</li>
		<li>Pilih Kewenangan dan centang pilihan, seperti gambar dibawah :</li><br />
			<img src="/images/help/kewenangan_biasa.jpg"> <br /><br />
		<li>Pilih  Profil dan centang check box aktif untuk mengaktifkan user</li>
		<li>Pilih Simpan dan tutup</li>
	</ol>
</div>
