<link rel="stylesheet" href="/upload/css/jquery.fileupload.css">
<link rel="stylesheet" href="/upload/css/jquery.fileupload-ui.css">
<link rel="stylesheet" href="/js/chosen/chosen.css" />
<link rel="stylesheet" href="/css/fullcalendar.css" />
<link rel="stylesheet" href="/css/calendar-picker.css" />

<div class="row-fluid">
  <div class="span12">
    <div class="pull-left">
      <h2>Surat Manual</h2>
    </div>
  </div>
</div>

<p>Silakan masukkan surat kertas yang ingin dimasukkan ke dalam sistem dalam halaman ini.</p>

<div class="row-fluid">

  <div class="alert alert-success form-success hidden">
    Surat masuk berhasil dibuat secara manual.
  </div>

  <div class="form-error alert alert-error hidden">
    Mohon maaf, surat tidak dapat disimpan.
    <br>
    <span id="error-invalid-fields" class="hidden">Ada isian yang kosong atau tidak benar. Perhatikan formulir di bawah yang diberi kotak merah.</span>
    <br>
    <span id="error-duplicate-mail-id" class="hidden">Nomor Surat sudah pernah digunakan. </span>
    <span id="error-duplicate-agenda" class="hidden">Nomor Agenda sudah pernah digunakan. </span>
  </div>

  <hr/>
  <div id="fuelux-wizard" class="fuelux-wizard ace-wizard wizard row-fluid" data-target="#manualIncomingLetter">
    <ul class="wizard-steps">
      <li data-target="#step1" class="active">
      <span class="step">1</span>
      <span class="title">Langkah 1</span>
      </li>

      <li data-target="#step2">
      <span class="step">2</span>
      <span class="title">Langkah 2</span>
      </li>

      <li data-target="#step3">
      <span class="step">3</span>
      <span class="title">Langkah 3</span>
      </li>
    </ul>
  </div>


  <form class="letter-composer form-horizontal step-content row-fluid position-relative" action="/incoming/external" enctype="multipart/form-data" method="post" id="manualIncomingLetter">
    <input type="hidden" name="operation" value="manual-incoming">
    <input type="hidden" name="_id" value="{{draftId}}">


    <div class="step-pane active" id="step1">
      <hr/>
      <div class="control-group">
        <label class="control-label" for="receivedDate">Tanggal Penerimaan</label>
        <div class="controls">
          <input class="span3" type="text" name="receivedDate">
          <span class="add-on"><i data-max-date="today" class="icon-calendar calendar-picker" data-field="receivedDate"></i></span>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="letter[date]">Tanggal Surat</label>
        <div class="controls">
          <input class="span3" type="text" name="date">
          <span class="add-on"><i data-max-date="today" class="icon-calendar calendar-picker" data-field="date"></i></span>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="letter[sender]">Pengirim</label>
        <div class="controls">
          <div class="span6" id="sender-list" data-data="letter-sender" data-placeholder="letter-sender-placeholder">
            <div id="letter-sender-placeholder"><span class="label label-important">Belum ada data</span>
            </div>
            <input type="hidden" id="letter-sender" name="sender" value="{{sender}}">
            <a href="#" data-key="senderManual" data-recipient="sender-list" class="btn btn-mini btn-info manual-recipient" data-alternative="sender-db" id="sender-manual"><i class="icon-pencil"></i> Setel nama pengirim</a>
          </div>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="mailId">Nomor Surat</label>
        <div class="controls">
          <input class="span4" type="text" name="mailId" value="{{letter.mailId}}" {{^isAdministration}}disabled{{/isAdministration}}>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="incomingAgenda">Nomor Agenda</label>
        <div class="controls">
          <input class="span4" type="text" name="incomingAgenda" value="{{letter.incomingAgenda}}" {{^isAdministration}}disabled{{/isAdministration}}>

          {{#lastAgenda}}
          <br> Nomor agenda keluar terakhir: {{lastAgenda}}
          {{/lastAgenda}}
        </div>

      </div>

      <div class="control-group">
        <label class="control-label">Berkas Pemindaian</label>
        <div class="controls">
          <!--button class="btn btn-mini" id="tambah-berkas">Tambah berkas sebagai lampiran</button-->
          <div class="span6" id="fileAttachments-list">
            <div id="letter-fileAttachments-placeholder" class="files"></div>
            <span id="fileupload" style="display: none;" class="btn btn-mini btn-info fileinput-button">
              <i class="icon-plus"></i>
              <span>Berkas</span>
              <input type="file" name="files[]" multiple>
            </span>
            <em>&nbsp; Maksimal berukuran 10 mb dengan format .pdf, .jpg dan .png</em>
          </div>
        </div>
      </div>

      <hr/>
    </div>
    <div class="step-pane" id="step2">
      <hr/>

      <div class="control-group">
        <label class="control-label" for="recipients">Penerima</label>
        <div class="controls">
          <div class="span6" id="recipients-list" data-data="letter-recipients" data-placeholder="letter-recipients-placeholder">
            <div id="letter-recipients-placeholder"><span class="label label-important">Belum ada data</span>
            </div>
            <input type="hidden" id="letter-recipients" name="recipient" value="{{letter.recipients}}">
            <a href="#" data-type="recipient" data-scope="external" data-recipient="recipients-list" class="btn btn-mini btn-info recipient-editor"><i class="icon-pencil"></i> Setel nama penerima</a>
          </div>
        </div>
      </div>
      {{#autoCc.length}}
      <div class="control-group">
        <label class="control-label" for="ccList">Tembusan Otomatis (PLH)</label>
        <div class="controls">
          {{#autoCc}}
          <input type=hidden name="autoCc[]" value="{{username}}">
          <li>{{profile.fullName}}, {{#deputyActive}}PLH {{/deputyActive}}{{profile.title}}
          {{/autoCc}}
        </div>

      </div>
      {{/autoCc.length}}


      <div class="control-group">
        <label class="control-label" for="ccList">Tembusan</label>
        <div class="controls">
          <div class="span6" id="ccList-list" data-data="letter-ccList" data-placeholder="letter-ccList-placeholder">
            <div id="letter-ccList-placeholder"><span class="label label-important">Belum ada data</span>
            </div>
            <input type="hidden" id="letter-ccList" name="ccList" value="{{letter.ccList}}">
            <a href="#" data-type="cc" data-scope="external" data-recipient="ccList-list" class="btn btn-mini btn-info recipient-editor"><i class="icon-plus"></i> Tembusan</a>
          </div>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="title">Perihal</label>
        <div class="controls">
          <input class="span6" type="text" name="title" value="{{letter.title}}">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="priority">Kecepatan Sampai</label>
        <div class="controls">
          <select name="priority">
            <option value="0">Biasa</option>
            <option value="1">Segera</option>
            <option value="2">Amat Segera</option>
          </select>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="classification">Tingkat Keamanan</label>
        <div class="controls">
          <select name="classification">
            <option value="0">Biasa</option>
            <option value="1">Rahasia</option>
            <option value="2">Sangat Rahasia</option>
          </select>
        </div>
      </div>
      <hr/>
    </div>

    <div class="step-pane" id="step3">
      <hr/>
      <div class="control-group">
        <label class="control-label" for="type">Jenis Naskah Dinas</label>
        <div class="controls">
          <select name="type">
            <option value="0" {{type0}}>Peraturan</option>
            <option value="1" {{type1}}>Pedoman</option>
            <option value="2" {{type2}}>Petunjuk Pelaksanaan</option>
            <option value="3" {{type3}}>Instruksi</option>
            <option value="4" {{type4}}>Prosedur Tetap (SOP)</option>
            <option value="5" {{type5}}>Surat Edaran</option>
            <option value="6" {{type6}}>Keputusan</option>
            <option value="7" {{type7}}>Surat Perintah/Surat Tugas</option>
            <option value="8" {{type8}}>Nota Dinas</option>
            <option value="9" {{type9}}>Memorandum</option>
            <option value="10" {{type10}}>Surat Dinas</option>
            <option value="11" {{type11}}>Surat Undangan</option>
            <option value="12" {{type12}}>Surat Perjanjian</option>
            <option value="13" {{type13}}>Surat Kuasa</option>
            <option value="14" {{type14}}>Berita Acara</option>
            <option value="15" {{type15}}>Surat Keterangan</option>
            <option value="16" {{type16}}>Surat Pengantar</option>
            <option value="17" {{type17}}>Pengumuman</option>
            <option value="18" {{type18}}>Laporan</option>
            <option value="19" {{type19}}>Lain-lain</option>
          </select>
        </div>
      </div>


      <div class="control-group">
        <label class="control-label" for="comments">Ringkasan</label>
        <div class="controls">
          <textarea class="span6" rows="10" name="comments">{{letter.comments}}</textarea>
        </div>
      </div>
      <hr/>
    </div>
  </form>
  <div class="row-fluid wizard-actions">
    <button class="btn btn-prev">
      <i class="icon-arrow-left"></i> Kembali
    </button>

    <button class="btn btn-success btn-next" data-last="Selesai ">
      Berikutnya
      <i class="icon-arrow-right icon-on-right"></i>
    </button>
  </div>

</div>
<!-- The template to display files to be uploaded -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
  <div class="template-upload fade">
    <p>{%=file.name%} <a href="#" class="remove-button cancel">×</a> </p>
    {% if (!o.files.error) { %}
    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="bar" style="width:0%;"></div></div>
    {% } %}
  </div>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
  <div class="template-download fade">
    {% if (file.error) { %}
    <div><span class="label label-important">Error</span> {%=file.error%} <button class="btn-link delete">×</button> </div>
    {% } else { %}
    <p>
      <a href="/letter/attachment/{%=file.path%}" data-attachment-id="{%=file.path%}" data-letter-id="{%=file.letterId%}" class="attachment-preview">{%=file.name%}</a> 
      <button class="fileuploaddelete btn-link delete" data-type="DELETE" data-url="/letter/attachments/{%=file.letterId%}/{%=file.path%}">×</button>
    </p>
    {% } %}
  </div>
{% } %}
</script>

<script type="text/javascript" src="/js/fuelux/fuelux.wizard.min.js"></script>
<script type="text/javascript" src="/js/bootbox.min.js"></script>
<script type="text/javascript" src="/js/chosen/chosen.jquery.js"></script>
<script type="text/javascript" src='/js/recipient-editor.js'></script>
<script type="text/javascript" src='/js/confirmation-dialog.js'></script>
<script type="text/javascript" src='/lib/fullcalendar.min.js'></script>
<script type="text/javascript" src='/js/calendar-picker.js'></script>

<script type="text/javascript" src="/upload/js/vendor/jquery.ui.widget.js"></script>
<script type="text/javascript" src="/upload/js/vendor/tmpl.min.js"></script>
<script type="text/javascript" src="/upload/js/jquery.fileupload.js"></script>
<script type="text/javascript" src="/upload/js/jquery.fileupload-ui.js"></script>
<script type="text/javascript" src="/upload/js/jquery.fileupload-process.js"></script>

<script type="text/javascript">
$(document).ready(function() {

  $(".calendar-picker").calendarPicker();
{{#senderManual.id}}
  $(".manual-recipient").manualRecipient(
    {
      name: "{{senderManual.name}}",
      organization: "{{senderManual.organization}}",
      address: "{{senderManual.address}}",
    }
  );  
{{/senderManual.id}}

  // fileupload widget
  $(function () {
    $('#fileupload').show()
    
    $('#fileupload').fileupload({
        url: '/letter/attachments',
        autoUpload : true,
        filesContainer : '.files',
        prepend : true,
        formData : { _id : '{{draftId}}'}
    });

    // get attachments
    $.ajax({
        url: $('#fileupload').fileupload('option', 'url') + '/{{draftId}}',
        dataType: 'json',
        context: $('#fileupload')[0]
    }).always(function () {
        $(this).removeClass('fileupload-processing');
    }).done(function (result) {
        $(this).fileupload('option', 'done')
            .call(this, $.Event('done'), {result: result});
    });

    $('input').css('color', '#393939');
    $('textarea').css('color', '#393939');

  });
})
</script>


<script>
    $(function () {
        var $validation = false;
        $('#fuelux-wizard').ace_wizard().on('change', function (e, info) {
            if (info.step == 1 && $validation) {
                if (!$('.letter-composer').valid()) return false;
            }
        }).on('finished', function (e) {
            var form = $('.letter-composer');

            bootbox.dialog({
                title: "Konfirmasi",
                message: "Benar ingin menyimpan surat ini?",
                buttons: {
                    "cancel": {
                        "label": "Tidak",
                        "className": "btn-sm btn-danger"
                    },
                    "main": {
                        "label": "Ya, Simpan",
                        "className": "btn-sm btn-primary",
                        callback: function () {
                            form.submit();
                        }
                    }
                }
            });
        }).on('stepclick', function (e) {

        });
    });

</script>

<script type="text/javascript" src="/js/letter.js"></script>
