<input type=hidden name="_id" value="{{_id}}">
<input type=hidden name="_id" value="{{_id}}">
<ul class="nav nav-tabs">
  <li ><a href=/incoming>Surat Masuk</a></li>
  <li ><a href=/outgoing>Surat Keluar</a></li>
</ul>

{{#unsuccessful}}
	<h2>Surat tidak dapat dibaca</h2>
  <p>
  Surat ini tidak dapat dibaca karena Anda bukan salah satu penerima, penulis konsep, pemeriksa, atau termasuk dalam daftar tembusan dalam surat ini.
  </p>
{{/unsuccessful}}

{{#successful}}
<p align="right">
	{{#canDemote}}
  <div id="demotion-dialog" class="modal hide fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Batalkan surat ini?</h3>
    </div>
    <div class="modal-body">
      Silakan isi pesan pembatalan surat:<br/>
      <textarea id="demotion-message"></textarea>
    </div>
    <div class="modal-footer">
      <a href="#" data-dismiss="modal" class="btn">Tutup</a>
      <a id="btn-demote-letter" href="#" class="btn btn-primary" disabled>Simpan</a>
    </div>
  </div>

	<a id="demote-letter" href="#" class="btn btn-danger">Batalkan surat</a>
  <script>
    $("#demote-letter").click(function(e) {
      e.preventDefault();
      $("#demotion-dialog").modal("show");
    })

    $("#demotion-message").bind("change keyup", function(e) {
      if ($(this).val() && $(this).val().length > 0) {
        $("#btn-demote-letter").attr("disabled", false);
      } else {
        $("#btn-demote-letter").attr("disabled", true);
      }
    });
    $("#btn-demote-letter").click(function(e) {
      e.preventDefault();
      if ($(this).prop("disabled")) {
        
        return;
      }
      var data =  { 
          letterId: "{{_id}}", 
          message: $("#demotion-message").val(),
        }
      $.post("/letter/demote", data,
      function(data) {
        if (data && data.result == "OK") {
          location.href = "/outgoing/cancel";
        } else {
          location.href = "/";
        }
      }, "json")
    $("#remove-organization-dialog").modal('hide');
  })




  </script>
	{{/canDemote}}

	{{#needsReview}}
	<a href="/letter/review/{{_id}}" class="btn btn-primary">Proses surat</a>
	{{/needsReview}}

	{{#canRejectIncomingLetter}}
	<a href="#" id="btn-reject" class="btn btn-warning">Tolak</a>
	{{/canRejectIncomingLetter}}

	{{#allowDisposition}}
	<a href="/disposition/new?letterId={{_id}}" class="btn btn-primary">Buat disposisi</a>
	{{/allowDisposition}}

  {{^creationType.external}}
  <!-- hanya terlihat di jenis nota dinas dan surat biasa-->
	<a href="#" onclick="Popup=window.open('/letter/single/{{_id}}','Popup','toolbar=no,location=no,status=no,menubar=no,scrollbars=no,resizable=yes,width=800,height=600'); return false;" class="btn btn-primary">Lihat Surat</a>
  
  {{/creationType.external}}
</p>


<div>
	<h2>{{title}}</h2>

  {{#letterReceived}}
	<div class=message>
  Surat sudah diterima dan akan tampil di layar penerima.
  </div>
  {{/letterReceived}}

	<br/>
	
	
	<table class="table">
		<tbody>
			<tr> <!-- nomor -->
				  {{#outgoingAgenda}}
				  <td>
					Nomor Agenda Surat Keluar
				  </td>
				  {{/outgoingAgenda}}

				  {{#incomingAgenda}}
				  <td>
					Nomor Agenda Surat Masuk
				  </td>
				  {{/incomingAgenda}}
				<td>:&nbsp;&nbsp;&nbsp;&nbsp;
				  		{{#outgoingAgenda}}
				    		{{outgoingAgenda}}
				  		{{/outgoingAgenda}}

				  		{{#incomingAgenda}}
							{{incomingAgenda}}
				  		{{/incomingAgenda}}
				</td>
				<td class="span3">Tanggal Penerimaan Surat</td>
				{{#receivedDate}}
				<td class="span3">:&nbsp;&nbsp;&nbsp;&nbsp;
					{{receivedDate}}
				</td>
				{{#receivedDate}}
			</tr>
			<tr> <!-- tanggal -->
				<td class="span3">Nomor Surat</td>
				<td class="span3">:&nbsp;&nbsp;&nbsp;&nbsp;
					{{mailId}} &nbsp;
				</td>
				<td class="span3">Tanggal Surat</td>
				{{/receivedDate}}
				<td class="span3">:&nbsp;&nbsp;&nbsp;&nbsp;
					{{date}}
				</td>
				{{/receivedDate}}
			</tr>
			<tr> <!-- jenis dan status -->
				<td class="span3">Jenis Surat</td>
				<td class="span3">:&nbsp;&nbsp;&nbsp;&nbsp;
					{{#creationType.external}}
					Salinan dari surat kertas
				{{/creationType.external}}
				
				{{#creationType.internal}}
					Nota Dinas
				{{/creationType.internal}} &nbsp;
				</td>
				<td class="span3">Status</td>
				<td class="span3">:&nbsp;&nbsp;&nbsp;&nbsp;
					{{#statusDemoted}}Batal{{/statusDemoted}}
					{{#statusInReviewNow}}Sedang diperiksa {{nextReviewer}} {{/statusInReviewNow}}
					{{#statusInReview}}Sedang dalam alur pemeriksaan{{/statusInReview}}
					{{#statusNew}}Baru{{/statusNew}}
					{{#statusApproved}}Menunggu dikirim oleh Tata Usaha{{/statusApproved}}
					{{#statusSent}}Terkirim, menunggu di Tata Usaha di instansi penerima{{/statusSent}}
					{{#statusNotAllReceived}}Belum semua penerima surat di bawah ini telah menerima{{/statusNotAllReceived}}
			        {{^rejectionDate}}
							{{#statusReceived}}Diterima{{/statusReceived}}
			        {{/rejectionDate}}
			        {{#rejectionDate}}
						  Ditolak {{rejectionDate}}	
			        <br>Alasan: {{rejectionReason}}
			        {{/rejectionDate}}
				</td>
			</tr>
			<tr> <!-- subyek -->
				<td class="span2">Tujuan</td>
				<td class="span4">
					{{#recipientManual.name}}
					{{recipientManual.name}} -&nbsp;
					{{recipientManual.organization}}<br>
					{{recipientManual.address}}
					{{/recipientManual.name}}
					{{^recipientManual.name}}

					<ol>
						{{#recipientsResolved}}
						<li>
							{{name}} <br/>
							{{#receivedByDeputy}}
					          PLH
					          {{/receivedByDeputy}}
					          {{^receivedByDeputy}}
					          {{title}} 
					          {{/receivedByDeputy}}
					          {{organization}} <br>(Golongan {{class}})
					          {{#readDate}}<br><span class="label label-success">dibaca</span>: {{readDate}}{{/readDate}}
	          					{{^readDate}}<br><span class="label label-important">belum dibaca</span>{{/readDate}}
						</li>
						{{/recipientsResolved}}
					</ol>
					{{/recipientManual.name}} &nbsp;
				</td>
				<td class="span2">Pengirim</td>
				<td class="span4">:&nbsp;&nbsp;&nbsp;&nbsp;
					{{#senderManual.name}}
					{{senderManual.name}} 
					<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					{{senderManual.organization}} <br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					{{senderManual.address}}
					{{/senderManual.name}}
					{{^senderManual.name}}
						{{senderResolved.name}}<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			          {{#sentByDeputy}}
			          (PLH) 
			          {{/sentByDeputy}}
						{{senderResolved.title}}
						{{senderResolved.organization}}
					{{#senderResolved.class}}
						<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Golongan {{senderResolved.class}})
					{{/senderResolved.class}}
					{{/senderManual.name}} &nbsp;
				</td>
			</tr>
		</tbody>
	</table>

	<h4 class="lighter underline">Pindaian</h4>
	{{#fileAttachments.length}}
	<ol>
		{{#fileAttachments}}
		<li>
			<a data-href="/letter/attachment/{{id}}" data-attachment-id="{{id}}" data-letter-id="{{_id}}" class="attachment-preview" 
			{{#allowDisposition}}
    		data-allow-disposition="true"
			{{/allowDisposition}}
            >{{name}}</a>
		</li>
		{{/fileAttachments}}
	</ol>
	{{/fileAttachments.length}}
	
	<br/>
		  
	{{#ccListResolved.length}}

	<table class="table">
		<tbody>
			<tr>
				<td class="span3">Tembusan</td>
				<td class="span9">
					<ol>
						{{#ccListResolved}}
						<li>
							{{name}}<br/> {{title}} {{organization}} (Golongan {{class}}) {{#readDate}}(<span class="label label-success">Dibaca</span>: {{readDate}}){{/readDate}}
						</li>
						{{/ccListResolved}}
					</ol>
				</td>
			</tr>
		</tbody>
	</table>
	{{/ccListResolved.length}}

<hr/>
	
	<table class="table table-bordered">
		<tbody>
			<tr>
				<td class="span4" style="background-color:#f9f9f9;">Jenis Nota Dinas</td>
				<td class="span8">
					{{#type0}}Peraturan{{/type0}}
					{{#type1}}Pedoman{{/type1}}
					{{#type2}}Petunjuk Pelaksanaan{{/type2}}
					{{#type3}}Instruksi{{/type3}}
					{{#type4}}Prosedur Tetap (SOP){{/type4}}
					{{#type5}}Surat Edaran{{/type5}}
					{{#type6}}Keputusan{{/type6}}
					{{#type7}}Surat Perintah/Surat Tugas{{/type7}}
					{{#type8}}Nota Dinas{{/type8}}
					{{#type9}}Memorandum{{/type9}}
					{{#type10}}Surat Dinas{{/type10}}
					{{#type11}}Surat Undangan{{/type11}}
					{{#type12}}Surat Perjanjian{{/type12}}
					{{#type13}}Surat Kuasa{{/type13}}
					{{#type14}}Berita Acara{{/type14}}
					{{#type15}}Surat Keterangan{{/type15}}
					{{#type16}}Surat Pengantar{{/type16}}
					{{#type17}}Pengumuman{{/type17}}
					{{#type18}}Laporan{{/type18}}
					{{#type19}}Lain-lain{{/type19}}
				</td>
			</tr>
			<tr>
				<td class="span4" style="background-color:#f9f9f9;">Kecepatan Penyampaian</td>
				<td class="span8">
					{{#priorities.p0}}
					<span class="label label-success">Biasa</span>
					{{/priorities.p0}}

					{{#priorities.p1}}
					<span class="label label-warning">Segera</span>
					{{/priorities.p1}}

					{{#priorities.p2}}
					<span class="label label-important">Amat Segera</span>
					{{/priorities.p2}}
				</td>
			</tr>
			<tr>
				<td class="span4" style="background-color:#f9f9f9;">Tingkat Keamanan</td>
				<td class="span8">
					{{#classifications.c0}}
					<span class="label label-success">Biasa</span>
					{{/classifications.c0}}

					{{#classifications.c1}}
					<span class="label label-warning">Rahasia</span>
					{{/classifications.c1}}

					{{#classifications.c2}}
					<span class="label label-important">Sangat Rahasia<i class="icon-warning-sign icon-white"></i></span>
					{{/classifications.c2}}
				</td>
			</tr>
			<tr>
				<td class="span4" style="background-color:#f9f9f9;">Isi Ringkas</td>
				<td class="span8">{{comments}}</td>
			</tr>
		</tbody>
	</table>
	  
{{#isSendingOrganization}}
{{#reviewersResolved.length}}
	<h4 class="lighter underline">Alur Pemeriksaan</h4>
        <div id="reviewers-loading" class="">
          <span class="fa fa-spin fa-spinner"></span> Memuat daftar pemeriksa...
        </div>
        <div class="row-fluid">
          <ul class="wizard-steps" id="reviewers-list" data-originator="{{originator}}" data-current="{{currentReviewer}}" data-date="{{creationDate}}">
          <li class="template hidden"><span class="step"></span><span class="title"></span></li>
        </ul>

        </div>
<table class="table table-bordered">
	<thead>
		
	</thead>
	<tbody>
		<tr>
			<td class="span6" style="background:#f9f9f9;">Pemeriksa</td>
			<td class="span2" style="background:#f9f9f9;">Status</td>
			<td class="span4" style="background:#f9f9f9;">Pesan</td>
		</tr>
		{{#reviewersResolved}}
		<tr>
			<td class="span6">
			  <span class="add-as-contact contact-avatar" data-username="{{username}}">{{name}}</span><br> {{title}} {{organization}} <br>(Golongan {{class}}) 
			</td>
			<td class="span1">
				{{#approved}}<span class="badge badge-success">Disetujui</span> {{/approved}}
				{{#nextReviewerInLine}}(<i>pemeriksa saat ini</i>){{/nextReviewerInLine}}
				{{#declined}}<span class="badge badge-warning">Ditolak</span>{{/declined}}
				{{#demoted}}<span class="badge badge-important">Batal</span>{{/demoted}}
			</td>
			<td class="span4">
				{{#message}}
				<i>{{message}}</i>
				{{/message}}				
			</td>
		</tr>
		{{/reviewersResolved}}
	</tbody>
</table>
<br>
<br>
{{/reviewersResolved.length}}

	{{#log.length}}


  <h4>Riwayat surat</h4>

	<div class=padding-box>
  <div class="timeline control line comment-list dialogs ">
    {{#letter.log}} 
    <div class="itemdiv dialogdiv">
      <div class="user">
        <span class="user contact-avatar timeline comment me " data-username="{{username}}"></span>
      </div>
      <div class="body">
        <div class="time">
          <span class="moment" data-format="dddd, DD MMMM YYYY HH:MM" data-value="{{date}}">{{date}}</span>
        </div>
        <div class="name">
          <span class="resolve-name">{{username}}</span>
        </div>

        <div class="text">
          {{#message}}
          {{message}}
          {{/message}}
          {{^message}}
          <i style="color:#888">Tidak ada catatan yang diberikan</i>
          {{/message}}
        </div>
      </div>
    </div>
    {{/letter.log}} 
  </div>
  </div>


	{{/log.length}}

{{/isSendingOrganization}}

	{{#receiving}}

	<form method=post action="/letter/receive/{{_id}}">
    Nomor Agenda Surat Masuk: <input type=text name=incomingAgenda class=span4>
    <input type=submit class="btn btn-primary" value="Terima surat">
  </form>
	{{/receiving}}
{{^isSendingOrganization}}
  {{#dispositions.length}}
  <hr/>
  <br/>
  <h3>Disposisi</h3>
  {{#dispositions}}
<!--<b>Tanggal disposisi</b>: {{formattedDate}}-->
{{#recipients}}

<table class="table table-bordered">
	<tbody>
		<tr>
			<td class="span3" style="background-color:#f9f9f9;">Tanggal Disposisi</td>
			<td class="span3">
				{{formattedDate}}
			</td>

			<td class="span3" style="background-color:#f9f9f9;">Tanggal Selesai</td>
			<td class="span3">
				{{formattedDate}}
			</td>

		</tr>
		<tr>
			<td class="span3" style="background-color:#f9f9f9;">Pengirim</td>
			<td class="span3">
				<span class="resolve-name add-as-contact contact-avatar" data-username="{{sender}}">{{sender}}</span>
			</td>

			<td class="span3" style="background-color:#f9f9f9;">Penerima</td>
			<td class="span3">
				<span class="resolve-name add-as-contact contact-avatar" data-username="{{recipient}}">{{recipient}}</span><br/>
  				{{#readDate}}(<span class="label label-success">dibaca</span>: {{readDate}}){{/readDate}}
  				<br/>
  				{{#followedUpDate}}(<span class="label label-success">ditanggapi</span>: {{followedUpDate}}){{/followedUpDate}}
 				 <br/>
  				{{#followedUpLetter}}Tanggapan: <a class="btn" href="/letter/read/{{followedUpLetter}}">Baca</a>{{/followedUpLetter}}
			</td>
		</tr>
		<tr>
			<td class="span3" style="background-color:#f9f9f9;">Tingkat Keamanan</td>
			<td class="span3">
				{{#security0}}<span class="label label-success">Biasa</span>{{/security0}}
			    {{#security1}}<span class="label label-warning">Rahasia</span>{{/security1}}
			    {{#security2}}<span class="label label-important">Sangat Rahasia &nbsp;<i class="icon-warning-sign icon-white"></i></span>{{/security2}} &nbsp;
			</td>

			<td class="span3" style="background-color:#f9f9f9;">Kecepatan Penyampaian</td>
			<td class="span3">
				{{#priority0}}<span class="label label-success">Biasa</span>{{/priority0}}
		        {{#priority1}}<span class="label label-warning">Segera</span>{{/priority1}}
		        {{#priority2}}<span class="label label-important">Amat Segera</span>{{/priority2}} &nbsp;
			</td>
		</tr>
		<tr>
			<td class="span3" style="background-color:#f9f9f9;">Instruksi</td>
			<td class="span3">
				{{#instruction0}}Jawaban{{/instruction0}}
		        {{#instruction1}}Diketahui{{/instruction1}}
		        {{#instruction2}}Diperhatikan{{/instruction2}}
		        {{#instruction3}}Diwakili{{/instruction3}}
			</td>

			<td class="span3" style="background-color:#f9f9f9;">Pesan</td>
			<td class="span3">
				{{message}}
			</td>
		</tr>
	</tbody>
</table>

{{/recipients}}
{{/dispositions}}
{{/dispositions.length}}


{{/isSendingOrganization}}
</div>
<br>
<br>

{{/successful}}
	{{#canRejectIncomingLetter}}
  <div id="reject-letter-dialog" class="modal hide fade">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3><span class="reject-letter"></span></h3>
    </div>
    <div class="modal-body">
    Silakan tulis alasan penolakan 
    <br/>
    <textarea id="rejection-reason" class=span8></textarea>
    </div>
    <div class="modal-footer">
    <a href="#" data-dismiss="modal" class="btn">Batal</a>
    <a id="btn-confirm-reject" href="#" class="btn btn-primary">Tolak Surat</a>
    </div>
  </div>
  <script>
  $("#btn-reject").click(function() {
    $("#reject-letter-dialog").modal();
  });

  $("#btn-confirm-reject").click(function() {
    var data = {
      id: '{{_id}}',
      reason: $("#rejection-reason").val()
    };
    $.post("/letter/reject", data,
    function(data) {
      document.location='/incoming';
    })

  });
  </script>
	{{/canRejectIncomingLetter}}


<div class="add-as-contact-dialog hidden">
  Tambahkan <b><span id="contact-name"></span></b> ke daftar kontak:
  <br/>
  <textarea id="add-new-contact-text" placeholder="Tambahkan pesan di sini..."></textarea>
  <br/>
  <button class="btn btn-primary" id="add-as-contact-submit">Ya</button>
  <button class="btn btn-primary" id="add-as-contact-cancel">Tidak</button>
</div>
<script type="text/javascript" src="/lib/moment.min.js"></script>
<script src='/js/resolve-name.js'></script>
<script src='/js/attachment-preview.js'></script>
<script src='/js/contacts.js'></script>
<script type="text/javascript" src="/js/reviewer-list.js"></script>
