<div class="row-fluid">
  <div class="span12">
    <div class="pull-left">
      <h2>Surat Tembusan</h2>
      {{#searchQuery.string}}
        <span class="alert alert-info">Hasil pencarian untuk kata kunci "{{searchQuery.string}}"</span>
      {{/searchQuery.string}}
      {{#searchQuery.startDate}}
        <span class="alert alert-info">Hasil pencarian dari tanggal {{searchQuery.startDate}} sampai {{searchQuery.endDate}}</span>
      {{/searchQuery.startDate}}
    </div>
    <div class="pull-right">
      <form class="form-search" action="/incoming/cc" method="get">
        <input type="text" class="search-query" name="search[string]" value="{{searchString}}">
        <select name="search[letterType]">
          <option value="" >Semua Jenis</option>
          <option value="0" {{searchLetterType0}}>Peraturan</option>
          <option value="1" {{searchLetterType1}}>Pedoman</option>
          <option value="2" {{searchLetterType2}}>Petunjuk Pelaksanaan</option>
          <option value="3" {{searchLetterType3}}>Instruksi</option>
          <option value="4" {{searchLetterType4}}>Prosedur Tetap (SOP)</option>
          <option value="5" {{searchLetterType5}}>Surat Edaran</option>
          <option value="6" {{searchLetterType6}}>Keputusan</option>
          <option value="7" {{searchLetterType7}}>Surat Perintah/Surat Tugas</option>
          <option value="8" {{searchLetterType8}}>Nota Dinas</option>
          <option value="9" {{searchLetterType9}}>Memorandum</option>
          <option value="10" {{searchLetterType10}}>Surat Dinas</option>
          <option value="11" {{searchLetterType11}}>Surat Undangan</option>
          <option value="12" {{searchLetterType12}}>Surat Perjanjian</option>
          <option value="13" {{searchLetterType13}}>Surat Kuasa</option>
          <option value="14" {{searchLetterType14}}>Berita Acara</option>
          <option value="15" {{searchLetterType15}}>Surat Keterangan</option>
          <option value="16" {{searchLetterType16}}>Surat Pengantar</option>
          <option value="17" {{searchLetterType17}}>Pengumuman</option>
          <option value="18" {{searchLetterType18}}>Laporan</option>
          <option value="19" {{searchLetterType19}}>Lain-lain</option>
        </select>


        <button type="submit" class="btn"><i class="icon-search"></i></button>
      </form>
    </div>
  </div>
</div>

    {{^letters.length}}
      <br>
      <br>
      <div class="alert alert-warning">
        Tidak ada data.
      </div>
    {{/letters.length}}
 
    {{#letters.length}}
    <table class="table table-bordered table-striped">
      <thead>
       <tr>
        <th class="letter-sorting" data-field="date">Tanggal</th>
        <th class="letter-sorting" data-field="mailId">Nomor Surat</th>
        <th class="letter-sorting" data-field="type">Jenis Surat</th>
        <th class="letter-sorting" data-field="sender">Pengirim</th>
        <th class="letter-sorting" data-field="title">Perihal</th>
      </tr>
      </thead>
 
      <tbody class="clickable">
    {{#letters}}
      <tr class="table-entry" onclick="document.location='/letter/read/{{_id}}'">
        <td>{{formattedDate}}</td>
        <td>{{mailId}}</td>
			<td>
				{{#type0}}Peraturan{{/type0}}
				{{#type1}}Pedoman{{/type1}}
				{{#type2}}Petunjuk Pelaksanaan{{/type2}}
				{{#type3}}Instruksi{{/type3}}
				{{#type4}}Prosedur Tetap (SOP){{/type4}}
				{{#type5}}Surat Edaran{{/type5}}
				{{#type6}}Keputusan{{/type6}}
				{{#type7}}Surat Perintah/Surat Tugas{{/type7}}
				{{#type8}}Nota Dinas{{/type8}}
				{{#type9}}Memorandum{{/type9}}
				{{#type10}}Surat Dinas{{/type10}}
				{{#type11}}Surat Undangan{{/type11}}
				{{#type12}}Surat Perjanjian{{/type12}}
				{{#type13}}Surat Kuasa{{/type13}}
				{{#type14}}Berita Acara{{/type14}}
				{{#type15}}Surat Keterangan{{/type15}}
				{{#type16}}Surat Pengantar{{/type16}}
				{{#type17}}Pengumuman{{/type17}}
				{{#type18}}Laporan{{/type18}}
				{{#type19}}Lain-lain{{/type19}}

        </td>
	
        <td class="resolve-name">{{sender}}</td>
        <td>

        {{#readStates.cc}}<span class="badge badge-success">Sudah dibaca</span>{{/readStates.cc}}
        {{^readStates.cc}}<span class="badge">Belum dibaca</span>{{/readStates.cc}}
        {{#secret}}[SECRET]{{/secret}}{{#highPriority}}<span style="color:red;font-weight:bold">!</span> {{/highPriority}}{{title}}</td>
      </tr>
    {{/letters}}
      </tbody>
    </table>
<div class="pull-center">
  <div class="pagination">
    <ul>
      {{#pages}}
      <li class="{{#active}}active{{/active}}"><a href="/incoming/cc?page={{page}}">{{page}}</a></li>
      {{/pages}}
    </ul>
  </div>
</div>
    {{/letters.length}}
</div>
<script src='/js/resolve-name.js'></script>
<script src='/js/letter-sorting.js'></script>
