<div class="row-fluid">
  <div class="span12">
    <div class="pull-left">
      <h2>Konsep Surat</h2>
      {{#searchQuery.string}}
        <span class="alert alert-info">Hasil pencarian untuk kata kunci "{{searchQuery.string}}"</span>
      {{/searchQuery.string}}
      {{#searchQuery.startDate}}
        <span class="alert alert-info">Hasil pencarian dari tanggal {{searchQuery.startDate}} sampai {{searchQuery.endDate}}</span>
      {{/searchQuery.startDate}}
    </div>
    <div class="pull-right">
      <form class="form-search" action="/outgoing/draft" method="get">
	      <input type="text" class="search-query" name="search[string]" value="{{searchString}}">
				<select name="search[letterType]">
					<option value="" >Semua Jenis</option>
					<option value="0" {{searchLetterType0}}>Peraturan</option>
					<option value="1" {{searchLetterType1}}>Pedoman</option>
					<option value="2" {{searchLetterType2}}>Petunjuk Pelaksanaan</option>
					<option value="3" {{searchLetterType3}}>Instruksi</option>
					<option value="4" {{searchLetterType4}}>Prosedur Tetap (SOP)</option>
					<option value="5" {{searchLetterType5}}>Surat Edaran</option>
					<option value="6" {{searchLetterType6}}>Keputusan</option>
					<option value="7" {{searchLetterType7}}>Surat Perintah/Surat Tugas</option>
					<option value="8" {{searchLetterType8}}>Nota Dinas</option>
					<option value="9" {{searchLetterType9}}>Memorandum</option>
					<option value="10" {{searchLetterType10}}>Surat Dinas</option>
					<option value="11" {{searchLetterType11}}>Surat Undangan</option>
					<option value="12" {{searchLetterType12}}>Surat Perjanjian</option>
					<option value="13" {{searchLetterType13}}>Surat Kuasa</option>
					<option value="14" {{searchLetterType14}}>Berita Acara</option>
					<option value="15" {{searchLetterType15}}>Surat Keterangan</option>
					<option value="16" {{searchLetterType16}}>Surat Pengantar</option>
					<option value="17" {{searchLetterType17}}>Pengumuman</option>
					<option value="18" {{searchLetterType18}}>Laporan</option>
					<option value="19" {{searchLetterType19}}>Lain-lain</option>
				</select>
	      <button type="submit" class="btn"><i class="icon-search"></i></button>
	    </form>
    </div>
  </div>
</div>
 
    {{^letters.length}}
      <br>
      <br>
      <div class="alert alert-warning">
        Tidak ada data.
      </div>
    {{/letters.length}}
 
    {{#letters.length}}
    <table class="table table-bordered table-striped">
	<thead>
		<th class="letter-sorting" data-field="date">Tanggal surat</th>
		<th class="letter-sorting" data-field="mailId">Nomor surat</th>
		<th class="letter-sorting" data-field="type">Jenis Surat</th>
		<th class="letter-sorting" data-field="sender">Pemeriksa</th>
		<th class="letter-sorting" data-field="sender">Atas Nama</th>
		<th class="letter-sorting" data-field="title">Perihal</th>
	</thead>
	<tbody class="clickable">
    {{#letters}}
    <tr class="table-entry {{#letterInReview}}letter-in-review{{/letterInReview}}" onclick="document.location='/letter/check/{{_id}}'">
      <td><span class="moment" data-format="dddd, DD MMMM YYYY" data-value="{{date}}"></span></td>
      <td>{{#mailId}}{{mailId}}{{/mailId}}{{^mailId}}<span class="label">Belum bernomor</span>{{/mailId}}</td>
			<td>
        <span class="resolve-letter-data" data-type="type" data-value="{{type}}"></span>
        </td>
	
        <td class="resolve-name">{{currentReviewer}}</td>
        <td class="resolve-name">{{sender}}</td>
        <td>{{#secret}}[SECRET]{{/secret}}{{#highPriority}}<span style="color:red;font-weight:bold">!</span> {{/highPriority}}{{title}}</td>
      </tr>
    {{/letters}}
    </tbody>
    </table>
    <div class="pull-center">
      <div class="pagination" data-total="{{total}}" data-label-total="%TOTAL% surat" data-page="{{page}}"></div>
    </div>


    {{/letters.length}}
</div>
<script src='/js/resolve-name.js'></script>
<script src='/js/letter-sorting.js'></script>
<script type="text/javascript" src="/lib/moment.min.js"></script>
<script type="text/javascript" src="/js/moment.js"></script>
<script type="text/javascript" src="/js/letter-data.js"></script>
<script src="/js/pagination.js"></script>
<script>
  $(".pagination").pagination();
</script>

