<link rel="stylesheet" href="/upload/css/jquery.fileupload.css">
<link rel="stylesheet" href="/css/jqtree.css"/>
<link rel="stylesheet" href="/upload/css/jquery.fileupload-ui.css">

<link rel="stylesheet" href="/js/chosen/chosen.css" />
<link rel="stylesheet" href="/css/font_awesome/css/font-awesome.min.css" />
<link rel="stylesheet" href="/css/fullcalendar.css" />
<link rel="stylesheet" href="/css/calendar-picker.css" />

<div class="row-fluid">
  <div class="span12">
    <div class="pull-left">
      <h2>Buat Surat Keluar</h2>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="alert alert-success form-success hidden">
    Surat keluar berhasil dibuat. Proses pemeriksaan dan pengiriman telah dimulai untuk dilaksanakan.
  </div>

  <div class="form-error alert alert-error hidden">
    Mohon maaf, surat tidak dapat disimpan.
    <br>
    <span id="error-invalid-fields" class="hidden">Ada isian yang kosong atau tidak benar. Perhatikan formulir di bawah yang diberi kotak merah.</span>
  </div>


  <hr/>
  <div id="fuelux-wizard" class="row-fluid" data-target="#outgoingLetter">
      <ul class="wizard-steps">
          <li data-target="#step1" class="active">
              <span class="step">1</span>
              <span class="title">Langkah 1</span>
          </li>

          <li data-target="#step2">
              <span class="step">2</span>
              <span class="title">Langkah 2</span>
          </li>

          <li data-target="#step3">
              <span class="step">3</span>
              <span class="title">Langkah 3</span>
          </li>
      </ul>
  </div>

 <form class="letter-composer form-horizontal  step-content row-fluid position-relative"  action="/outgoing/new" enctype="multipart/form-data" method="post" name="outgoing_letter" id="outgoingLetter" data-odf="odf">
    <input type="hidden" name="operation" value="outgoing">
    <input type="hidden" name="_id" value="{{draftId}}">
    <input type="hidden" name="originalLetterId" value="{{originalLetterId}}">
    <input type="hidden" name="createdFromDispositionId" value="{{createdFromDispositionId}}">
    <input type="hidden" name="title" value="{{profile.title}}">

    <div class="step-pane active" id="step1">
        <hr/>
        <div class="control-group">
            <label class="control-label" for="sender">Atas Nama</label>

            <div class="controls">

                {{^senderSelection.length}}
                <b>Belum ada data pejabat Eselon I dan II penandatangan surat</b>
                {{/senderSelection.length}}
                {{#senderSelection.length}}
                <select class="span6" id="sender" name="sender">
                    {{#senderSelection}}
                    <option value="{{username}}"
                    {{selected}} >{{profile.fullName}} {{#deputyActive}}, PLH
                    {{title}}{{/deputyActive}}{{^deputyActive}}{{profile.title}}{{/deputyActive}}</option>
                    {{/senderSelection}}
                </select>
                {{/senderSelection.length}}
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="date">Tanggal Surat</label>

            <div class="controls">
                <input class="span3" type="text" value="{{date}}" name="date">
                <span class="add-on"><i class="icon-calendar calendar-picker" data-field="date"></i></span>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="mailId">Nomor Surat</label>

            <div class="controls">
                <input class="span4" type="text" name="mailId" value="{{letter.mailId}}"
                {{^isAdministration}}disabled{{/isAdministration}} >
                <em>* diisi oleh Tata Usaha</em>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="recipients">Berkas Pemindaian</label>

            <div class="controls">
                <!--button class="btn btn-mini" id="tambah-berkas">Tambah berkas sebagai lampiran</button-->
                <div class="span6" id="fileAttachments-list">
                    <div id="letter-fileAttachments-placeholder" class="files"></div>
          <span id="fileupload" class="btn btn-mini btn-info fileinput-button">
            <i class="icon-plus"></i>
            <span>Berkas</span>
            <input type="file" name="files[]" multiple>
          </span>
          <em>&nbsp; Maksimal berukuran 10 mb dengan format .pdf, .jpg dan .png</em>
                </div>
            </div>
        </div>
        <hr/>
    </div>
    <div class="step-pane" id="step2">
        <hr/>
        <div class="control-group">
            <label class="control-label" for="recipients">Penerima</label>

            <div class="controls">

              <input type="hidden" id="letter-recipients" name="recipients" value="{{letter.recipients}}">
              <div id="letter-recipient-placeholder"><span class="label label-important data-empty"></span><span class="data-value"></span></div>
              <div href="#" data-placeholder="letter-recipient-placeholder" data-control="letter-recipients" data-type="letter" data-letter-id="{{letterId}}" class="name-chooser" data-label-choose="Pilih" data-label-cancel="Batal" data-enable-multiple="true" data-label="Ambil dari pangkalan data" data-class="btn btn-mini" data-label-loading="Memuat data..." data-enable-manual="true" data-add-manual-label="Tambahkan data manual"></div>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="ccList">Tembusan</label>

            <div class="controls">
                <div class="span6" id="cc-list" data-data="letter-cc" data-placeholder="letter-cc-placeholder">
                    <div id="letter-cc-placeholder"></div>
                    <input type="hidden" id="letter-cc" name="ccList" value="{{letter.ccList}}">
                    <a href="#" data-scope="normal" data-type="cc" data-recipient="cc-list"
                       class="btn btn-mini btn-info recipient-editor"><i class="icon-plus"></i> Tembusan</a>
                </div>
            </div>

        </div>

        {{#autoCc.length}}
        <div class="control-group">
            <label class="control-label" for="ccList">Tembusan Otomatis (PLH)</label>

            <div class="controls">
                {{#autoCc}}
                <input type=hidden name="autoCc[]" value="{{username}}">
                <li>{{profile.fullName}}, {{#deputyActive}}PLH {{/deputyActive}}{{profile.title}}
                    {{/autoCc}}
            </div>

        </div>
        {{/autoCc.length}}

        <div class="control-group">
            <label class="control-label" for="title">Perihal Surat</label>

            <div class="controls">
                <input class="span6" type="text" name="title" value="{{letter.title}}">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="priority">Kecepatan Sampai</label>

            <div class="controls">
                <select name="priority">
                    <option value="0">Biasa</option>
                    <option value="1">Segera</option>
                    <option value="2">Amat Segera</option>
                </select>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="classification">Tingkat Keamanan</label>

            <div class="controls">
                <select name="classification">
                    <option value="0">Biasa</option>
                    <option value="1">Rahasia</option>
                    <option value="1">Sangat Rahasia</option>
                </select>
            </div>
        </div>
        <hr/>
    </div>
    <div class="step-pane" id="step3">
        <hr/>
        <div class="control-group">
          <label class="control-label" for="type">Jenis Naskah Dinas</label>
          <div class="controls">
          <select name="type">
            <option value="0" {{type0}}>Peraturan</option>
            <option value="1" {{type1}}>Pedoman</option>
            <option value="2" {{type2}}>Petunjuk Pelaksanaan</option>
            <option value="3" {{type3}}>Instruksi</option>
            <option value="4" {{type4}}>Prosedur Tetap (SOP)</option>
            <option value="5" {{type5}}>Surat Edaran</option>
            <option value="6" {{type6}}>Keputusan</option>
            <option value="7" {{type7}}>Surat Perintah/Surat Tugas</option>
            <option value="8" {{type8}}>Nota Dinas</option>
            <option value="9" {{type9}}>Memorandum</option>
            <option value="10" {{type10}}>Surat Dinas</option>
            <option value="11" {{type11}}>Surat Undangan</option>
            <option value="12" {{type12}}>Surat Perjanjian</option>
            <option value="13" {{type13}}>Surat Kuasa</option>
            <option value="14" {{type14}}>Berita Acara</option>
            <option value="15" {{type15}}>Surat Keterangan</option>
            <option value="16" {{type16}}>Surat Pengantar</option>
            <option value="17" {{type17}}>Pengumuman</option>
            <option value="18" {{type18}}>Laporan</option>
            <option value="19" {{type19}}>Lain-lain</option>
          </select>
          </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="comments">Isi Ringkas</label>

            <div class="controls">
                <textarea class="span6" name="comments">{{letter.comments}}</textarea>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="reviewers">Daftar Pemeriksa</label>

            <div class="controls">
              <div id="reviewers-loading" class="hidden">
                <span class="fa fa-spin fa-spinner"></span> Memuat daftar pemeriksa...
              </div>              <input type=hidden name="additional-reviewers">
              <input type=hidden name="additional-reviewers">

            <div class="timeline control line dialogs" id="reviewers-list" data-originator="{{letter.originator}}" data-current="{{letter.currentReviewer}}" data-date="{{letter.creationDate}}">
              <div class="itemdiv dialogdiv reviewer-item template hidden">
                <div class="user">
                  <span class="user contact-avatar timeline comment me " data-username="{{username}}"></span>
                </div>
                <div class="body">
                  <div class="step"> </div>
                  <div class="name">
                    <span class="title resolve-name"></span>
                  </div>
                </div>
              </div>
            </div>

            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="template">Template</label>

            <div class="controls">
                <a href="/template/_modal" data-toggle="modal" data-target="#template" class="btn btn-mini btn-info"><i
                        class="icon-copy"></i> Template</a>
            </div>
        </div>

        <div class="control-group">
            <img class="letterhead" src="">
            <input name="letterhead" type="hidden" value="">
        </div>

        <div class="control-group" ng-app="ngWebODF">
            <label class="control-label" for="template">Isi surat</label>
			<div class="controls">
				<img src="/img/arrow-path.png" style="margin-top:10px;position:absolute;-moz-transform: scale(-1, 1);-webkit-transform: scale(-1, 1);-o-transform: scale(-1, 1);-ms-transform: scale(-1, 1);transform: scale(-1, 1);">
					<h6 href="#" class="lighter blue">
						<span class="lighter blue" style="margin-left:40px">Penyunting WebODF ini hanya dapat mengunggah berkas .odt</span>
						<i class="ace-icon fa fa-hand-o-right bigger-125"></i>
						<a class="label label-info" role="button" data-toggle="modal" data-target="#odt">Lebih lanjut ...</a>
					</h6>
			</div>
			<br>
            <div class="controls">
              <webodf style="width:100px" url="/templates/empty.odt" name="odf" data-ruler="yes"></webodf>
            </div>
        </div>

        <div class="control-group">
            <br>

            <div class="btn-group">
                <button class="btn btn-success" id="previewButton"><i class="icon-search"></i>Pratinjau</button>
            </div>
        </div>
        <hr/>
    </div>
</form>

  <div class="row-fluid wizard-actions">
      <button class="btn btn-prev">
          <i class="icon-arrow-left"></i> Kembali
      </button>

      <button class="btn btn-success btn-next" data-last="Selesai ">
          Berikutnya
          <i class="icon-arrow-right icon-on-right"></i>
      </button>
  </div>
</div>
<div class="modal fade" id="template">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Pilih template</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Tutup</a>
  </div>
</div>
<!-- The template to display files to be uploaded -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
  <div class="template-upload fade">
    <p>{%=file.name%} <a href="#" class="remove-button cancel">×</a> </p>
    {% if (!o.files.error) { %}
    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="bar" style="width:0%;"></div></div>
    {% } %}
  </div>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
  <div class="template-download fade">
    {% if (file.error) { %}
    <div><span class="label label-important">Error</span> {%=file.error%} <button class="btn-link delete">×</button> </div>
    {% } else { %}
    <p>
      <a href="/letter/attachment/{%=file.path%}" data-attachment-id="{%=file.path%}" data-letter-id="{%=file.letterId%}" class="attachment-preview">{%=file.name%}</a> 
      <button class="btn-link delete" data-type="DELETE" data-url="/letter/attachments/{%=file.letterId%}/{%=file.path%}">×</button>
    </p>
    {% } %}
  </div>
{% } %}
</script>
<script type="text/javascript" src="/js/fuelux/fuelux.wizard.min.js"></script>
<script type="text/javascript" src="/js/bootbox.min.js"></script>
<script type="text/javascript" src="/js/chosen/chosen.jquery.js"></script>
<script type="text/javascript" src="/js/resolve-name.js"></script>
<script type="text/javascript" src='/js/recipient-editor.js'></script>
<script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src='/js/confirmation-dialog.js'></script>
<script type="text/javascript" src='/lib/fullcalendar.min.js'></script>
<script type="text/javascript" src='/js/calendar-picker.js'></script>

<script type="text/javascript" src="/upload/js/vendor/jquery.ui.widget.js"></script>
<script type="text/javascript" src="/upload/js/vendor/tmpl.min.js"></script>
<script type="text/javascript" src="/upload/js/jquery.fileupload.js"></script>
<script type="text/javascript" src="/upload/js/jquery.fileupload-ui.js"></script>
<script type="text/javascript" src="/upload/js/jquery.fileupload-process.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $("a[data-toggle=modal]").click(function() {
    var target, url;
    target = ($(this)).attr('data-target');
    url = ($(this)).attr('href');
    return ($('.modal-body')).load(url);
  });

  $('#previewButton').click(function(e){
    e.preventDefault()
    var odfName = $(".letter-composer").attr("data-odf");
    var webodf = $("[name=" + odfName + "]");
    var ng;

    if (webodf && webodf.length > 0) {
      ng = angular.element(webodf).scope();
      if (ng && ng.dirty()) {
        $("#empty-content").addClass("hidden");
        LetterComposer.saveDocument(ng, function() {
          $(".document-viewer").documentViewer().reload();
        });
      } else {
        setTimeout(function() {
          $("#empty-content").removeClass("hidden");
        }, 1000);
      }
    }

    $("#content-preview").modal("show");


  });

  $(".calendar-picker").calendarPicker();
})
</script>
<script type="text/javascript">
$(document).ready(function() {

  // fileupload widget
  $(function () {
    $('#fileupload').show();

    $('#fileupload').fileupload({
        url: '/letter/attachments',
        autoUpload : true,
        filesContainer : '.files',
        prepend : true,
        formData : { _id: '{{draftId}}'}
    });

    // get attachments
    $.ajax({
        url: $('#fileupload').fileupload('option', 'url') + '/{{draftId}}',
        dataType: 'json',
        context: $('#fileupload')[0]
    }).always(function () {
        $(this).removeClass('fileupload-processing');
    }).done(function (result) {
        $(this).fileupload('option', 'done')
        .call(this, $.Event('done'), {result: result});
    });

    $('input').css('color', '#393939');
    $('textarea').css('color', '#393939');


  });

})
</script>

<script>
    $(function(){
        var $validation = false;
        $('#fuelux-wizard').ace_wizard().on('change' , function(e, info){
          if(info.step == 1 && $validation) {
            if(!$('#validation-form').valid()) return false;
          }
          angular.element("[name=odf]").scope().updateGeometry();
        }).on('finished', function(e) {
            var form = $('#outgoingLetter');

            bootbox.dialog({
                title:"Konfirmasi",
                message: "Benar ingin menyimpan surat ini?",
                buttons: {
                    "cancel" : {
                        "label" : "Tidak",
                        "className" : "btn-sm btn-danger"
                    },
                    "main" : {
                        "label" : "Ya, Simpan",
                        "className" : "btn-sm btn-primary",
                        callback:function(){
                            form.submit();
                        }
                    }
                }
            });
        }).on('stepclick', function(e){
        });
    });
</script>

<div class="modal fade modal-content-preview" id="content-preview">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Pratinjau</h3>
  </div>
  <div class="modal-body">
    <div class="document-viewer" src="{{letter._id}}" data-content="true" data-disable-auto="true"></div>
    <div class="hidden" id="empty-content">Anda belum mengetikkan isi surat, jadi tidak ada pratinjau yang dapat ditampilkan.</div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Tutup</a>
  </div>
</div>

<div class="modal hide fade audit-detail" id="odt" role="dialog">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Kenapa menggunakan .odt?</h3>
  </div>
  <div class="modal-body">
	<p>1. Surat Edaran Menteri Komunikasi dan Informatika nomor 05/SE/M.KOMINFO/10/2005 tentang Pemakaian dan Pemanfataan Penggunaan Piranti Lunak Legal di Lingkungan Instansi Pemerintah</p>
	<p>2. Surat Edaran Menteri Pendayagunaan Aparatur Negara nomor SE/01/M.PAN/3/2009 tentang Pemanfaatan Perangkat Lunak Legal dan <em>Open Source Software (OSS)</em></p>
	<p>3. Peraturan Menteri Komunikasi dan Informatika nomor 7 tahun 2013 tentang Pedoman Penerapan Interoperabilitas Dokumen Perkantoran Bagi Penyelenggara Sistem Elektronik untuk Pelayanan Publik</p>
	<p>Untuk penggunaan dikomputer lokal, dapat menggunakan <a href="http://www.libreoffice.org/download/">LibreOffice</a></p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Tutup</a>
  </div>
</div>

<script type="text/javascript" src="/lib/angular+webodf.js"></script>
<script type="text/javascript" src="/lib/angular-webodf.js"></script>
<script type="text/javascript" src="/js/letter.js"></script>
<script type="text/javascript" src="/lib/moment.min.js"></script>
<script type="text/javascript" src="/js/contacts.js"></script>
<script type="text/javascript" src="/js/reviewer-list.js"></script>
<script src="/lib/tree.jquery.js"></script>
<script type="text/javascript" src="/js/people-tree.js"></script>
<link href="/css/document-viewer.css" rel="stylesheet">
<script src="/js/document-viewer.js" type="text/javascript"></script>

<script src='/js/name-chooser.js'></script>
<script>
  $(document).ready(function() {
    $(".name-chooser").nameChooser();
  });
</script>
