<input type=hidden name="_id" value="{{_id}}">
<input type=hidden name="_id" value="{{_id}}">
{{^letter}}
	<h2>Surat tidak dapat dibaca</h2>
  <p>
  Surat ini tidak dapat dibaca karena Anda bukan salah satu penerima, penulis konsep, pemeriksa, atau termasuk dalam daftar tembusan dalam surat ini.
  </p>
{{/letter}}

{{#letter}}
<p align="right">
	{{#canDemote}}
  <div id="demotion-dialog" class="modal hide fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Batalkan surat ini?</h3>
    </div>
    <div class="modal-body">
      Silakan isi pesan pembatalan surat:<br/>
      <textarea id="demotion-message"></textarea>
    </div>
    <div class="modal-footer">
      <a href="#" data-dismiss="modal" class="btn">Tutup</a>
      <a id="btn-demote-letter" href="#" class="btn btn-primary" disabled>Simpan</a>
    </div>
  </div>

	<a id="demote-letter" href="#" class="btn btn-danger">Batalkan surat</a>
  <script>
    $("#demote-letter").click(function(e) {
      e.preventDefault();
      $("#demotion-dialog").modal("show");
    })

    $("#demotion-message").bind("change keyup", function(e) {
      if ($(this).val() && $(this).val().length > 0) {
        $("#btn-demote-letter").attr("disabled", false);
      } else {
        $("#btn-demote-letter").attr("disabled", true);
      }
    });
    $("#btn-demote-letter").click(function(e) {
      e.preventDefault();
      if ($(this).prop("disabled")) {
        
        return;
      }
      var data =  { 
          letterId: "{{_id}}", 
          message: $("#demotion-message").val(),
        }
      $.post("/letter/demote", data,
      function(data) {
        if (data && data.result == "OK") {
          location.href = "/outgoing/cancel";
        } else {
          location.href = "/";
        }
      }, "json")
    $("#remove-organization-dialog").modal('hide');
  })




  </script>
	{{/canDemote}}

	{{#needsReview}}
	<a href="/letter/review/{{_id}}" class="btn btn-primary">Proses surat</a>
	{{/needsReview}}

	{{#meta.canReject}}
	<a href="#" id="btn-reject" class="btn btn-warning">Tolak</a>
	{{/meta.canReject}}

	{{#meta.allowDisposition}}
	<a href="/disposition/new?letterId={{_id}}" class="btn btn-primary">Buat disposisi</a>
	{{/meta.allowDisposition}}

</p>


<div>
	<h2>{{title}}</h2>

  {{#letterReceived}}
	<div class=message>
  Surat sudah diterima dan akan tampil di layar penerima.
  </div>
  {{/letterReceived}}

	<br/>
	
	
  {{#meta.incoming}}

  <!-- jika surat masuk -->
	
		<table class="table">
			<tbody>
				<tr>
					<td style="background-color:#f9f9f9;"><strong>Nomor Agenda Surat Masuk</strong></td>
					<td>{{letter.incomingAgenda}}</td>
					<td style="background-color:#f9f9f9;"><strong>Nomor Surat</strong></td>
					<td>{{letter.mailId}}</td>
				</tr>
				<tr>	
					<td style="background-color:#f9f9f9;"><strong>Tanggal Penerimaan Surat</strong></td> 
					<td><span class="moment" data-format="dddd, DD MMMM YYYY" data-value="{{letter.receivedDate}}"></td>
					<td style="background-color:#f9f9f9;"><strong>Tanggal Surat</strong></td>
					<td><span class="moment" data-format="dddd, DD MMMM YYYY" data-value="{{letter.date}}"></td>
				</tr>
				<tr>	
					<td style="background-color:#f9f9f9;"><strong>Pengirim</strong></td> 
					<td> 
					  <!-- jika pengirim manual -->
					  {{#letter.senderManual}}
						{{name}}<br/>
						{{organization}}<br/>
						{{address}}<br/>

					  {{/letter.senderManual}}

					  <!-- jika penerima dari db -->
					  {{#letter.sender}}
					  <!-- resolve-name dengan type full akan menampilkan nama, jabatan dan instansi  -->
					  <span class="resolve-name" data-type="full" data-value="{{letter.sender}}">{{letter.sender}}</span>
					  {{/letter.sender}}
					</td>
					<td style="background-color:#f9f9f9;"><strong>Tujuan</strong></td>
					<td> 
					  <!-- jika penerima manual -->
					  {{#letter.recipientManual}}
						{{name}}<br/>
						{{organization}}<br/>
						{{address}}<br/>
					  {{/letter.recipientManual}}

					  <!-- jika penerima dari db -->
					  {{#meta.recipients}}
					  <span class="resolve-name" data-type="full" data-value="{{username}}"></span>
					  {{#read}} <!-- jika sudah terbaca oleh si penerima -->
					  <span class="label label-success">Dibaca: <span class="moment" data-format="dddd, DD MMMM YYYY HH:mm" data-value="{{read}}"></span></span>
					  {{/read}}
					  {{^read}} <!-- jika belum dibaca -->
					  <span class="label label-danger">Belum dibaca</span>
					  {{/read}}
					  {{/meta.recipients}}
					</td>
				</tr>
				<tr>	
					<td style="background-color:#f9f9f9;"><strong>Status</strong></td>
					<td><span class="resolve-letter-data" data-type="status" data-value="{{meta.cycleState}}"></td>
				</tr>				
			</tbody>
		</table>			
	

  {{/meta.incoming}}
  {{#meta.outgoing}}

  <!-- jika surat keluar -->

		<table class="table">
			<tbody>
				<tr>
					<td style="background-color:#f9f9f9;"><strong>Nomor Agenda Surat Keluar</strong></td>
					<td>{{letter.outgoingAgenda}}</td>
					<td style="background-color:#f9f9f9;"><strong>Nomor Surat</strong></td>
					<td>{{letter.mailId}}</td>
				</tr>
				<tr>	 
					<td style="background-color:#f9f9f9;"><strong>Tanggal Penerimaan Surat</strong></td>
					<td><span class="moment" data-format="dddd, DD MMMM YYYY" data-value="{{letter.receivedDate}}"></td>
					<td style="background-color:#f9f9f9;"><strong>Tanggal Surat</strong></td>
					<td><span class="moment" data-format="dddd, DD MMMM YYYY" data-value="{{letter.date}}"></td>
				</tr>
				<tr>
					<td style="background-color:#f9f9f9;"><strong>Pengirim</strong></td>
					<td> 
					  <!-- jika pengirim manual -->
					  {{#letter.senderManual}}
						{{name}}<br/>
						{{organization}}<br/>
						{{address}}<br/>

					  {{/letter.senderManual}}

					  <!-- jika penerima dari db -->
					  {{#letter.sender}}
					  <!-- resolve-name dengan type full akan menampilkan nama, jabatan dan instansi  -->
					  <span class="resolve-name" data-type="full" data-value="{{letter.sender}}">{{letter.sender}}</span>
					  {{/letter.sender}}
					</td>
					<td style="background-color:#f9f9f9;"><strong>Tujuan</strong></td>
					<td>  
					  <!-- jika penerima manual -->
					  {{#letter.recipientManual}}
						{{name}}<br/>
						{{organization}}<br/>
						{{address}}<br/>
					  {{/letter.recipientManual}}

					  <!-- jika penerima dari db -->
					  {{#meta.recipients}}
					  <span class="resolve-name" data-type="full" data-value="{{username}}"></span>
					  {{#read}} <!-- jika sudah terbaca oleh si penerima -->
					  <span class="label label-success">Dibaca: <span class="moment" data-format="dddd, DD MMMM YYYY HH:mm" data-value="{{read}}"></span></span>
					  {{/read}}
					  {{^read}} <!-- jika belum dibaca -->
					  <span class="label label-danger">Belum dibaca</span>
					  {{/read}}
					  {{/meta.recipients}}
					</td>
				</tr>
				<tr>	
					<td style="background-color:#f9f9f9;"><strong>Status</strong></td>
					<td><span class="resolve-letter-data" data-type="status" data-value="{{meta.cycleState}}"></td>
				</tr>
			</tbody>
		</table>			

	 {{^letter.outgoingAgenda}}
    <div class="controls" style="margin-top: 50px;margin-bottom: 50px">
	<h4 class="lighter underline">Pemeriksa surat</h4>
      <div id="reviewers-loading" class="">
        <span class="fa fa-spin fa-spinner"></span> Memuat daftar pemeriksa...
      </div>

      <div class="timeline control line dialogs" id="reviewers-list" data-originator="{{letter.originator}}" data-current="{{letter.currentReviewer}}" data-date="{{letter.creationDate}}" data-readonly="true" data-id="{{letter._id}}" data-sender="{{letter.sender}}" data-status="{{status}}">
        <div class="itemdiv dialogdiv reviewer-item template hidden">
          <div class="user">
            <span class="user contact-avatar timeline comment me " data-username="{{username}}"></span>
          </div>
          <div class="body">
            <div class="step"> </div>
            <div class="name">
              <span class="title resolve-name"></span>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div style="clear: both;"></div>
	 {{/letter.outgoingAgenda}}


  {{/meta.outgoing}}

  {{#content.0}}
	<h4 class="lighter underline">Isi surat</h4>
  <div class="control-group" ng-app="ngWebODF">
    <div class="letter-content-wrapper">
      <webodf readonly="yes" url="/letter/content/{{_id}}" name="odf" ></webodf>
      <a href="/letter/content-pdf/{{_id}}" class="btn btn-info">Cetak</a>
    </div>
  </div>
  {{/content.0}}


	{{#fileAttachments.length}}
	<h4 class="lighter underline">Pindaian</h4>
	<ol>
		{{#fileAttachments}}
		<li>
			<a data-href="/letter/attachment/{{path}}" data-attachment-id="{{path}}" data-letter-id="{{_id}}" class="attachment-preview" 
			{{#allowDisposition}}
    		data-allow-disposition="true"
			{{/allowDisposition}}
            >{{name}}</a>
		</li>
		{{/fileAttachments}}
	</ol>
	{{/fileAttachments.length}}
	
	<br/>
		  
	{{#ccListResolved.length}}

	<table class="table">
		<tbody>
			<tr>
				<td class="span3">Tembusan</td>
				<td class="span9">
					<ol>
						{{#ccListResolved}}
						<li>
							{{name}}<br/> {{title}} {{organization}} (Golongan {{class}}) {{#readDate}}(<span class="label label-success">Dibaca</span>: {{readDate}}){{/readDate}}
						</li>
						{{/ccListResolved}}
					</ol>
				</td>
			</tr>
		</tbody>
	</table>
	{{/ccListResolved.length}}

<hr/>
	
	<table class="table table-bordered">
		<tbody>
			<tr>
				<td class="span4" style="background-color:#f9f9f9;">Jenis Nota Dinas</td>
				<td class="span8">
          <span class="resolve-letter-data" data-type="type" data-value="{{letter.type}}"></span>
				</td>
			</tr>
			<tr>
				<td class="span4" style="background-color:#f9f9f9;">Kecepatan Penyampaian</td>
				<td class="span8">
          <span class="resolve-letter-data" data-value="{{letter.priority}}" data-type="priority"></span>
				</td>
			</tr>
			<tr>
				<td class="span4" style="background-color:#f9f9f9;">Tingkat Keamanan</td>
				<td class="span8">
          <span class="resolve-letter-data" data-value="{{letter.classification}}" data-type="classification"></span>
				</td>
			</tr>
			<tr>
				<td class="span4" style="background-color:#f9f9f9;">Isi Ringkas</td>
				<td class="span8">{{letter.comments}}</td>
			</tr>
		</tbody>
	</table>
	  
{{#isSendingOrganization}}
{{#reviewersResolved.length}}
	<h4 class="lighter underline">Alur Pemeriksaan</h4>
        <div id="reviewers-loading" class="">
          <span class="fa fa-spin fa-spinner"></span> Memuat daftar pemeriksa...
        </div>
        <div class="row-fluid">
          <ul class="wizard-steps" id="reviewers-list" data-originator="{{originator}}" data-current="{{currentReviewer}}" data-date="{{creationDate}}" data-status="{{status}}">
          <li class="template hidden"><span class="step"></span><span class="title"></span></li>
        </ul>

        </div>
<table class="table table-bordered">
	<thead>
		
	</thead>
	<tbody>
		<tr>
			<td class="span6" style="background:#f9f9f9;">Pemeriksa</td>
			<td class="span2" style="background:#f9f9f9;">Status</td>
			<td class="span4" style="background:#f9f9f9;">Pesan</td>
		</tr>
		{{#reviewersResolved}}
		<tr>
			<td class="span6">
			  <span class="add-as-contact contact-avatar" data-username="{{username}}">{{name}}</span><br> {{title}} {{organization}} <br>(Golongan {{class}}) 
			</td>
			<td class="span1">
				{{#approved}}<span class="badge badge-success">Disetujui</span> {{/approved}}
				{{#nextReviewerInLine}}(<i>pemeriksa saat ini</i>){{/nextReviewerInLine}}
				{{#declined}}<span class="badge badge-warning">Ditolak</span>{{/declined}}
				{{#demoted}}<span class="badge badge-important">Batal</span>{{/demoted}}
			</td>
			<td class="span4">
				{{#message}}
				<i>{{message}}</i>
				{{/message}}				
			</td>
		</tr>
		{{/reviewersResolved}}
	</tbody>
</table>
<br>
<br>
{{/reviewersResolved.length}}

	{{#log.length}}


  <h4>Riwayat surat</h4>

	<div class=padding-box>
  <div class="timeline control line comment-list dialogs ">
    {{#letter.log}} 
    <div class="itemdiv dialogdiv">
      <div class="user">
        <span class="user contact-avatar timeline comment me " data-username="{{username}}"></span>
      </div>
      <div class="body">
        <div class="time">
          <span class="moment" data-format="dddd, DD MMMM YYYY HH:MM" data-value="{{date}}">{{date}}</span>
        </div>
        <div class="name">
          <span class="resolve-name">{{username}}</span>
        </div>

        <div class="text">
          {{#message}}
          {{message}}
          {{/message}}
          {{^message}}
          <i style="color:#888">Tidak ada catatan yang diberikan</i>
          {{/message}}
        </div>
      </div>
    </div>
    {{/letter.log}} 
  </div>
  </div>


	{{/log.length}}

{{/isSendingOrganization}}

{{^isSendingOrganization}}
  <H3>Surat Terkait</H3>

    <script>
var letterLinks = [];
{{#links}}
letterLinks.push({
  _id: "{{_id}}",
  title: "{{title}}"
});
{{/links}}
    </script>

    <div class="link-letter" 
         data-initial-data=""
         data-letter-id="{{_id}}"
         data-button-class="btn btn-info btn-small"
         data-title="Kaitkan surat"
         data-loading-label="Memuat data..."
         data-dismiss-label="Batal"
         data-accept-label="Pilih"
         data-can-update="true"
         data-button-update-label="Update"
         data-button-search-label="Cari"
         data-button-outgoing-agenda-label="Agenda Keluar"
         data-button-incoming-agenda-label="Agenda Masuk"
         data-button-dismiss-letter-label="[hapus]"
         data-table-date-label="Tanggal"
         data-table-letter-number-label="Nomor Surat"
         data-table-agenda-label="Nomor Agenda"
         data-table-sender-label="Atas Nama"
         data-table-title-label="Perihal"
         data-button-label="Cari surat untuk dikaitkan..."></div>

  {{#dispositions.length}}
  <hr/>
  <br/>
  <h3>Disposisi</h3>
  {{#dispositions}}
<!--<strong>Tanggal disposisi</strong>: {{formattedDate}}-->
{{#recipients}}

<table class="table table-bordered">
	<tbody>
		<tr>
			<td class="span3" style="background-color:#f9f9f9;">Tanggal Disposisi</td>
			<td class="span3">
				{{formattedDate}}
			</td>

			<td class="span3" style="background-color:#f9f9f9;">Tanggal Selesai</td>
			<td class="span3">
				{{formattedDate}}
			</td>

		</tr>
		<tr>
			<td class="span3" style="background-color:#f9f9f9;">Pengirim</td>
			<td class="span3">
				<span class="resolve-name add-as-contact contact-avatar" data-username="{{sender}}">{{sender}}</span>
			</td>

			<td class="span3" style="background-color:#f9f9f9;">Penerima</td>
			<td class="span3">
				<span class="resolve-name add-as-contact contact-avatar" data-username="{{recipient}}">{{recipient}}</span><br/>
  				{{#readDate}}(<span class="label label-success">dibaca</span>: {{readDate}}){{/readDate}}
  				<br/>
  				{{#followedUpDate}}(<span class="label label-success">ditanggapi</span>: {{followedUpDate}}){{/followedUpDate}}
 				 <br/>
  				{{#followedUpLetter}}Tanggapan: <a class="btn" href="/letter/read/{{followedUpLetter}}">Baca</a>{{/followedUpLetter}}
			</td>
		</tr>
		<tr>
			<td class="span3" style="background-color:#f9f9f9;">Tingkat Keamanan</td>
			<td class="span3">
				{{#security0}}<span class="label label-success">Biasa</span>{{/security0}}
			    {{#security1}}<span class="label label-warning">Rahasia</span>{{/security1}}
			    {{#security2}}<span class="label label-important">Sangat Rahasia &nbsp;<i class="icon-warning-sign icon-white"></i></span>{{/security2}} &nbsp;
			</td>

			<td class="span3" style="background-color:#f9f9f9;">Kecepatan Penyampaian</td>
			<td class="span3">
				{{#priority0}}<span class="label label-success">Biasa</span>{{/priority0}}
		        {{#priority1}}<span class="label label-warning">Segera</span>{{/priority1}}
		        {{#priority2}}<span class="label label-important">Amat Segera</span>{{/priority2}} &nbsp;
			</td>
		</tr>
		<tr>
			<td class="span3" style="background-color:#f9f9f9;">Instruksi</td>
			<td class="span3">
				{{#instruction0}}Jawaban{{/instruction0}}
		        {{#instruction1}}Diketahui{{/instruction1}}
		        {{#instruction2}}Diperhatikan{{/instruction2}}
		        {{#instruction3}}Diwakili{{/instruction3}}
			</td>

			<td class="span3" style="background-color:#f9f9f9;">Pesan</td>
			<td class="span3">
				{{message}}
			</td>
		</tr>
	</tbody>
</table>

{{/recipients}}
{{/dispositions}}
{{/dispositions.length}}


{{/isSendingOrganization}}
</div>
<br>
<br>

{{/letter}}

	{{#canRejectIncomingLetter}}
  <div id="reject-letter-dialog" class="modal hide fade">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3><span class="reject-letter"></span></h3>
    </div>
    <div class="modal-body">
    Silakan tulis alasan penolakan 
    <br/>
    <textarea id="rejection-reason" class=span8></textarea>
    </div>
    <div class="modal-footer">
    <a href="#" data-dismiss="modal" class="btn">Batal</a>
    <a id="btn-confirm-reject" href="#" class="btn btn-primary">Tolak Surat</a>
    </div>
  </div>
  <script>
  $("#btn-reject").click(function() {
    $("#reject-letter-dialog").modal();
  });

  $("#btn-confirm-reject").click(function() {
    var data = {
      id: '{{_id}}',
      reason: $("#rejection-reason").val()
    };
    $.post("/letter/reject", data,
    function(data) {
      document.location='/incoming';
    })

  });
  </script>
	{{/canRejectIncomingLetter}}


<div class="add-as-contact-dialog hidden">
  Tambahkan <strong><span id="contact-name"></span></strong> ke daftar kontak:
  <br/>
  <textarea id="add-new-contact-text" placeholder="Tambahkan pesan di sini..."></textarea>
  <br/>
  <button class="btn btn-primary" id="add-as-contact-submit">Ya</button>
  <button class="btn btn-primary" id="add-as-contact-cancel">Tidak</button>
</div>
<script type="text/javascript" src="/lib/angular+webodf.js"></script>
<script type="text/javascript" src="/lib/angular-webodf.js"></script>
<script type="text/javascript" src="/lib/moment.min.js"></script>
<script type="text/javascript" src="/js/moment.js"></script>
<script src='/js/resolve-name.js'></script>
<script src='/js/attachment-preview.js'></script>
<script src='/js/contacts.js'></script>
<script type="text/javascript" src="/js/reviewer-list.js"></script>
<script type="text/javascript" src="/js/letter-data.js"></script>
<script type="text/javascript" src="/js/pagination.js"></script>
<script type="text/javascript" src="/js/link-letter.js"></script>
<script>
  $(document).ready(function() {
    letterLinks = letterLinks || [];
    $(".link-letter").linkLetter(letterLinks);
  });
</script>
