<!--page specific plugin styles-->
<link rel="stylesheet" href="/css/jqtree.css"/>
<link rel="stylesheet" href="/js/chosen/chosen.css"/>
<!--fonts-->


<!-- Page heading -->
<div class="page-head">
  <!-- Page heading -->
  <h2 class="">Instansi</h2>


  <!-- Breadcrumb -->
</div>
<!-- Page heading ends -->


<!-- Matter -->

<div class="matter" style="margin-bottom: 200px">
  <div class="container-fluid">

    <div class="alert alert-error" style="display: none;">
      Maaf, tidak dapat menyimpan/menghapus organisasi
    </div>

    <div class="organization-selection" data-spy="affix" data-offset-top="5" data-offset-bottom="200">
      <div class="well" style="margin: 5px">
        <div class="input-append row-fluid">
          <div class="span5">
            <input id="search-organization" type="text" class="span6" placeholder="Pencarian">
          </div>
          <!--{{^localAdmin}}-->
          <div class="span6">
            <label class="control-label" for="profile[organization]">Instansi</label>

            <div class="controls">
              <select id="organization-list" class="span6" name="profile[organization]"
                                                           data-value="{{profile.organization}}">
              </select>
            </div>
          </div>
          <!--//{{/localAdmin}}-->
        </div>

      </div>

      <div class="well organization-head-not-available hidden" style="margin: 5px">
        Tidak ada kepala instansi yang dapat dipilih, silakan setel instansi pada pengguna yang ingin dimasukkan ke dalam instansi ini terlebih dahulu.
      </div>
      <div class="well organization-head-table hidden" style="margin: 5px">
        <div class="btn pull-right" id="btn-head-selection-dismiss">Sembunyikan</div>
        <div class="btn pull-right hidden" id="btn-head-selection-show">Tampilkan</div>
        Silakan pilih kepala instansi dengan memilih instansi yang diinginkan di bawah ini.
        <span id="organization-head-loading" class="hidden">
          <span class="fa fa-spin fa-spinner"></span>
        </span>
        <div id="organization-head-selection" style="margin-top:15px" class="hidden" >
          <ul id="organization-head-selection-list" class="nav nav-tabs nav-stacked">
            <li id="organization-head-selection-item-template" class="hidden"><a ></a></li> 
          </ul>
          <span id="organization-head-label" class="label label-success hidden pull-right">Kepala &nbsp;&nbsp;&nbsp;<span onMouseOut="this.style.color='#FFF'" onMouseOver="this.style.color='#F00'" class="fa fa-times" id="organization-head-remove"></span></span>
          <button id="organization-head-button-save" class="btn hidden">
            <span id="organization-head-button-save-loading" class="fa fa-spin fa-spinner hidden"></span>
            Simpan
          </button>
        </div>
      </div>
      <div class="well hidden" id="move-organization-control" style="margin: 5px">
        Silakan pilih struktur induk baru ke mana struktur yang tadi dipilih untuk dipindahkan, kemudian pilih salah satu tombol di bawah ini untuk melanjutkan<br/><br>
        <a href="#" class="btn btn-danger" id="btn-move-organization-apply"  disabled>Pindah struktur</a>
        <a href="#" class="btn btn-success" id="btn-move-organization-cancel">Batalkan pemindahan</a>
        <br/>
        <b>Perhatian</b>: Proses pemindahan akan dilakukan dalam antrian dan tidak langsung nampak dalam halaman ini.
      </div>

      <div class="well hidden" id="move-organization-status" style="margin: 5px">
        <b>Perhatian</b>: Proses pemindahan sedang dilakukan. Silakan periksa kembali halaman ini dalam 10 menit. 
      </div>

      <div class="well " id="tree-selection-control" style="margin: 5px">
        <a href="#" class="btn" id="btn-move-organization" disabled>Pindah struktur</a>
        <a href="#" class="btn" id="btn-new-organization">Tambah struktur</a>
        <a href="#" disabled class="btn" id="btn-edit-organization">Ubah struktur</a>
        <a href="#" disabled class="btn btn-danger" id="btn-remove-organization">Hapus struktur</a>
      </div>

      <div class="clearfix"></div>


    </div>

    <div style="margin: 5px">
      <div class="widget-box span8">
        <div class="widget-body">
          <div class="widget-main padding-8" id="tree-parent">
            <div id="org-root" class="tree"></div>
          </div>
        </div>
      </div>
    </div>

    <div id="new-organization-dialog" class="modal hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3><span class="new-organization"></span></h3>
      </div>
      <div class="modal-body">
        Buat instansi baru di bawah instansi <b><span class="new-organization"></span></b>
        <br/>
        <input type=text id="new-organization-name" class="span4">
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn">Tutup</a>
        <a id="btn-save-organization" href="#" class="btn btn-primary">Simpan</a>
      </div>
    </div>

    <div id="edit-organization-dialog" class="modal hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3><span class="edit-organization"></span></h3>
      </div>
      <div class="modal-body">
        Ubah nama instansi <b><span class="edit-organization"></span></b> menjadi
        <br/>
        <input type=text id="edit-organization-name" class="span4">
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn">Tutup</a>
        <button id="btn-save-edit-organization" href="#" class="btn btn-primary"><i class="icon-cog icon-spin"
                                                                                    style="display:none"></i> Ubah
        </button>
      </div>
    </div>

    <div id="remove-organization-dialog" class="modal hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3><span class="remove-organization"></span></h3>
      </div>
      <div class="modal-body">
        Benar ingin menghapus instansi <b><span class="remove-organization"></span></b>?
        <br/>
        <input type=hidden id="remove-organization-name" class="span4">
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn">Batal</a>
        <a id="btn-save-remove-organization" href="#" class="btn btn-danger">Ya, hapus</a>
      </div>
    </div>

  </div>
</div> <!-- Matter -->


<script>
$(document).ready(function () {
  <!--Classes-->
    String.prototype.endsWith = function (suffix) {
      if (this.length < suffix.length)
        return false;
      return this.lastIndexOf(suffix) === this.length - suffix.length;
    };


  // Builds search data; vals.paths is rendered in page, then parsed as object
  // Accept String parameter.
  function buildTreeData(rawData) {
    if (_.isEmpty(rawData) || rawData === "[]") {
      return null;
    }
    var data = JSON.parse(rawData.replace(/&quot;/g, '"').replace(/&amp;/g, '&').replace(/&#39;/g, "'"));

    data = _.sortBy(data, function (node) {//Sort Base on Path, so parent must be in the previous index
      return node.path;
    });

    //First element after sort must be root

    var root = data[0];

    _.each(data, function (node, index) {

      var paths = node.path.split(";");
      node.id = node._id;
      node.children = [];
      node.name = _.last(paths);
      node.type = "item";
      node.parent = undefined;

      //Fix bug when path ends with ';'
      if (_.isEmpty(node.name) && !_.isEmpty(node.path) && node.path.endsWith(";")) {
        node.path = node.path.replace(/;$/, "");
        paths = node.path.split(";");
        node.name = _.last(paths);
      }

      if (node.path !== root.path) {
        var initialPaths = _.initial(paths);
        for (var i = index - 1; i >= 0; i--) {//Iterate previous nodes
          var parent = data[i];

          if (parent) {
            var parentPath = parent.path.split(";");
            if (_.isEqual(initialPaths, parentPath) || (parent._id === root._id)) {
              parent.children.push(node);
              node.parent = parent;
              parent.type = "folder";
              break;
            }
          }
        }
      }

    });
    return  root;
  }


  // The search function, recursively search tree
  function search(node, searchKey) {

    function searchInner(node, searchKey) {
      var show = false;
      _.forEach(node.children, function (item) {
        var result = searchInner(item, searchKey);
        if (result === true) {
          show = true;
        }
      });

      if (show) {
        return true;
      } else {
        var found = node.path.trim().toLowerCase().indexOf(searchKey.trim().toLowerCase()) !== -1;
        if (found) {
          return true;
        } else {
          node.parent.children = _.reject(node.parent.children, function (item) {
            return item._id === node._id;
          });
          node.parent = undefined;
          return false;
        }

      }

    }

    _.forEach(node.children, function (item) {
      searchInner(item, searchKey);
    });

    return node;
  }


  <!--Variables-->
    var selectedPath = "";
  var selectedId = "";
  var selectedName = "";
  var rawData = "";

  //{{#localAdmin}}
  rawData = "{{ paths }}";
  //{{/localAdmin}}

  var root = buildTreeData(rawData) || { name: "*", parent: undefined, type: "folder", path: "", id: -1};
  var db = root.name ? [root] : root.children;

  $("#org-root").tree({
    data: db,
    autoOpen: true,
    dragAndDrop:false,
    onCreateLi: function(node, $li) {
      var title = $li.find(".jqtree-title");
      title.attr("data-id", node._id);
    }
    
  });
  <!--UI Related Functions -->

    function showError() {
      $('.alert').show();
    }


  //{{^localAdmin}}
  function buildOrganizationChosen() {

    var url = "/findOrg?onlyFirstLevel=1";
    var defaultSelection = false;

    var orgList = $('select[name="profile[organization]"]');
    if (defaultSelection == false) {
      var opt = $("<option>").attr("value", "").text("Pilih instansi di bawah");
      orgList.append(opt);
    }

    $.ajax({
      url: url,
      context: document.body,
      dataType: 'json'
    }).done(function (data) {
      data.forEach(function (item) {
        p = item.path;
        var start = 0;
        var numSpan = "⊢";
        while (true) {
          var i = p.indexOf(';', start);
          if (i == -1)
            break;

          numSpan = numSpan + "―";
          start = i + 1;
        }
        var selected = (orgList.attr("data-value") == item.path)
          var opt = $("<option>")
          .attr("value", item.path)
          .text(numSpan + " " + item.name)
          .attr("selected", selected)

          orgList.append(opt);

      });
      orgList.chosen({search_contains: true});
    });

  }

  buildOrganizationChosen();

  $('select[name="profile[organization]"]').on("change", function (self, data) {

    loadUsers("-");
    var url = "/organization/jview/?includeParent=true&includeChildren=true&path=" + data.selected;
    $.ajax({
      headers: {
        Accept: "application/json; charset=utf-8",
        "Content-Type": "application/json; charset=utf-8"
      },
      url: url,
      dataType: 'json'
    }).done(function (data) {
      rawData = JSON.stringify(data);
      if (_.isEmpty(rawData) || rawData === "[]") {
        $("#org-root").tree("loadData", [
            { name: "*", parent: undefined, type: "folder", path: "", id: -1}
        ]);
      } else {
        var rootSelect = buildTreeData(rawData) || { name: "*", parent: undefined, type: "folder", path: "", id: -1};
        $("#org-root").tree("loadData", [rootSelect]);
      }
    });

  });


  //{{/localAdmin}}
  var removingHead = false;
  $("#organization-head-remove").click(function(e) {
    removingHead = true;
    $("#organization-head-selection").attr("data-head", "")
      $("#organization-head-button-save").removeClass("hidden");
    $("#organization-head-label").addClass("hidden");
    setTimeout(function() {
      removingHead = false;
    }, 1000);
    e.preventDefault();
  });

  var headSelectionDismiss = $("#btn-head-selection-dismiss");
  var headSelectionShow = $("#btn-head-selection-show");
  var headSelection = $("#organization-head-selection");
  var btnMoveApply = $("#btn-move-organization-apply");

  btnMoveApply.click(function() {
    var node = destinationNode;
    console.log(node);
    if (node && sourceNode) {
      var data = {
        operation: "move",
        source: sourceNode.path,
        destination: node.path
      }
      $.ajax({
        url: "/organization/edit",
        type: "POST",
        dataType: "json",
        data: data
      });
    }

    selectingToMove = false;
    $("[data-id=" + sourceNode.id + "]").removeClass("source-node");
    sourceNode = null;
    tree.tree("selectNode", null);
    $("#move-organization-control").addClass("hidden");
    $("#tree-selection-control").removeClass("hidden");
    treeSelected(new Event("reset"));
    $("#move-organization-status").removeClass("hidden");
    
  });

  var hideSelection = function() {
    headSelectionShow.removeClass("hidden");
    headSelectionDismiss.addClass("hidden");
    headSelection.addClass("hidden");
  }
  var showSelection = function() {
    headSelectionShow.addClass("hidden");
    headSelectionDismiss.removeClass("hidden");
    headSelection.removeClass("hidden");
  }

  headSelectionDismiss.click(hideSelection);
  headSelectionShow.click(showSelection);

  var loadUsers = function(org) {

    $(".organization-head-table").removeClass("hidden");
    $("#organization-head-selection").attr("data-path", org);
    $("#organization-head-button-save").addClass("hidden");

    var resetBadge = function() {
      $badge = $("#organization-head-label");
      $badge.addClass("hidden");
      $("#organization-head-selection").append($badge);
    }

    var updateHead = function() {
      var head = $("#organization-head-selection").attr("data-head");
      $("#organization-head-button-save-loading").removeClass("hidden");

      var type = "POST";
      if (head == "") type = "DELETE";
      $.ajax({
        {{#localAdmin}}
        url: "/localadmin/head-in-org",
        {{/localAdmin}}
        {{^localAdmin}}
        url: "/admin/head-in-org",
        {{/localAdmin}}
        type: type,
        dataType: "json",
        data: {
          path: $("#organization-head-selection").attr("data-path"),
          head: $("#organization-head-selection").attr("data-head")
        },
        error: function () {
          $("#organization-head-button-save-loading").addClass("hidden");
        },
        success: function (data) {
          $("#organization-head-button-save-loading").addClass("hidden");
          $("#organization-head-button-save").addClass("hidden");
        }
      });
    }

    $("#organization-head-button-save").unbind();
    $("#organization-head-button-save").click(function(e) {
      e.preventDefault();
      if ($("#organization-head-label").hasClass("hidden")) {
        $("#organization-head-selection").attr("data-head", "")
      };
      updateHead();
    });

    var populate = function(data) {
      $("#organization-head-loading").addClass("hidden");
      if (data && data.length > 0) {
        resetBadge();
        $(".organization-head-not-available").addClass("hidden");
        $("#organization-head-selection").removeClass("hidden");
        $("#organization-head-selection-list").children(":not(.hidden)").unbind();
        $("#organization-head-selection-list").children(":not(.hidden)").remove();
        var head = $("#organization-head-selection").attr("data-head");
        for (var i = 0; i < data.length; i ++) {
          var item = data[i];
          var $item = $("li#organization-head-selection-item-template").clone();
          $item.removeClass("hidden");
          $item.attr("id","");
          var $input = $item.find("a");
          $input.attr("username", item.username);
          $input.text(item.fullName + " (" + item.title + ")");
          $("#organization-head-selection-list").append($item);

          if (head == item.username) {
            $badge = $("#organization-head-label");
            $badge.removeClass("hidden");
            $badge.appendTo($input);
          }
          $input.click(function() {
            if (removingHead) return;
            $badge = $("#organization-head-label");
            $badge.removeClass("hidden");
            $badge.appendTo($(this));
            $("#organization-head-button-save").removeClass("hidden"); 

            $("#organization-head-selection").attr("data-head", $(this).attr("username"));
          });
        }
      } else {
        resetBadge();
        $(".organization-head-not-available").removeClass("hidden");
        $("#organization-head-selection").attr("data-head", "");
        $("#organization-head-selection-list").children(":not(.hidden)").remove();
        $(".organization-head-table").addClass("hidden");
      }

    }

    $("#organization-head-loading").removeClass("hidden");
    $(".organization-head-not-available").addClass("hidden");
    $.ajax({
      {{#localAdmin}}
      url: "/localadmin/user-in-org?org=" + org,
      {{/localAdmin}}
      {{^localAdmin}}
      url: "/admin/user-in-org?org=" + org,
      {{/localAdmin}}
      type: "GET",
      dataType: "json",
      error: function () {
        $("#organization-head-loading").addClass("hidden");
        $("#organization-head-selection")
          .addClass("hidden")
          .attr("data-head", undefined);
      },
      success: function (data) {
        $("#organization-head-selection").attr("data-head", data.head);
        if (data && data.users) {
          $(".organization-head-table").removeClass("hidden");
          populate(data.users);
          showSelection();
        } else {
          $(".organization-head-table").addClass("hidden");
        }
      }
    });
  }

  var sourceNode;
  var selectingToMove = false;

  var startSelectingToMove = function() {
    var node = sourceNode; 
    if (node) {
      btnMoveApply.attr("disabled", true);
      $("#move-organization-control").removeClass("hidden");
      $("#tree-selection-control").addClass("hidden");
      $("[data-id=" + node.id + "]").addClass("source-node");
      selectingToMove = true;
    } else {
      cancelSelectingToMove();
    }
  }

  var cancelSelectingToMove = function() {
    $("#move-organization-control").addClass("hidden");
    $("#tree-selection-control").removeClass("hidden");
    var node = sourceNode; 
    selectingToMove = false;
    if (node) {
      $("[data-id=" + node.id + "]").removeClass("source-node");
    }
  }

  $("#btn-move-organization").click(function() {
    startSelectingToMove();
  });

  $("#btn-move-organization-cancel").click(function() {
    cancelSelectingToMove();
  });

  var treeSelected = function(event) {
    $("#move-organization-status").addClass("hidden");
    event.preventDefault();
    if (selectingToMove) {
      btnMoveApply.attr("disabled", true);
    }
    if (event.node) {
      var node = event.node;
      if (sourceNode && sourceNode.id == node.id) {
        return;
      }
      selectedPath = node.path;
      selectedId = node.id;
      selectedName = node.name;

      $("#btn-move-organization").attr("disabled", false);
      $("#btn-edit-organization").attr("disabled", false);
      $("#btn-remove-organization").attr("disabled", false);
      loadUsers(selectedPath);
      if (selectingToMove) {
        if (sourceNode) {
          btnMoveApply.attr("disabled", false);
          destinationNode = event.node;
        }
      } else {
        sourceNode = event.node;
      }
      tree.tree("selectNode", event.node);
      console.log(tree.tree("selectedNode"), event.node);
    }
    else {
      tree.tree("selectNode", null);
      selectedPath = "";
      selectedId = "";
      selectedName = "";
      if (!selectingToMove) {
        sourceNode = null;
      } else {
        destinationNode = null;
      }

      $("#btn-move-organization").attr("disabled", true);
      $("#btn-edit-organization").attr("disabled", true);
      $("#btn-remove-organization").attr("disabled", true);
    }
  }

  var tree = $("#org-root");
  tree.bind(
      'tree.select',
      treeSelected
  );


  $("#btn-save-organization").click(function (e) {
    e.preventDefault();
    $('alert').hide();
    if (!_.isEmpty($("#new-organization-name").val()) && !_.isEmpty($("#new-organization-name").val().trim())) {
      var data = {
        parent: selectedPath,
        name: $("#new-organization-name").val().trim()
      };

      $.ajax({
        url: "/organization/new",
        type: "POST",
        dataType: "json",
        data: data,
        error: function () {
          showError();
          $("#new-organization-dialog").modal('hide');
        },
        success: function (data) {
          if (data.unsuccessful) {
            showError();
          } else {
            window.location.reload();//TODO change to async tree reload
          }
          $("#new-organization-dialog").modal('hide');
        }
      });
    } else {
      $("#new-organization-name").addClass("input-has-error", 1000, "easeOutBounce");
    }
  });

  $("#btn-save-edit-organization").click(function (e) {
    e.preventDefault();
    $('alert').hide();
    if (!_.isEmpty($("#edit-organization-name").val()) && !_.isEmpty($("#edit-organization-name").val().trim())) {
      $(this).find("i").css("display", "inherit");
      $(this).prop("disabled", "true");
      var oldPath = selectedPath;
      var i = oldPath.lastIndexOf(';');
      if (i > 0) {
        var parent = oldPath.substring(0, i);
      } else {
        var parent = '';
      }

      var data = {
        oldPath: oldPath,
        parent: parent,
        name: $("#edit-organization-name").val().trim(),
        edit: true
      };

      $.ajax({
        url: "/organization/edit",
        type: "POST",
        dataType: "json",
        data: data,
        error: function () {
          showError();
          $("#new-organization-dialog").modal('hide');
        },
        success: function (data) {
          if (data.unsuccessful) {
            showError();
          } else {
            window.location.reload();//TODO change to async tree reload
          }
          $("#new-organization-dialog").modal('hide');
        }
      });
    } else {
      $("#edit-organization-name").addClass("input-has-error", 1000, "easeOutBounce");
    }
  });

  $("#btn-save-remove-organization").click(function (e) {
    e.preventDefault();
    var path = selectedPath;
    var data = {
      path: path
    };
    $.post("/organization/remove?json=true", data,
        function (data) {
          if (data.success) {
            window.location.reload();
            $("#search-organization").val("");
          } else {
            showError();
          }
        });
    $("#remove-organization-dialog").modal('hide');
  });

  $("#btn-new-organization").click(function (e) {
    e.preventDefault();
    if (selectedId != "") {
      var text = selectedName;
    } else {
      var text = "{{name}}" || "Induk";

    }
    $(".new-organization").text(text);
    $("#new-organization-dialog").modal();
  });

  $("#btn-remove-organization").click(function (e) {
    e.preventDefault();
    if (selectedId != "") {
      var text = selectedName;
    } else {
      return;
    }
    $(".remove-organization").text(text);
    $("#remove-organization-dialog").modal();
  });

  $("#btn-edit-organization").click(function (e) {
    e.preventDefault();
    if (selectedId != "") {
      var text = selectedName;
    } else {
      return;
    }
    $(".edit-organization").text(text);
    $("#edit-organization-dialog").modal();
  });


  $("#search-organization").keyup(function (e) {
    e.preventDefault();
    selectedPath = "";
    selectedId = "";
    selectedName = "";

    $("#btn-edit-organization").attr("disabled", true)
      $("#btn-remove-organization").attr("disabled", true)
  });

  var searchKey = $("#search-organization").val();

  $('.alert').hide();


  function createJob() {
    return  setTimeout(function () {
      var newSearchKey = $("#search-organization").val();
      if (searchKey !== newSearchKey) {
        searchKey = newSearchKey;
        var searchResult = search(buildTreeData(rawData), searchKey);
        $("#org-root").tree("loadData", searchResult.name ? [searchResult] : searchResult.children);
      }
    }, 500);
  }


  var job = createJob();

  $("#search-organization").on("keyup", function (evt) {
    clearTimeout(job);
    job = createJob();
  });


});

</script>

<!-- page specific plugin scripts -->
<script src="/lib/tree.jquery.js"></script>
<script type="text/javascript" src="/js/chosen/chosen.jquery.js"></script>
<!--ace scripts-->
