<h2>Ubah password {{username}}</h2>
{{#unsuccessful}}
<div class="alert alert-error">
<b>Maaf</b><br/>
{{#noSuchUser}}
Nama pengguna <b>{{username}}</b> tidak ditemukan.
{{/noSuchUser}}
{{#passwordUnconfirmed}}
Kata sandi Anda tidak dapat dikonfirmasi 
{{/passwordUnconfirmed}}

{{#invalidPassword}}
Kata sandi Anda terlalu mudah. 
{{/invalidPassword}}


{{#errors.username}}
{{errors.username}}
{{/errors.username}}

{{#errors.password}}
{{errors.password}}
{{/errors.password}}
</div>
{{/unsuccessful}}
{{#successful}}
<div class="alert alert-success">
<b>Terima kasih</b><br/>
Data {{username}} tersimpan.
</div>
{{/successful}}
{{#form}}
<form class="well form-horizontal" action=/profile/change-password method=post>
<input type=hidden name="username" value="{{username}}" />
  <p>Anda dapat mengubah kata sandi {{username}} dengan cara mengetikkan kata sandi baru, diikuti dengan kata sandi yang sama untuk konfirmasi pada form di bawah.</p>
  
  <fieldset>
    <div class="control-group">
      <label class="control-label" for="password">Kata sandi</label>
      <div class="controls">
        <input type="password" class="span3" name="password">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="password2">Konfirmasi Kata sandi</label>
      <div class="controls">
        <input type="password" class="span3" name="password2">
      </div>
    </div>
    <input type=submit name=saveAndClose class="btn btn-primary" value="Simpan dan tutup"/>
  </fieldset>

</form>

{{/form}}
