
<link href="/css/calendar.css" rel="stylesheet" />
<script src='/js/calendar-picker.js'></script>
<script src='/js/jquery.upload-1.0.2.min.js'></script>
<!--custom styles for chosen -->
<style>
.chosen-container {
  width:350px!important;
}
</style>
<div id="add-event-dialog" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Acara baru <span id="dialog-event-date-text"></span></h3>
  </div>
  <div class="modal-body">
    <div class="alert alert-error hidden">
      <span class="hidden error-message" id="error-date-sequence">Waktu akhir lebih awal dari waktu mulai</span>
      <span class="hidden error-message" id="error-incomplete">Data tidak lengkap diisi</span>
      <span class="hidden error-message" id="error-system">Ada kesalahan sistem:</span><span class="hidden error-message" id="system-message"></span>
    </div>
  <form class="userform well form-horizontal" action=/calendar/new id="main-form" enctype="multipart/form-data" method=post>
    <div id="form">
  <fieldset>
  <div class="control-group">
      <label class="control-label" for="title">Judul</label>
      <div class="controls">
         <input class="span1" type=hidden name="id" value="" />
         <input class="span3" type=text name="title" value="" />
      </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="calendar-recipients">Penerima</label>
      <div class="controls">
        <!--input type="hidden" id="letter-recipients" name="recipients" value="{{letter.recipients}}"-->
        <input type="hidden" id="calendar-recipients" name="recipients" value="">
        <div id="calendar-recipient-placeholder"><span class="label label-important data-empty"></span><span class="data-value"></span></div>
        <div href="#" data-placeholder="calendar-recipient-placeholder" data-control="calendar-recipients" data-type="calendar" class="name-chooser" data-label-choose="Pilih" data-label-cancel="Batal" data-label="Ambil dari pangkalan data" data-class="btn btn-mini" data-label-loading="Memuat data..." data-enable-manual="false" data-add-manual-label="Tambahkan data manual" data-enable-multiple-in-a-selection=true></div>
        </div>
    
  </div>

  <div class="control-group">
      <label class="control-label" for="start-hours">Mulai</label>
      <div class="controls">

        <input class="span2" type="text" value="" id="start-date" name="startDate">
        <span class="add-on"><i class="icon-calendar calendar-picker" data-id="start-date" data-format="dd/MM/yyyy"></i></span>
        <select class="span1 span75px calendar-timepicker" name="startTime" id="start-time"></select>
      </div>
  </div>
  <div class="control-group">
      <label class="control-label" for="end-hours">Berakhir</label>
      <div class="controls">
        <input class="span2" type="text" value="" id="end-date" name="endDate">
        <span class="add-on"><i class="icon-calendar calendar-picker" data-id="end-date" data-format="dd/MM/yyyy"></i></span>
        <select class="span1 span75px calendar-timepicker" name="endTime" id="end-time"></select>
      </div>
  </div>
  <div class="control-group">
      <label class="control-label" for="visibility">Status</label>
      <div class="controls">
         <select name="status" class="span1 span100px">
           <option value="0">Sibuk</option>
           <option value="1">Di luar kantor</option>
         </select>
         Tampilkan
         <select name="visibility" class="span1 span100px">
           <option value="0">Privat</option>
           <option value="1">Publik</option>
         </select>
      </div>
  </div>
  <div class="control-group">
      <label class="control-label" for="recurrence">Perulangan</label>
      <div class="controls">
         <select name="recurrence" class="span2">
           <option value="0">Tidak berulang</option>
           <option value="1">Harian</option>
           <option value="2">Mingguan</option>
           <option value="3">Bulanan</option>
         </select>
      </div>

  </div>
  <div class="control-group">
      <label class="control-label" for="reminder">Pengingat</label>
      <div class="controls">
         <select name="reminder" class="span2">
           <option value="0">Tidak perlu</option>
           <option value="5">5 menit sebelumnya</option>
           <option value="15">15 menit sebelumnya</option>
           <option value="60">1 jam sebelumnya</option>
           <option value="1440">1 hari sebelumnya</option>
         </select>
      </div>
  </div>

  <div class="control-group">
    <label class="control-label">Lampiran</label>
    <div class="controls">
      <ul class="hidden">
            <li> <a href="/letter/attachment/{{id}}" class="attachment-preview">{{name}}</a>
      </ul>
      <input type="file" name="fileAttachments" multiple="multiple">
    </div>
  </div>
   <div class="control-group">
      <label class="control-label" for="username">Deskripsi</label>
      <div class="controls">
        <textarea name="description"></textarea>
      </div>
  </div>


  </fieldset>
</div>
</form>

  </div>
  <div class="modal-footer">
    <a href="#" data-dismiss="modal" class="btn btn-primary">Batal</a>
    <a id="add-event-button-remove" href="#" class="btn btn-danger">Hapus</a>
    <a id="add-event-button-ok" href="#" class="btn btn-warning">Simpan</a>
  </div>
</div>

<div id="view-event-dialog" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Acara <span id="event-view-title"></span></h3>
    <span class="hidden" id="event-view-id"></span>
  </div>
  <div class="modal-body">
    <dl id="event-view-recipients-container">
      <dt>Pengundang</dt>
      <dd>
        <span id="event-view-invitor" class="resolve-name"></span>
      </dd>

      <dt>Undangan</dt>
      <dd>
        <ul id="event-view-recipients" data-values="">
        </ul>
      </dd>
    </dl>
    <dl>
      <dt>Mulai</dt>
      <dd>
        <span id="event-view-start"></span>
      </dd>
    </dl>

    <dl>
      <dt>Berakhir</dt>
      <dd>
        <span id="event-view-end"></span>
      </dd>
    </dl>
    <dl>
      <dt>Status</dt>
      <dd>
        <span id="event-view-status-0" class="selection" data-value="0">Sibuk</span>
        <span id="event-view-status-1" class="selection" data-value="1">Di luar kantor</span>
      </dd>
    </dl>

    <dl>
      <dt>Tampil di</dt>
      <dd>
        <span id="event-view-visibility-0" class="selection" data-value="0">Privat</span>
        <span id="event-view-visibility-1" class="selection" data-value="1">Publik</span>
      </dd>
    </dl>

    <dl>
      <dt>Perulangan</dt>
      <dd>
        <span class="selection" id="event-view-recurrence-0" data-value="0">Tidak berulang</span>
        <span class="selection" id="event-view-recurrence-1" data-value="1">Harian</span>
        <span class="selection" id="event-view-recurrence-2" data-value="2">Mingguan</span>
        <span class="selection" id="event-view-recurrence-3" data-value="3">Bulanan</span>
      </dd>
    </dl>

    <dl>
      <dt>Pengingat</dt>
      <dd>
         <span class="selection" id="event-view-reminder-0" data-value="0">Tidak perlu</span>
         <span class="selection" id="event-view-reminder-5" data-value="5">5 menit sebelumnya</span>
         <span class="selection" id="event-view-reminder-15" data-value="15">15 menit sebelumnya</span>
         <span class="selection" id="event-view-reminder-60" data-value="60">1 jam sebelumnya</span>
         <span class="selection" id="event-view-reminder-1440" data-value="1440">1 hari sebelumnya</span>
      </dd>
    </dl>

    <dl>
      <dt>Deskripsi</dt>
      <dd>
         <span id="event-view-description"></span>
      </dd>
   </dl>

    <dl class="control-group hidden" id="event-view-attachments-container">
      <dt>Lampiran</dt>
      <dd>
         <ul id="event-view-attachments"></ul>
      </dd>
    </dl>

  </div>
  <div class="modal-footer hidden" id="event-accept-decline-buttons">
    <a href="#" data-dismiss="modal" class="btn btn-primary">Tutup</a>
    <a id="edit-event-button-decline" href="#" class="btn btn-danger">Tolak</a>
    <a id="edit-event-button-accept" href="#" class="btn btn-success">Terima</a>
  </div>
  <div class="modal-footer hidden" id="event-close-buttons">
    <a href="#" data-dismiss="modal" class="btn btn-primary">Tutup</a>
  </div>
  <div class="modal-footer hidden" id="event-cancel-buttons">
    <a href="#" data-dismiss="modal" class="btn btn-primary">Tutup</a>
    <a id="edit-event-button-cancel" href="#" class="btn btn-danger">Batalkan</a>
  </div>
  <div class="modal-footer hidden" id="event-change-buttons">
    <a href="#" data-dismiss="modal" class="btn btn-primary">Tutup</a>
    <a id="edit-event-button-ok" href="#" class="btn btn-warning">Ubah</a>
  </div>
</div>
